<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title class="d-inline-flex align-center">
        <span class="ait-lookup-person2-fio">{{ fio }}</span>
        <ait-date-field
          :item="item.birthDate"
          age
          class="ml-2 ait-lookup-person2-birthdate"
        />
        <ait-ref-dict-field
          class="ml-2 ait-lookup-person2-igender"
          :item="item"
          reftype="gender"
          source="genderId"
          view="icon"
        ></ait-ref-dict-field>
      </v-list-item-title>
      <v-list-item-subtitle>
        <!-- <EmpOrgUnit
          :item="item"
          :show-post="showPost"
          :show-org-unit="showOrgUnit"
          :show-dates="showDates"
        /> -->
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action> </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  components: {},
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    }
  }
};
</script>

<style>
.ait-lookup-person2-fio {
  font-weight: bold;
}
</style>
