<template>
  <span class="ait-lookup-person2-fio">{{ fio }}</span>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    }
  }
};
</script>
