<template>
  <ait-ref-person
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="person2.personViewLt"
    itemValue="personId"
  ></ait-ref-person>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "ФЛ"
    }
  }
  // mounted() {
  //   // https://stackoverflow.com/a/51225443
  //   this.$watch("$refs.child.recordItem", (newVal, oldVal) => {
  //     this.$emit("update:recordItem", newVal);
  //   });
  // },
};
</script>
