<template>
  <v-form
    class="ait-form"
    :disabled="disabled"
    :lazy-validation="lazyValidation"
    :readonly="readonly"
    ref="form"
    @submit.prevent="onSubmit"
    autocomplete="off"
    v-model="formState.valid"
  >
    <!-- @slot All content form with all inner inputs. Model will be injected for each inputs. -->
    <slot></slot>
  </v-form>
</template>

<script>
import Resource from "../mixins/resource";
import set from "lodash/set";
import { createLookup } from "../../lookup";
import { utils } from "@ait/share2";
/**
 * Form component which handle resource saving by calling `create` or `update` data provider methods.
 * It's the better place for made heavy usage of any VA inputs.
 * Use injection which allowing unique global v-model for all inputs.
 */
export default {
  mixins: [Resource],
  provide() {
    return {
      formState: this.formState,
      lookupState: this.lookupState
    };
  },
  props: {
    /**
     * Current form model being edited. Represent the final data that will be send through your API.
     * @model
     */
    value: {
      type: Object,
      default: () => {}
    },
    /**
     * Explicit item resource object where all properties must be injected into form model.
     */
    item: {
      type: Object,
      default: () => {}
    },
    // save data
    saveData: {
      type: Function
    },
    title: String,
    /**
     * Не подавлять ошибку
     */
    noSuppressError: Boolean,
    /**
     * Не подавлять ошибку
     */
    noToastError: Boolean,

    disabled: Boolean,
    lazyValidation: Boolean,
    readonly: Boolean,
    diff: Boolean
  },
  data() {
    const initValue = utils.cloneByJson(this.value || {});

    return {
      initValue,
      lookupState: createLookup(),
      formState: {
        valid: null,
        lastModel: null,
        item: this.item || initValue,
        resource: this.resource,
        title: this.title,
        raiseAction: e => this.$emit("action", e),
        model: {},
        saving: false,
        errors: {},
        update: ({ source, value }) => {
          let model = this.formState.model;
          set(model, source, value);
          const lastModel = { ...model };
          this.formState.lastModel = lastModel;
          /**
           * Send model update, called after each single input change.
           */
          this.$emit("input", lastModel);
        },
        submit: () => {
          this.save();
        },
        save: this.saveData
      }
    };
  },
  watch: {
    item(val) {
      if (!val) {
        this.formState.model = this.initValue;
      }
      this.formState.item = val;
    },
    value: {
      handler(val) {
        if (val && val !== this.formState.lastModel) {
          this.formState.model = val;
        }
      }
      // deep: true,
      // immediate: true
    },
    title(val) {
      this.formState.title = val;
    },
    "formState.valid"(val) {
      this.$emit("update:valid", val);
    }
  },
  destroyed() {
    this.lookupState.clearAll();
    this.initValue = null;
    this.formState.lastModel = null;
    this.formState.item = null;
    this.formState.model = null;
    this.formState.save = null;
  },
  methods: {
    onSubmit() {
      this.$emit("submit", this.formState.model);
      this.save();
    },
    validate() {
      return this.$refs.form?.validate();
    },
    async save() {
      if (!this.validate()) {
        return;
      }

      if (!this.saveData) {
        //"saveData not initalized"
        return;
      }

      /**
       * Set saving to childs.
       */
      this.formState.saving = true;

      try {
        let diff = null;
        const original = this.formState.item;
        const data = this.formState.model;
        const resource = this.resource;

        if (this.diff) {
          diff = utils.diff(original, data);
          diff = utils.pack(diff, { isNull: true, isTrimString: true });
        }

        let result = await this.saveData({
          action: "save-data",
          resource,
          data,
          diff,
          original
        });

        this.formState.errors = {};

        /**
         * Sent after success saving.
         */
        this.$emit("saved", result);
        this.formState.raiseAction({ action: "saved", result });
      } catch (e) {
        this.$emit("save-failed", e?.message, e);
        this.formState.raiseAction({
          action: "save-failed",
          message: e?.message,
          e
        });
        if (e.errors) this.formState.errors = e.errors;

        if (this.noSuppressError) throw e;
        if (!this.noToastError) this.$aitify.toast.error(e?.message ?? e);
      } finally {
        this.formState.saving = false;
      }
    }
  }
};
</script>

<style></style>
