<template>
  <v-data-iterator
    tabindex="-1"
    @focus.native="onfocus"
    :items="listState.items"
    :loading="listState.loading"
    :options.sync="listState.options"
    :value="listState.selected"
    :server-items-length="listState.total"
    :items-per-page="itemsPerPage"
    :hide-default-footer="
      hideDefaultFooter || disablePagination || listState.isInfinity
    "
    :footer-props="{
      'items-per-page-options': itemsPerPageOptions,
      showFirstLastPage: true,
      disableItemsPerPage
    }"
    @update:items-per-page="listState.reload"
    @update:page="listState.loadPage"
  >
    <template v-slot:header v-if="!isToolbarHidden">
      <ait-app-bar-content-portal :disabled="!isToolbarApp">
        <v-toolbar flat color="blue lighten-5" v-if="listState.selected.length">
          {{ listState.selected.length }}
          <v-spacer />
          <div>
            <!-- @slot Custom bulk actions, ideal place for VaBulkActionButton. -->
            <slot name="bulk.actions"></slot>
            <ait-bulk-delete-button></ait-bulk-delete-button>
          </div>
        </v-toolbar>
        <ait-toolbar
          :title="title"
          :outlined="outlined"
          :icon="icon"
          :to="to"
          @on-icon-click="onIconToolbarClick"
          v-else
          :hideSpacer="!leftSpacer"
        >
          <template v-slot:title>
            <slot name="title">{{ title }}</slot>
          </template>
          <form-filter
            :filters="getEnabledFilters"
            @remove="disableFilter"
            v-model="currentFilter"
            :grow="growFilter"
          >
            <template
              v-for="filter in getEnabledFilters"
              v-slot:[filter.source]="props"
            >
              <!-- @slot Custom component filters. -->
              <slot :name="`filter.${filter.source}`" v-bind="props"></slot>
            </template>
          </form-filter>
          <v-spacer v-if="rightSpacer" />
          <v-menu offset-y v-if="getDisabledFilters.length">
            <template v-slot:activator="{ on }">
              <v-btn text color="success" v-on="on" icon>
                <!-- :icon="!$vuetify.breakpoint.lgAndUp" -->
                <v-icon>mdi-filter-variant-plus</v-icon>
                <!-- <span v-if="$vuetify.breakpoint.lgAndUp" class="ml-2">
                  {{ $aitify.options.t["datatable.addfilter"] }}
                </span> -->
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(filter, index) in getDisabledFilters"
                :key="index"
                @click="enableFilter(filter)"
              >
                <v-list-item-title>{{ filter.label }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <!-- Portal -->
          <v-btn icon v-if="!disableCreate" @click="raiseAction('create')">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
          <slot name="actions"></slot>
          <v-btn icon v-if="!disableRefresh" @click="raiseAction('refresh')">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>

          <ait-menu-button v-if="actions && actions.length">
            <ait-action-list :items="actions" @select:item="raiseAction" />
          </ait-menu-button>
        </ait-toolbar>
      </ait-app-bar-content-portal>
    </template>
    <template v-slot:default>
      <!--
        @slot Main list layout placeholder. Mainly for VaDataTable but can be anything else.
        @binding {string} resource Name of resource.
        @binding {array} items Result of data fetched from API.
        @binding {boolean} loading Loading indicator.
        @binding {number} total Total count from server-side.
      -->
      <slot v-bind="listState"></slot>
    </template>
    <template v-slot:loading>
      <slot :resource="resource" :loading="listState.loading">
        <v-skeleton-loader class="mx-auto" type="table"></v-skeleton-loader>
      </slot>
    </template>
    <template v-slot:no-data>
      <slot :resource="resource"></slot>
    </template>
    <template v-slot:no-results>
      <slot :resource="resource"></slot>
    </template>
    <!-- @slot Best place for any custom pagination. -->
    <template v-slot:footer>
      <slot
        name="footer"
        :options="listState.options"
        :total="listState.total"
        :items-per-page="itemsPerPage"
        :items-per-page-options="itemsPerPageOptions"
        :disable-items-per-page="disableItemsPerPage"
      />
    </template>
  </v-data-iterator>
</template>

<script>
import { createLookup } from "../../lookup";
import Resource from "../mixins/resource";
import Search from "../mixins/search";
import FormFilter from "../internal/FormFilter";
import isEmpty from "lodash/isEmpty";
import { utils } from "@ait/share2";

const packOpts = {
  isEmptyString: true,
  isNull: true,
  isEmptyArray: true,
  isEmptyObj: true,
  isTrimString: true
};

/**
 * List data iterator component, perfect for list CRUD page as well as any resource browsing standalone component.
 * Allow resource paginating and filtering. Use current query string context for initial state by default.
 * The list layout on default slot is fully customizable and can be used for separate `VaDataTable` component.
 */
export default {
  mixins: [Resource, Search],
  components: {
    FormFilter
  },
  provide() {
    return {
      listState: this.listState,
      lookupState: this.lookupState
    };
  },
  props: {
    title: String,

    icon: {
      type: String,
      default: () => undefined
    },

    to: {
      type: String | Object,
      default: () => undefined
    },

    actions: {
      type: [Array, String],
      default: () => []
    },
    /**
     * Exposed filters, editable through advanced filter form, update URL query string if not disabled.
     * Sent to your data provider inside `filter` params.
     * Use specific `alwaysOn` property for each filter you want to be visible and not removable.
     * Valid properties are `source`, `type`, `label`, `alwaysOn`, `attributes`.
     */
    filters: {
      type: Array,
      default: () => []
    },
    growFilter: {
      type: [String, Number]
    },
    alignFilter: {
      type: String
    },
    /**
     * List of available selections of items per page.
     */
    itemsPerPageOptions: {
      type: Array,
      default() {
        return (
          this.$aitify.options.list.itemsPerPageOptions || [
            5,
            10,
            15,
            25,
            50,
            100
          ]
        );
      }
    },
    /**
     * Disable real time update of URL query string on any browsing action as pagination, sorting, filtering, etc.
     */
    disableQueryString: Boolean,
    /**
     * Hide default footer, notably default pagination.
     */
    hideDefaultFooter: Boolean,
    /**
     * Disable pagination, will hide default footer.
     */
    disablePagination: Boolean,
    // /**
    //  * Hide all header toolbar, so neither filters nor any create or export actions.
    //  */
    // hideHeader: Boolean,
    /**
     * Force disabling of create button, shown by default if create resource action available.
     */
    disableCreate: Boolean,
    disableRefresh: Boolean,

    /**
     * Disable the global search.
     */
    disableGlobalSearch: {
      type: Boolean,
      default() {
        return this.$aitify.options.list.disableGlobalSearch || false;
      }
    },
    /**
     * Key parameter of the global search query.
     */
    globalSearchQuery: {
      type: String,
      default: "q"
    },
    /**
     * Hide all header toolbar, so neither filters nor any create or export actions.
     */
    isToolbarHidden: Boolean,
    isToolbarApp: Boolean,

    getList: {
      type: Function,
      default: () => ({ total: 0, data: [] })
    },

    refreshData: [String, Boolean, Number, Date, Object],
    outlined: Boolean,
    searchLabel: String
  },
  data() {
    return {
      loaded: false,
      currentFilter: {},
      enabledFilters: [],
      lookupState: createLookup(),
      listState: {
        handle: {},
        resource: this.resource,
        title: this.title,
        items: [],
        isInfinity: false,
        loading: false,
        done: false,
        total: 0,
        selected: [],
        options: {},
        raiseAction: this.raiseAction,
        // lookup: createLookup(),
        loadPage: () => {
          if (this.listState.isInfinity) {
            this.fetchData(true);
          } else {
            this.listState.reload();
          }
        },
        reload: () => {
          this.fetchData();
          this.updateQuery();
        },
        getSearchInput: () => {
          return this.$el?.querySelector("input");
        }
      }
    };
  },
  async mounted() {
    await this.initFiltersFromQuery();
    this.loaded = true;
    this.fetchData();
  },
  destroyed() {
    this.lookupState.clearAll();
    this.listState.items = null;
  },
  computed: {
    getCurrentFilter(nf) {
      /**
       * Get clean filter, do not take empty value but booleans
       */
      const cf = Object.keys(this.currentFilter).reduce((o, key) => {
        let value = this.currentFilter[key];

        return {
          ...o,
          ...((!isEmpty(value) ||
            typeof value === "number" ||
            typeof value === "boolean") && {
            [key]: value
          })
        };
      }, {});

      return cf;
    },
    getFilters() {
      let filters = [];

      if (!this.disableGlobalSearch) {
        /**
         * Add global search filter
         */
        filters = [
          {
            source: this.globalSearchQuery,
            class: "ait-list-global-search-query-input",
            label:
              this.searchLabel || this.$aitify.options.t["datatable.search"],
            alwaysOn: true,
            attributes: { prependInnerIcon: "mdi-magnify" }
          }
        ];
      }

      return [...filters, ...this.filters]
        .map(f => {
          return typeof f === "string"
            ? {
                source: f
              }
            : f;
        })
        .map(f => {
          return {
            ...f,
            type: f.type || "text",
            label: f.label || f.source
          };
        });
    },
    getEnabledFilters() {
      return this.getFilters.filter(f => {
        return f.alwaysOn || this.enabledFilters.includes(f.source);
      });
    },
    getDisabledFilters() {
      return this.getFilters.filter(f => {
        return !f.alwaysOn && !this.enabledFilters.includes(f.source);
      });
    },
    leftSpacer() {
      if (this.alignFilter === "left" || this.alignFilter === "fill")
        return false;
      return true;
    },
    rightSpacer() {
      if (this.alignFilter === "right" || this.alignFilter === "fill")
        return false;
      return true;
    }
  },
  watch: {
    filter: {
      handler(newVal) {
        this.currentFilter = newVal || {};
      },
      immediate: true,
      deep: true
    },
    refreshData(val) {
      if (val) {
        this.fetchData();
      }
    },
    "listState.options"(val) {
      /**
       * Triggered on pagination change.
       */

      this.$emit("update:options", val);
    },
    currentFilter(newVal, oldVal) {
      const f1 = utils.pack(newVal, packOpts);
      const f2 = utils.pack(oldVal, packOpts);

      if (!utils.deepEqual(f1, f2, { isStrongKey: true })) {
        this.fetchData();
        this.updateQuery();
        /**
         * Triggered on filter change.
         */
        this.$emit("update:filter", newVal, oldVal);
      }
    }
    // "listState.options.page"(val) {
    //   console.log("page", val);
    // },
  },
  methods: {
    async initFiltersFromQuery() {
      let options = {
        page: 1,
        itemsPerPage: this.itemsPerPage,
        sortBy: this.sortBy,
        sortDesc: this.sortDesc
      };

      if (this.disableQueryString) {
        this.listState.options = options;
        return;
      }

      /**
       * Apply current route query into options
       */
      const { perPage, page, sortBy, sortDesc, filter } = this.$route.query;

      if (page) {
        options.page = parseInt(page, 10);
      }

      if (perPage) {
        options.itemsPerPage = parseInt(perPage, 10);
      }

      if (sortBy) {
        options.sortBy = sortBy.split(",");
      }

      if (sortDesc) {
        options.sortDesc = sortDesc.split(",").map(bool => bool === "true");
      }

      this.listState.options = options;

      /**
       * Enable active filters from query
       */
      if (filter) {
        this.currentFilter = JSON.parse(filter);

        for (let prop in this.currentFilter) {
          let subfilter = this.getFilters.find(f => f.source === prop);

          if (subfilter) {
            this.enableFilter(subfilter);
          }
        }
      }
    },
    enableFilter(filter) {
      this.enabledFilters.push(filter.source);
    },
    disableFilter(filter) {
      this.enabledFilters.splice(this.enabledFilters.indexOf(filter.source), 1);
    },
    updateQuery() {
      if (this.disableQueryString || isEmpty(this.listState.options)) {
        return;
      }

      /**
       * Update query router
       */
      let { itemsPerPage, page, sortBy, sortDesc } = this.listState.options;

      let pg = { perPage: itemsPerPage };

      if (this.disableItemsPerPage) {
        pg = undefined;
      }

      if (this.listState.isInfinity) {
        pg = { page: undefined }; // { perPage: 50 };
      }

      let query = {
        page,
        ...pg
      };

      if (!isEmpty(sortBy)) {
        query.sortBy = sortBy.join(",");
      }

      if (!isEmpty(sortDesc)) {
        query.sortDesc = sortDesc.join(",");
      }

      if (!isEmpty(this.getCurrentFilter)) {
        query.filter = JSON.stringify(this.getCurrentFilter);
      }

      if (this.listState.isInfinity) {
        this.$router.replace({ query }).catch(() => {});
      } else {
        this.$router.push({ query }).catch(() => {});
      }
    },
    async fetchData(isPage) {
      if (!this.loaded || isEmpty(this.listState.options)) {
        return;
      }

      this.listState.loading = true;

      if (this.listState.isInfinity) {
        // reset page...
        if (!isPage) {
          this.listState.options.page = 1;
          this.listState.items = [];
          this.listState.selected = [];
        }
      }

      const { sortBy, sortDesc, page, itemsPerPage } = this.listState.options;

      let params = {
        fields: this.getFieldsQuery(this.resource, this.fields),
        include: this.include, // isEmpty(this.include) ? this.currentResource.include : this.include,
        sort: (sortBy || []).map((by, index) => {
          return { by, desc: sortDesc[index] };
        }),
        filter: this.getCurrentFilter
      };

      let pg = { perPage: itemsPerPage };

      if (this.disableItemsPerPage) {
        pg = undefined;
      }

      params.pagination = {
        page,
        ...pg
      };

      let data = [];
      let selected = [];
      let total = 0;
      let done = false;

      // restore
      if (isPage && this.listState.isInfinity) {
        data = this.listState.items;
        selected = this.listState.selected;
      }

      /**
       * Load paginated and sorted data list
       */
      if (this.getList) {
        let rdata = null;
        try {
          rdata = await this.getList(params);
        } catch (e) {
          rdata = {
            data: [],
            total: 0
          };
          this.$aitify.toast.error("Ошибка загрузки", e);
        }

        const rlen = rdata?.data?.length || 0;
        done = !rlen || (params.pagination.perPage || 0) > rlen;

        (rdata.data || []).forEach(c => {
          data.push(c);
        });

        // data = // [...data, ...(rdata.data || [])];
        total = rdata.total || data.length;
      }

      /**
       * Update state without cloning
       */
      const newState = {
        handle: {},
        items: data,
        done,
        loading: false,
        total,
        selected: selected,
        options: this.listState.options
      };

      for (let key in newState) {
        this.listState[key] = newState[key];
      }
    },
    getFieldsQuery(resource, sources, fields = {}) {
      sources.forEach(s => {
        /**
         * Dot notation support
         */
        const lastIndex = s.lastIndexOf(".");

        if (lastIndex === -1) {
          /**
           * This is simple field
           * Add simple field to main resource
           */
          const field = fields[resource] || [];
          fields[resource] = [...field, s];
          return;
        }

        /**
         * This is field of relation
         * Recursively for nested relation
         */
        const relation = s.substr(0, lastIndex);
        const f = fields[relation] || [];
        fields[relation] = [...f, s.substr(lastIndex + 1)];
      });
      return fields;
    },
    async onDelete() {
      await this.fetchData();
    },
    onIconToolbarClick(icon) {
      this.raiseAction("back", icon);
    },
    raiseAction(action, item) {
      if (action === "refresh") {
        this.fetchData();
      }

      switch (action) {
        case "refresh":
        case "create":
          this.focus();
          break;
      }

      this.$emit("action", {
        action,
        item,
        title: this.title,
        resource: this.resource
      });
    },
    focus() {
      this.$nextTick(() => this.listState.getSearchInput()?.focus());
    },
    onfocus() {
      this.focus();
    }
  }
};
</script>
