<template>
  <div>
    <!-- @slot All content form with all inner fields. Item will be injected for each fields. -->
    <slot></slot>
  </div>
</template>

<script>
import Resource from "../mixins/resource";
import { createLookup } from "../../lookup";
/**
 * Show component injector which facilitates resource display by using VA component fields.
 * Inject item for each VA field.
 */
export default {
  mixins: [Resource],
  provide() {
    return {
      showState: this.showState,
      lookupState: this.lookupState
    };
  },
  props: {
    /**
     * Explicit item resource object where all properties must be injected into VA fields.
     */
    item: {
      type: Object,
      default: () => {}
    },
    title: String
  },
  data() {
    return {
      lookupState: createLookup(),
      showState: {
        item: this.item,
        resource: this.resource,
        title: this.title,
        // lookup: createLookup(),
        raiseAction: e => this.$emit("action", e)
      }
    };
  },
  watch: {
    item(val) {
      this.showState.item = val;
    }
  }
};
</script>
