<template>
  <List
    v-if="isListMode_"
    v-bind="$attrs"
    class="ait-entity--list"
    :class="{ 'big-boss': bigBoss, 'big-boss--no': !bigBoss, [view_]: true }"
    :reftype="reftype"
    :view="view_"
    :get-list="getList_"
    :refresh-data="refreshData_"
    :create-item="createItem"
    :big-boss="bigBoss"
    @action="onAction_"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </List>
  <Item
    v-else
    v-bind="$attrs"
    class="ait-entity--item"
    :class="{ 'big-boss': bigBoss, 'big-boss--no': !bigBoss, [view_]: true }"
    :reftype="reftype"
    :id-empty="idEmpty"
    :id="id_"
    :view="view_"
    :get-item="getItem_"
    :create-item="createItem"
    :refresh-data="refreshData_"
    :big-boss="bigBoss"
    @action="onAction_"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </Item>
</template>

<script>
import entity from "./entity.mixin";

export default {
  mixins: [entity],
  inheritAttrs: false
};
</script>

<style>
.ait-entity--item.big-boss--no .ait-form {
  padding: 28px;
}

.ait-entity--item.big-boss--no .ait-form-title {
  font-size: 1.5rem !important;
}

.ait-entity--list.table .ait-cursor-man {
  padding: 0 16px;
}
</style>
