<template>
  <div style="display: flex; align-items: center;">
    <!-- <strong>{{ fio }}</strong> -->
    <!-- <ait-date-field :item="item.birthDate" age class="ml-2" /> -->
    <ait-ref-dict-field
      class="font-weight-bold"
      :item="item"
      reftype="personDocKind"
      source="personDocKindId"
      view="short"
    >
      <template v-slot:item="{ item: pdk }">
        {{
          pdk.personDocKindId == "00000000-0002-0000-0061-000000000000"
            ? "Документ не предоставлен"
            : pdk.name
        }}
      </template>
    </ait-ref-dict-field>
    <span class="ml-2 grey--text text--darken-2">{{ docSerNum(item) }}</span>
    <span class="grey--text text--darken-2" v-if="item && item.issuedBy">
      , выд.
      <ait-date-field
        v-if="item.issueDate"
        :item="item.issueDate"
        class="ml-1"
      />
      <span class="ml-1">{{ item.issuedBy }}</span>
    </span>
  </div>
</template>

<script>
import { utils } from "@ait/share2";
import { docSerNum } from "../util";

export default {
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    }
    // series() {
    //   const res = (this.item.series || "").replace(/\s/g, "");
    //   return res ? ` серия ${res}` : "";
    // },
    // number() {
    //   const res = (this.item.number || "").replace(/\s|-/g, "");
    //   return res ? ` №${res}` : "";
    // },
    // issuedBy() {
    //   return this.item?.issuedBy;
    // },
    // issueDate() {
    //   return this.item?.issueDate;
    // }
  },
  methods: {
    docSerNum(item) {
      return docSerNum(item);
    }
  }
};
</script>
