<template>
  <v-container fluid style="padding-top: 0; padding-bottom: 0">
    <v-row no-gutters>
      <v-col cols="6" style="font-weight: bold">{{ fio }}</v-col>
      <v-col style="color: LightSlateGray; font-size: 90%">
        <ait-date-field :item="item.birthDate" age />
      </v-col>

      <v-col
        style="color: LightSlateGray; font-size: 90%"
        class="hidden-md-and-down"
      >
        <div style="display: flex">
          <span>пол: </span>
          <ait-ref-dict-field
            class="ml-2"
            :item="item"
            source="genderId"
            reftype="gender"
            view="short"
          />
        </div>
      </v-col>
    </v-row>
    <v-row
      style="color: Gray; font-size: 85%"
      no-gutters
      class="hidden-md-and-down"
    >
      <v-col>
        <div style="display: flex">
          <ait-ref-dict-field
            :item="item"
            reftype="personDocKind"
            source="personDocKindId"
            view="short"
          >
            <template v-slot:item="{ item }">
              {{
                item.personDocKindId == "00000000-0002-0000-0061-000000000000"
                  ? "Документ не предоставлен"
                  : item.name
              }}
            </template>
          </ait-ref-dict-field>
          <div class="ml-4">{{ series }} {{ number }}</div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    },
    series() {
      const res = (this.item.series || "").replace(/\s/g, "");
      return res ? ` серия ${res}` : "";
    },
    number() {
      const res = (this.item.number || "").replace(/\s|-/g, "");
      return res ? ` №${res}` : "";
    }
  }
};
</script>
