<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./PersonDocItem.list.vue";
import GridItem from "./PersonDocItem.grid.vue";
import SpanItem from "./PersonDocItem.span.vue";
import FioItem from "./PersonDocItem.fio.vue";
import DocItem from "./PersonDocItem.doc.vue";
import Doc2Item from "./PersonDocItem.doc2.vue";

export default {
  components: {
    ListItem,
    GridItem,
    SpanItem,
    FioItem,
    DocItem,
    Doc2Item
  },
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>
