<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title class="d-inline-flex align-center">
        <span class="ait-lookup-person2-fio">{{ fio }}</span>
        <ait-date-field
          :item="item.birthDate"
          age
          class="ml-2 ait-lookup-person2-birthdate"
        />
        <span class="ml-2">пол: </span>
        <ait-ref-dict-field
          class="ml-2 ait-lookup-person2-igender"
          :item="item"
          reftype="gender"
          source="genderId"
          view="short"
        ></ait-ref-dict-field>
      </v-list-item-title>
      <v-list-item-subtitle>
        <div class="d-flex">
          <ait-ref-dict-field
            :item="item"
            reftype="personDocKind"
            source="personDocKindId"
            view="short"
          >
            <template v-slot:item="{ item: pdk }">
              {{
                pdk.personDocKindId == "00000000-0002-0000-0061-000000000000"
                  ? "Документ не предоставлен"
                  : `${pdk.name} ${docSerNum(item)}`
              }}
            </template>
          </ait-ref-dict-field>
        </div>
        <div class="d-flex" v-if="item.birthPlace">
          {{ birthPlace }}
        </div>
        <div class="d-flex" v-if="item.issuedBy">
          Выдан
          <ait-date-field
            v-if="item.issueDate"
            :item="item.issueDate"
            class="ml-1"
          />
          <span class="ml-1">{{ item.issuedBy }}</span>
          <span v-if="item.deptCode">, код отделения {{ item.deptCode }}</span>
        </div>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action> </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";
import { docSerNum } from "../util";

export default {
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    }
  },
  methods: {
    docSerNum(item) {
      return docSerNum(item);
    }
  }
};
</script>
