<template>
  <div class="d-flex flex-wrap align-center">
    <span class="ait-lookup-person2-fio">{{ fio }}</span>
    <ait-date-field :item="item.birthDate" age class="ml-2" />
    <!-- <div class="ml-2">•</div> -->
    <ait-ref-dict-field
      class="ml-2 grey--text text--darken-2"
      :item="item"
      reftype="personDocKind"
      source="personDocKindId"
      view="short"
    >
      <template v-slot:item="{ item }">
        {{
          item.personDocKindId == "00000000-0002-0000-0061-000000000000"
            ? "Документ не предоставлен"
            : item.name
        }}
      </template>
    </ait-ref-dict-field>
    <span class="ml-2 grey--text text--darken-2"
      >{{ series }} {{ number }}</span
    >
  </div>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  computed: {
    fio() {
      return utils.fio(this.item);
    },
    series() {
      const res = (this.item.series || "").replace(/\s/g, "");
      return res ? ` серия ${res}` : "";
    },
    number() {
      const res = (this.item.number || "").replace(/\s|-/g, "");
      return res ? ` №${res}` : "";
    }
  }
};
</script>
