<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="person2.personDoc"
    itemValue="docId"
    divided
    ref="child"
    search-label="Найти по фамилии, имени или отчеству"
  >
    <!--input-->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-person-doc-item :item="item" :view="view" />
      </slot>
    </template>
    <!--list-->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-person-doc-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  // mounted() {
  //   // https://stackoverflow.com/a/51225443
  //   this.$watch("$refs.child.recordItem", (newVal, oldVal) => {
  //     this.$emit("update:recordItem", newVal);
  //   });
  // },
  props: {
    label: {
      type: String,
      default: () => "Документ"
    },
    view: {
      type: String,
      default: "grid"
    }
  }
};
</script>
