<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="person2.personDoc"
    itemValue="docId"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-person-doc-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,

  props: {
    view: {
      type: String,
      default: "span"
    }
  }
};
</script>
