<template>
  <span class="ait-date" v-if="date">
    <slot :age-str="ageStr" :date="date">
      <span v-if="ageOnly" class="ait-date--age-only">
        {{ ageStr }}
      </span>
      <span class="ait-date--date-age" v-else-if="age">
        <span v-if="reverse" class="ait-date--reverse">
          <span class="ait-date--age">{{ ageStr }}</span>
          <span class="ait-date--date" v-if="date">({{ date }})</span>
        </span>
        <span v-else class="ait-date--no-reverse">
          <span class="ait-date--date">{{ date }}</span>
          <span class="ait-date--age" v-if="ageStr">({{ ageStr }})</span>
        </span>
      </span>
      <span class="ait-date--date" v-else>
        {{ date }}
      </span>
    </slot>
  </span>
</template>

<script>
import Field from "../mixins/field";

import { utils } from "@ait/share2";

/**
 * Show value as formatted date. Support any localized format, long, short, etc.
 * Use `$d` VueI18n function under the hood.
 */
export default {
  mixins: [Field],
  props: {
    /**
     * Name of date format to use. Must be predefined on your VueI18n plugin.
     */
    format: {
      type: String,
      default() {
        return this.$aitify.options.dateFormat;
      }
    },
    age: Boolean,
    ageOnly: Boolean,
    reverse: Boolean
  },
  computed: {
    // getText() {
    // 	if (this.ageOnly) {
    // 		return utils.age(this.value);
    // 	}
    // 	let v = utils.formatDate(this.value, this.format);
    // 	if (v) {
    // 		if (reverse) return `${utils.ageStr(utils.age(this.value))} (${v})`;
    // 		return `${v} (${utils.ageStr(utils.age(this.value))})`;
    // 	}
    // 	return v;
    // },
    // age() {
    // 	return utils.age(this.value);
    // },
    ageStr() {
      return utils.ageStr(utils.age(this.value));
    },
    date() {
      return utils.formatDate(this.value, this.format);
    }
  }
};
</script>
