<template>
  <span>{{ getText }}</span>
</template>

<script>
import Field from "../mixins/field";

function parseFloatFix(value, decimalScale = 0) {
  const t = parseFloat(value); //.toFixed(decimalScale);
  if (Number.isNaN(t)) return 0;
  const p = decimalScale ? Math.pow(10, parseInt(decimalScale)) : 1;
  return Math.floor(t * p) / p;
}

export default {
  mixins: [Field],
  props: {
    decimalScale: {
      type: [Number, String],
      default: 0
    }
  },
  computed: {
    getText() {
      return parseFloatFix(this.value, this.decimalScale);
    }
  }
};
</script>
