<template>
  <div :class="class_">
    <div v-if="loading" style="padding: 0px;margin: 0px;">
      <slot name="loader">
        <div style="display:flex;flex-direction:row;">
          <v-skeleton-loader
            style="flex-grow: 1"
            class="ait-skeleton-loader--text"
            type="text"
          />
          <span>&nbsp; </span>
        </div>
      </slot>
    </div>
    <!-- <v-chip v-else-if="chip" :color="getColor(value)" :small="small" :to="link">
      <slot :value="value" :item="referenceItem">{{ getItemText }}</slot>
    </v-chip> -->
    <slot :value="value" :item="referenceItem" v-else>
      <slot v-if="getRecord" name="item" :item="getRecord">
        {{ getText }}
      </slot>

      <slot v-else name="no-item" />
    </slot>
  </div>
</template>

<script>
import lookup from "../mixins/lookup";
/**
 * Show value as simple text, render a simple span. HTML tags will be stripped.
 */
export default {
  mixins: [lookup],
  props: {
    itemText: {
      type: [String, Array, Function],
      default: "_display"
    },
    class_: {
      type: [Object, String]
    }
  },
  computed: {
    getRecord() {
      return this.referenceItem && this.referenceItem.record;
    }
  }
};
</script>
<style></style>
