<template>
  <span>
    <span v-if="loading">
      <slot name="loader">
        <v-skeleton-loader class="ait-skeleton-loader--text" type="text" />
      </slot>
    </span>
    <!-- <v-chip v-else-if="chip" :color="getColor(value)" :small="small" :to="link">
      <slot :value="value" :item="referenceItem">{{ getItemText }}</slot>
    </v-chip> -->

    <slot :value="value" :item="referenceItem" v-else>
      <slot v-if="getRecord" name="item" :item="getRecord">
        {{ getText }}
      </slot>

      <slot v-else name="no-item" />
    </slot>
  </span>
</template>

<script>
import lookup from "../mixins/lookup";
/**
 * Show value as simple text, render a simple span. HTML tags will be stripped.
 */
export default {
  mixins: [lookup],
  props: {
    itemText: {
      type: [String, Array, Function],
      default: "_display"
    }
  },
  computed: {
    getRecord() {
      return this.referenceItem && this.referenceItem.record;
    }
  }
};
</script>
