<template>
  <ait-ref-input
    v-bind="$attrs"
    :label="label"
    v-on="$listeners"
    reference="monitor2.role"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-role-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Роль"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
