<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="monitor2.role"
    item-value="id"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-role-item :item="item" :view="view"></ait-role-item>
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
import RoleItem from "./RoleItem.vue";

export default {
  components: {
    RoleItem
  },
  inheritAttrs: false,
  props: {
    view: {
      type: String,
      default: "span"
    }
  }
};
</script>
