<template>
  <span>
    {{ getRole }}
  </span>
</template>

<script>
import { roles } from "@ait/share2";

export default {
  props: {
    role: String
  },
  computed: {
    getRole() {
      return roles.ROLES.get(this.role).code2;
    }
  }
};
</script>

<style></style>
