<template>
  <ait-system-layout
    :tenant-id="tenantId || ctenantId"
    :max-width="maxWidth"
    :is-loading="isLoading"
    :title="title"
    v-on="$listeners"
  >
    <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
      <slot :name="slotName" />
    </template>
  </ait-system-layout>
</template>

<script>
export default {
  props: {
    maxWidth: { type: [String, Number], default: "500px" },
    title: String,
    isLoading: Boolean,
    tenantId: String
  },
  computed: {
    ctenantId() {
      return this.$store.state.auth2?.tenantId;
    }
  }
};
</script>

<style></style>
