<template>
  <v-list-item two-line>
    <!--
    <v-list-item-icon>
      <v-icon color="indigo"> {{ mdiIcon }} </v-icon>
    </v-list-item-icon>
    -->
    <v-list-item-content>
      <v-list-item-title>
        <div class="container_1">
          <span class="pl-2 pr-2" v-if="item.isCito"
            ><font size="4" color="red">•</font></span
          >
          <span class="pl-2 pr-2" v-else>&nbsp;</span>
          <!--
          <v-icon color="red" v-if="item.isCito"> mdi-alert-circle </v-icon>
          <v-icon color="red" v-if="item.isCito"> mdi-alert-circle-outline </v-icon>
          <v-icon color="red" v-if="item.isCito"> mdi-bell-outline </v-icon>
          -->
          {{
            `&nbsp;№ ${item.docNumber} от ${formatDate(
              item.setDate,
              "dd.MM.yyyy"
            )}`
          }}
        </div>
      </v-list-item-title>

      <v-list-item-subtitle>
        <div class="container_1">
          {{
            ` период действия: с ${formatDate(item.begDate, "dd.MM.yyyy") ||
              ""} по ${formatDate(item.endDate, "dd.MM.yyyy") || "..."}`
          }}
        </div>
      </v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-action>
      <ait-ref-dict-field
        :item="item"
        source="refTypeId"
        reftype="refType"
        view="short"
        label="refType"
      />
      <ait-ref-dict-field
        :item="item"
        source="refStatusId"
        reftype="refStatus"
        view="short"
        label="refStatus"
      />
    </v-list-item-action>

    <!-- v-list-item-action>
      <v-icon color="grey lighten-1"> mdi-star-outline </v-icon>
    </v-list-item-action -->
  </v-list-item>
</template>

<script>
import { utils, constants } from "@ait/share2";

// Item list view
export default {
  props: {
    item: Object
  },

  data() {
    return {
      formatDate: utils.formatDate
      /*
      getCito(cito) {
        if (cito) return '';
        else return "";
      }
      */
    };
  },

  computed: {
    mdiIcon() {
      switch (this.item?.commTypeId) {
        case "00000000-0000-0000-0005-000000000004":
          return "mdi-phone";
        case "00000000-0000-0000-0005-000000000002":
          return "mdi-email";
        default:
          return "mdi-message-text";
      }
    }
  }
};
</script>
<style>
.container_1 {
  display: flex;
}
</style>
