<template>
  <div class="d-flex flex-wrap">
    <span>
      <span class="pl-2 pr-2" v-if="item.isCito"
        ><font size="4" color="red">•</font></span
      >
      <span class="pl-2 pr-2" v-else>&nbsp;</span>
      {{ `№ ${item.docNumber} от ${formatDate(item.setDate, "dd.MM.yyyy")}` }}
    </span>
    <!-- span class="pl-2 pr-2">•</span -->
    {{
      ` &nbsp;период действия: с ${formatDate(item.begDate, "dd.MM.yyyy") ||
        ""} по ${formatDate(item.endDate, "dd.MM.yyyy") ||
        "..."}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`
    }}

    <!-- span class="pl-2 pr-2">•</span -->
    <span>
      <ait-ref-dict-field
        :item="item"
        source="refTypeId"
        reftype="refType"
        view="short"
        label="refType"
      />
    </span>
  </div>
</template>

<script>
import { utils, constants } from "@ait/share2";

// Item span view
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate,
      getSito(sito) {
        if (sito) return "sito";
        else return "";
      }
    };
  }
};
</script>
