<template>
  <v-list-item three-line>
    <!--
    <v-list-item-icon>
      <v-icon color="indigo"> {{ mdiIcon }} </v-icon>
    </v-list-item-icon>
    -->
    <v-list-item-content>
      <v-list-item-title>
        <div class="container_1">
          <span class="pl-2 pr-2" v-if="item.isCito"
            ><font size="4" color="red">•</font></span
          >
          <span class="pl-2 pr-2" v-else>&nbsp;</span>
          {{
            `№ ${item.docNumber} от ${formatDate(item.setDate, "dd.MM.yyyy")}`
          }}
          <!-- span class="pl-2 pr-2">•</span>
          <ait-ref-field
            :item="item"
            source="refTypeId"
            reference="dict2.refType"
            itemValue="refTypeId"
            itemText="name"
          /-->
        </div>
      </v-list-item-title>

      <v-list-item-subtitle>
        <div class="container_1">
          {{
            ` период действия: с ${formatDate(item.begDate, "dd.MM.yyyy") ||
              ""} по ${formatDate(item.endDate, "dd.MM.yyyy") || "..."}`
          }}
          <!-- span class="pl-2 pr-2">•</span>
          <span>
            <ait-ref-field
              :item="item"
              source="refStatusId"
              reference="dict2.refStatus"
              itemValue="refStatusId"
              itemText="name"
            />
          </span -->
        </div>
      </v-list-item-subtitle>

      <v-list-item-subtitle>
        <ait-ref-med-card-field :item="item" source="patientId" view="span" />
        <!-- ait-ref-field
          :item="item"
          source="patientId"
          reference="card2.medCardListView"
          itemValue="docId"
          itemText="_display"
        ></ait-ref-field -->
      </v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-action>
      <!-- v-icon color="grey lighten-1"> mdi-star-outline </v-icon -->
      <ait-ref-dict-field
        :item="item"
        source="refTypeId"
        reftype="refType"
        view="short"
        label="refType"
      />
      <ait-ref-dict-field
        :item="item"
        source="refStatusId"
        reftype="refStatus"
        view="short"
        label="refStatus"
      />
    </v-list-item-action>

    <!-- v-list-item-action>
      <v-icon color="grey lighten-1"> mdi-star-outline </v-icon>
    </v-list-item-action -->
  </v-list-item>
</template>

<script>
import { utils, constants } from "@ait/share2";

// Item list view
export default {
  props: {
    item: Object
  },

  data() {
    return {
      formatDate: utils.formatDate,
      getSito(sito) {
        if (sito) return "sito";
        else return "";
      }
    };
  },

  computed: {
    mdiIcon() {
      switch (this.item?.commTypeId) {
        case "00000000-0000-0000-0005-000000000004":
          return "mdi-phone";
        case "00000000-0000-0000-0005-000000000002":
          return "mdi-email";
        default:
          return "mdi-message-text";
      }
    }
  }
};
</script>
<style>
.container_1 {
  display: flex;
}
</style>
