<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    search-label="№ направления"
    :label="label"
    :filters="filters"
    item-value="id"
    reference="referral2.referral"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-referral-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ РИСУЕМ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-referral-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// Input ref - Элемент ввода (выбора) состоит из выбранного значение + эл-тов списка выбора
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Направление"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "refTypeId",
          type: "ait-ref-dict",
          label: "Тип направления",
          alwaysOn: false,
          attributes: {
            reftype: "refType"
          }
        },

        {
          source: "refStatusId",
          type: "ait-ref-dict",
          label: "Статус",
          alwaysOn: false,
          attributes: {
            reftype: "refStatus"
          }
        },

        {
          source: "patientId",
          type: "ait-ref-med-card",
          label: "Пациент",
          alwaysOn: false,
          attributes: {
            view: "span"
          }
        }
      ]
    };
  }
};
</script>
