<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :item="item"
    :label="label"
    :filters="filters"
    item-value="id"
    reference="corp2.company"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-company-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ РИСУЕМ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-company-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// элемент отображения в форме
export default {
  inheritAttrs: false,
  props: {
    item: Object,
    label: {
      type: String,
      default: () => "Юридическое лицо"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: []
      // filters: [
      // 	{
      // 	  source: "commTypeId",
      // 	  type: "ait-ref-dict",
      // 	  label: "Тип связи",
      // 	  alwaysOn: true,
      // 	  attributes: {
      // 	    reftype: "commType",
      // 	  },
      // 	},
      // ],
    };
  }
};
</script>
