<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="corp2.company"
    item-value="id"
    :item="item"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-company-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
// Show ref - Элемент отображения label
export default {
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  }
};
</script>
