<template>
  <v-app class="white">
    <router-view></router-view>
    <ait-toast :value="toast" @input="onTostChanged" />
  </v-app>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "ait-app",
  computed: {
    ...mapState("toast", ["toast"]),
    ...mapState("auth2", ["status"])
  },
  methods: {
    ...mapActions("toast", ["clear"]),
    ...mapActions("auth2", ["init"]),

    onTostChanged(m) {
      if (!m) {
        this.clear();
      }
    }
  },
  async created() {
    await this.init();
  },
  watch: {
    $route(to, from) {
      // clear alert on location change
      // this.clear();
    }
  }
};
</script>

<style>
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
			                                                                    supported by Chrome, Edge, Opera and Firefox */
}
</style>
