<template>
  <ait-le :loading="loading" :error="error">
    <components
      v-bind="$attrs"
      v-on="$listeners"
      :is="view_"
      :item="item"
      @action="onAction"
    >
      <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </components>
  </ait-le>
</template>

<script>
import Edit from "./$view/Edit.vue";
import Show from "./$view/Show.vue";

import raise from "../../raise.mixin";

const DEFAULT = "show";
const VIEWS = [DEFAULT, "edit"];

export default {
  inheritAttrs: false,
  mixins: [raise],
  components: { Edit, Show },
  props: {
    id: String,
    view: String,
    getItem: Function,
    refreshData: {
      type: [String, Object, Date, Number]
    }
  },
  data() {
    return {
      item: null,
      loading: true,
      error: null
    };
  },
  computed: {
    view_() {
      return VIEWS.includes(this.view) ? this.view : DEFAULT;
    }
  },
  watch: {
    id: {
      immediate: true,
      async handler(id) {
        await this.reload();
      }
    },
    refreshData() {
      this.reload();
    }
  },
  methods: {
    async reload() {
      try {
        this.error = null;
        this.loading = true;
        const item = await this.getItem({ id: this.id });
        this.item = item;
        this.loading = false;
        this.raiseUp("item", { item });
      } catch (e) {
        this.loading = false;
        const error = e?.message || "Ошибка";
        this.error = error;
        this.raiseUp("error", { error });
      }
    },
    onAction(e) {
      switch (e.action) {
        case "refresh":
          this.reload();
          break;
      }
    }
  }
};
</script>

<style></style>
