<template>
  <ait-system-layout
    :tenant-id="tenantId"
    max-width="500px"
    v-on="$listeners"
    @close="onClose"
  >
    <component
      :is="comp"
      v-on="$listeners"
      :is-loading="loading"
      @on-login="onLogin"
      @on-forget="onForget"
      :no-forget="noForget"
      @on-to-forget="onToForget"
      @on-back="onBack"
      @on-tenant="onTenant"
    />
  </ait-system-layout>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  data() {
    return {
      noForget: false, //
      view: "TENANTS" // FORGET | SIGN | TENANTS,
    };
  },
  computed: {
    comp() {
      switch (this.view) {
        case "FORGET":
          return "ait-forget-psw-form";
        case "TENANTS":
          return "ait-choose-tenant-form";
        default:
          return "ait-signin-form";
      }
    },
    subTitle() {
      switch (this.view) {
        case "FORGET":
          return "Забыли пароль?";
        default:
          return (
            this.$aitify?.options?.auth2?.signinTitle ?? "Вход в Эверест-2"
          );
      }
    },
    ...mapState("auth2", ["loading", "tenantId"])
  },
  watch: {
    tenantId(t) {
      if (t && this.view === "TENANTS") {
        this.view = "SIGN";
      }
    }
  },
  mounted() {
    this.view = this.tenantId ? "SIGN" : "TENANTS";
  },
  methods: {
    ...mapActions("auth2", ["login", "forgetPsw"]),
    ...mapMutations("auth2", ["setTenantId"]),
    async onLogin(e) {
      await this.login(e);
      this.$emit("action", { action: "logged-in" });
    },
    async onForget(data) {
      const r = await this.forgetPsw(data);
      if (r) {
        this.onBack();
      }
    },
    onTenant(tenantId) {
      this.setTenantId(tenantId);
      this.view = tenantId ? "SIGN" : "TENANTS";
    },
    onToForget() {
      this.view = "FORGET";
    },
    onBack() {
      switch (this.view) {
        case "FORGET":
          this.view = "SIGN";
          break;
      }
    },
    onClose() {
      this.onTenant("");
      // if (this.isForget) {
      // 	this.isForget = false;
      // } else {
      // 	window.location.href = "https://www.monikiweb.ru";
      // }
    }
  }
};
</script>
