<template>
  <div>
    <slot name="item-edit" :item="item" :on-action="onAction">
      <ait-wg-layout
        mode="edit"
        toolbar-title="#item-edit"
        :toolbar-menu-actions="['back', 'list', 'show', '-', 'delete']"
        @action="onAction"
      >
        <slot name="item-edit--form" :item="item" :on-action="onAction">
          <ait-form :item="item">
            <ait-form-title> #item-edit--form </ait-form-title>
            {{ item }}
          </ait-form>
        </slot>
      </ait-wg-layout>
    </slot>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    item: Object
  },
  data() {
    return {};
  },
  methods: {
    onAction(e) {
      this.$emit("action", e);
    }
  }
};
</script>

<style></style>
