<template>
  <div>
    <slot name="item-show" :item="item" :on-action="onAction">
      <ait-wg-layout
        mode="show"
        toolbar-title="show-toolbar-title"
        :asidebar-actions="['back', 'edit', 'list', '-', 'delete']"
        :action-disableds="['delete']"
        :toolbar-actions="['refresh']"
        @action="onAction"
      >
        <slot item-show--from name="item-show--form" :item="item">
          <!-- <ait-form :item="item">
            <ait-form-title> #item-show > #item-show--form </ait-form-title>
            {{ item }}
          </ait-form> -->
        </slot>
      </ait-wg-layout>
    </slot>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    item: Object
  },
  data() {
    return {};
  },
  methods: {
    onAction(e) {
      this.$emit("action", e);
    }
  }
};
</script>

<style></style>
