<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title v-if="showPost">
        <ait-ref-dict-field :item="item" source="postId" reftype="post" />
      </v-list-item-title>
      <v-list-item-subtitle v-if="showOrgUnit">
        <ait-ref-org-unit-field
          v-if="showOrgUnit"
          :item="item"
          source="orgUnitId"
          view="span"
        />
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <emp-tbn :tbn="item.tabelNum" />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import EmpTbn from "../../empReg/view/EmpTbn.vue";

export default {
  components: {
    EmpTbn
  },
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style></style>
