<template>
  <v-list-item three-line>
    <v-list-item-content>
      <v-list-item-title>
        <ait-ref-person-doc-field
          :item="item"
          source="identityDocId"
          view="fio"
        />
      </v-list-item-title>
      <v-list-item-subtitle v-if="showOrgUnit">
        <ait-ref-org-unit-field :item="item" source="orgUnitId" view="span" />
      </v-list-item-subtitle>
      <v-list-item-subtitle v-if="showPost">
        <ait-ref-dict-field :item="item" source="postId" reftype="post">
        </ait-ref-dict-field>
      </v-list-item-subtitle>
    </v-list-item-content>
    <!-- <v-list-item-action>
			<small>тбн. № {{ item.tabelNum }}</small>
		</v-list-item-action> -->
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style></style>
