<template>
  <div style="display: flex">
    <ait-ref-person-doc-field
      :item="item"
      source="identityDocId"
      class="text-truncate ait-emp-assign-author"
      view="fio"
    />

    <div class="ml-2 grey--text text--darken-1">
      <ait-ref-dict-field
        :item="item"
        source="postId"
        reftype="post"
      ></ait-ref-dict-field>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style>
.ait-emp-assign-author .ait-lookup-person2-fio {
  font-weight: normal;
}
</style>
