<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <ait-ref-person-doc-field
          :item="item"
          source="identityDocId"
          view="fio"
        />
      </v-list-item-title>
      <v-list-item-subtitle v-if="showOrgUnit || showPost">
        <EmpOrgUnit
          :item="item"
          :show-post="showPost"
          :show-org-unit="showOrgUnit"
          :show-dates="showDates"
        />
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <emp-tbn :tbn="item.tabelNum" />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import EmpOrgUnit from "../../empReg/view/EmpOrgUnit.vue";
import EmpTbn from "../../empReg/view/EmpTbn.vue";

export default {
  components: {
    EmpOrgUnit,
    EmpTbn
  },
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style></style>
