<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <ait-ref-person-doc-field
          :item="item"
          source="identityDocId"
          view="fio"
          class="ait-emp-assign-author"
        />
      </v-list-item-title>
      <v-list-item-subtitle v-if="showPost">
        <ait-ref-dict-field :item="item" source="postId" reftype="post">
        </ait-ref-dict-field>
      </v-list-item-subtitle>
    </v-list-item-content>
    <!-- <v-list-item-action>
			<small>тбн. № {{ item.tabelNum }}</small>
		</v-list-item-action> -->
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style>
.ait-emp-assign-author .ait-lookup-person2-fio {
  font-weight: normal;
}
</style>
