<template>
  <v-data-table
    class="ait-data-table"
    :headers="headers"
    :items="listItems"
    :server-items-length="1"
    :show-select="showSelect"
    :disable-sort="disableSort"
    :value="listState.selected"
    :dense="dense"
    hide-default-footer
    :loading="listState.loading"
    :multi-sort="multiSort"
    :single-expand="singleExpand"
    :show-expand="showExpand"
    :items-per-page="isInfinity ? -1 : listState.options.itemsPerPage"
    :sort-by.sync="listState.options.sortBy"
    :sort-desc.sync="listState.options.sortDesc"
    @input="s => (listState.selected = s)"
    @update:sort-desc="listState.reload"
    :class="{ 'clickable-rows': !!$listeners['row-click'] }"
  >
    <template v-slot:body="props">
      <tbody>
        <ait-cursor
          tag="tr"
          v-for="(item, index) in props.items"
          :position="index"
          :key="index"
          :item="item"
          @select:item="onRowClick(item)"
        >
          <td class="text-start" v-if="showSelect">
            <v-simple-checkbox
              v-model="listState.selected"
              :value="item"
              style="margin: 0px; padding: 0px"
              hide-details
            />
          </td>
          <template v-for="field in getFields">
            <td
              :key="field.source"
              :class="field.cellClass"
              :width="field.width"
            >
              <slot
                :name="`item.${field.source}`"
                :item="props.item || item"
                :resource="listState.resource"
                :source="field.source"
                :headers="headers"
                :field="field"
                v-bind="props"
              >
                <component
                  :key="field.source"
                  :is="field.is_"
                  :resource="listState.resource"
                  :item="item"
                  :source="field.source"
                  v-bind="field.attributes"
                >
                </component>
              </slot>
            </td>
          </template>
          <td v-if="isItemMenu" class="ait-datatable-td-menu">
            <ait-menu-button v-show="item && isItemMenu">
              <ait-action-list
                :items="actions"
                :disableds="disableds"
                :hiddens="hiddens"
                :value="item"
                @select:item="onSelectMenuItem"
              />
            </ait-menu-button>
          </td>
        </ait-cursor>
        <!-- {{
          props
        }} -->
      </tbody>
    </template>
  </v-data-table>
  <!-- </form> -->
</template>

<script>
import upperFirst from "lodash/upperFirst";

function getElemIs(type) {
  if (!type) return `ait-text-field`;
  if (type.startsWith("ait-")) return type;
  return `ait-${type}-field`;
}

/**
 * Data table component, you will need data iterator as `VaList` in order to make it usable.
 * This component allows you to template all fields columns.
 */
export default {
  inject: {
    listState: { default: undefined }
  },
  props: {
    actions: {
      type: [Array, String],
      default: () => ["show", "edit", "-", "delete"]
    },
    disableds: {
      type: [Array, String, Object],
      default: () => []
    },
    hiddens: {
      type: [Array, String, Object],
      default: () => []
    },

    /**
     * List of columns for each property of resource data.
     * Each column can be a simple string or a full object with advanced field properties.
     * Valid properties are `source`, `type`, `label`, `sortable`, `align`, `link`, `attributes`, `editable`.
     */
    fields: {
      type: Array,
      default: () => []
    },
    /**
     * Reduce height of each row.
     */
    dense: Boolean,
    /**
     * Enable multi sort feature, enabled by default.
     */
    multiSort: {
      type: Boolean,
      default: true
    },
    /**
     * Enable row expand mode.
     * Use it for quick detail view.
     */
    showExpand: Boolean,
    /**
     * Only one row can expanded at once
     */
    singleExpand: {
      type: Boolean,
      default: true
    },
    /**
     * Disable select feature.
     */
    showSelect: Boolean,
    /**
     * Disable sorting.
     */
    disableSort: Boolean,

    /**
     * Disable actions column.
     */
    disableActions: Boolean,
    /**
     * Association infos object in case of this list is related to a current show or edit resource page.
     * Enable the dissociation between resources directly by an additional dissociation action.
     */
    association: {
      type: Object,
      default: () => ({})
    },
    /**
     * Allow new item row.
     */
    rowCreate: Boolean,
    /**
     * Allow editable row.
     */
    rowEdit: Boolean,
    /**
     * Additional form object data to merge with row-create form.
     */
    createData: {
      type: Object,
      default: () => ({})
    },
    /**
     * Additional form object data to merge with row-edit form.
     */
    updateData: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      editRowId: null,
      form: null,
      errors: {},
      saving: false
    };
  },
  computed: {
    isInfinity() {
      return !!this.listState?.isInfinity;
    },
    listItems() {
      if (this.form && !this.editRowId) {
        return [{ _new: true }, ...this.listState.items];
      }
      return this.listState.items;
    },
    headers() {
      let fields = this.getFields.map(field => {
        return {
          text: field.label,
          value: field.source,
          sortable: field.sortable,
          align: field.align || this.getDefaultAlign(field),
          divider: field.divider,
          class: field.class,
          cellClass: field.cellClass,
          width: field.width
        };
      });

      if (this.isItemMenu) {
        fields.push({
          value: "actions",
          sortable: false,
          align: "right"
        });
      }
      return fields;
    },
    getFields() {
      return this.fields
        .map(f => {
          return typeof f === "string"
            ? {
                source: f
              }
            : f;
        })
        .map(f => {
          return {
            ...f,
            type: f.type,
            is_: getElemIs(f.type),
            label: f.label || f.source
          };
        });
    },
    isItemMenu() {
      return !this.disableActions && this.actions?.length;
    }
  },
  watch: {
    multiSort: {
      handler(val) {
        this.listState.options.multiSort = val;
      },
      immediate: true
    }
  },
  methods: {
    getDefaultAlign(field) {
      if (["number"].includes(field.type)) {
        return "right";
      }
      return "left";
    },
    onRowClick(item) {
      this.raiseAction("select:item", item);
    },
    onSelectMenuItem(action, item) {
      this.raiseAction(action, item);
    },
    onAction(action, item) {
      if (this[`disable${upperFirst(action)}Redirect`]) {
        return;
      }

      this.raiseAction(action, item);
    },
    raiseAction(action, item) {
      if (this.listState?.raiseAction) {
        this.listState.raiseAction(action, item);
      } else {
        this.$emit(action, item);
      }
    }
  }
};
</script>

<style>
.ait-datatable-td-menu {
  text-align: right;
  width: 32px;
}
</style>
