<template>
  <v-container
    grid-list-sm
    fluid
    text-xs-left
    style="background: white"
    class="ait-icons-panel"
  >
    <template v-for="(categ, index) in items">
      <v-col
        justify-start
        :key="index"
        v-if="!categ.hidden && categ[children] && categ[children].length"
      >
        <hr class="v-divider theme--light mt-3" v-if="index" />

        <v-subheader v-if="getText(categ)">
          {{ getText(categ) }}
        </v-subheader>

        <v-row justify-start align-start fill-height wrap>
          <v-card
            v-for="(icon, n) in categ[children]"
            :key="n"
            flat
            class="d-flex"
            style="margin: 2px"
          >
            <v-flex
              @click="selectItem(icon)"
              class="icon-item-container"
              fill-height
              align-center
              justify-center
              ma-1
              column
            >
              <div class="border"></div>

              <ait-avatar
                column
                :icon="icon.icon"
                :color="icon.color"
                :is-active="icon.id === currentId"
              >
                <div class="ait-avatar-title">
                  {{ getText(icon) }}
                </div>
              </ait-avatar>
            </v-flex>
          </v-card>
        </v-row>
      </v-col>
    </template>
  </v-container>
</template>

<script>
export default {
  name: "ait-list-icons",
  props: {
    items: {
      type: [Array],
      default: () => []
    },
    currentId: {
      default: () => ""
    },
    children: {
      type: String,
      default: "icons"
    },
    itemText: {
      type: String,
      default: "title"
    }
  },
  methods: {
    selectItem(item) {
      if (item.link) {
        this.$router.push(item.link);
      } else {
        this.$emit("on-selected-item", item);
      }
    },
    getText(item) {
      return (item && item[this.itemText]) || "";
    }
  }
};
</script>

<style>
.ait-icons-panel .ait-avatar-title {
  line-height: 19px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
</style>

<style scoped>
.icon-item-container {
  width: 100px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  min-width: 101px;
  min-height: 101px;
  position: relative;
}
.icon-item-container:hover > .border {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -5px;
}
</style>
