<template>
  <v-list
    :dense="dense"
    class="ait-nav-list"
    v-if="!icon"
    :class="{ 'd-flex': horizontal }"
  >
    <template v-for="(item, index) in menuItems">
      <v-subheader v-if="item.heading && !miniVariant" :key="index">{{
        item.heading
      }}</v-subheader>
      <v-divider v-else-if="item.divider" :key="index"></v-divider>
      <v-list-group
        v-else-if="item.children && item.children.length"
        :key="index"
        :value="item.expanded"
        :prepend-icon="item.icon"
        :disabled="item.disabled"
        append-icon="mdi-chevron-up"
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </template>
        <ait-cursor
          v-for="(child, i) in item.children"
          :key="i"
          link
          exact
          :to="child.link"
          :href="child.href"
          :item="item"
          :position="item.position"
          :disabled="item.disabled"
          @select:item="onClick"
          tag="v-list-item"
        >
          <v-list-item-icon v-if="child.icon" class="ait-nav-list--icon">
            <v-icon :disabled="item.disabled">{{ child.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content class="ait-nav-list--content">
            <v-list-item-title>{{ child.text }}</v-list-item-title>
          </v-list-item-content>
        </ait-cursor>
      </v-list-group>
      <ait-cursor
        v-else-if="item.text"
        :key="index"
        link
        exact
        :to="item.link"
        :href="item.href"
        :item="item"
        :position="item.position"
        :disabled="item.disabled"
        @select:item="onClick"
        tag="v-list-item"
      >
        <v-list-item-icon class="ait-nav-list--icon">
          <v-icon :disabled="item.disabled">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content class="ait-nav-list--content">
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item-content>
      </ait-cursor>
    </template>
  </v-list>
  <div
    v-else
    class="ait-nav-list--icons d-flex flex-wrap"
    :class="{ 'flex-column': !horizontal }"
  >
    <template v-for="(item, index) in menuItems">
      <ait-cursor
        v-if="!item.divider"
        :key="index"
        icon
        link
        exact
        class="ma-1"
        :to="item.link"
        :href="item.href"
        :item="item"
        :position="item.position"
        :disabled="item.disabled"
        @select:item="onClick"
        tag="v-btn"
      >
        <v-icon :disabled="item.disabled">{{ item.icon }}</v-icon>
      </ait-cursor>
      <v-divider class="ma-2" :key="index" v-else :vertical="horizontal" />
    </template>
  </div>
</template>

<script>
/**
 * Default customizable admin VNavigationDrawer with full hierarchical menu and minimize variant.
 */
export default {
  props: {
    /**
     * Main place for side menu, support hierarchical structure, MDI icons, heading and dividers.
     */
    menu: {
      type: Array,
      default: () => []
    },

    dense: {
      type: Boolean,
      default: true
    },

    icon: Boolean,
    horizontal: Boolean,

    miniVariant: Boolean
  },
  computed: {
    menuItems() {
      return (this.menu || []).filter(l => l);
    }
  },
  methods: {
    onClick(item) {
      if (!item.link && !item.href) {
        this.$emit("select:item", item);
      }
    }
  }
};
</script>
<style>
.ait-nav-list
  .v-list-group__items
  > .v-list-item
  > .v-list-item__content:first-child {
  padding-left: 48px;
}

.v-application--is-ltr .ait-nav-list .v-list-item__action:first-child,
.v-application--is-ltr .ait-nav-list .v-list-item__icon:first-child {
  margin-right: 24px;
}

.ait-nav-list.v-list--dense .v-list-item .v-list-item__icon,
.ait-nav-list .v-list-item--dense .v-list-item__icon {
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.ait-nav-list.v-list--dense .v-list-item,
.v-list-item--dense {
  min-height: 36px;
}
</style>
