<template>
  <ait-list
    v-bind="$attrs"
    v-on="$listeners"
    ref="menulist"
    :icon="icon"
    :disable-create="!showCreate"
    :disable-query-string="!queryString"
    :disable-global-search="!showSearch"
    :disable-refresh="!showRefresh"
    :is-toolbar-hidden="!showToolbar"
    :is-toolbar-app="isToolbarApp"
    :align-filter="alignFilter"
    :title="title"
    :search-label="searchLabel"
  >
    <template v-slot:title>
      <slot name="title">{{ title }}</slot>
    </template>

    <template v-slot:default="listState">
      <ait-cursor-man :height="heightList">
        <v-container fluid :class="{ divided }">
          <template v-for="(citem, index) in listState.items">
            <ait-cursor
              :position="index"
              :item="citem"
              :key="index"
              tag="v-row"
              style="cursor: pointer"
              class="ait-list--menu-row-item no-gutters"
            >
              <v-col>
                <slot
                  name="item"
                  :item="citem"
                  :source="itemText"
                  :is-list-item="true"
                >
                  <v-list-item>
                    <ait-text-field :item="citem" :source="itemText" />
                  </v-list-item>
                </slot>
              </v-col>
            </ait-cursor>
          </template>
        </v-container>
        <slot name="loading">
          <ait-loading-scroll
            kind="1"
            rows="5"
            type="list"
            :scroll-window="scrollWindow_"
          />
        </slot>
      </ait-cursor-man>
    </template>
  </ait-list>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: () => ""
    },
    showCreate: Boolean,
    queryString: Boolean,
    showRefresh: Boolean,
    showToolbar: Boolean,
    showSearch: Boolean,
    divided: Boolean,
    heightList: [Number, String],
    itemText: {
      type: [String, Array, Function],
      default: "_display"
    },
    alignFilter: {
      type: String,
      default: "fill"
    },
    isToolbarApp: Boolean,
    scrollWindow: {
      type: Boolean,
      default: true
    },
    title: String,
    searchLabel: String
  },
  computed: {
    scrollWindow_() {
      return this.heightList ? false : this.scrollWindow;
    }
  },
  methods: {
    focus() {
      this.$refs?.menulist?.focus();
    }
  }
};
</script>

<style></style>
