<template>
  <div>
    <!-- i:{{ input }}<br />
    fmt:{{ dateFormatted }}<br />
    c:{{ cInput }}<br />
    {{ commonProps }} -->
    <v-text-field
      ref="input"
      v-bind="commonProps"
      :value="cInput"
      append-icon="mdi-calendar-today"
      :filled="filled"
      :solo="solo"
      :outlined="outlined"
      :placeholder="isDMY ? 'дд.мм.гггг' : 'yyyy-mm-dd'"
      v-ait-cleave="mask"
      maxlength="10"
      @click:append="onIconClick"
      @keydown="onKeydown"
      @blur="onBlur"
      @input="onInput"
    />

    <v-menu
      ref="menu"
      :close-on-content-click="false"
      v-model="menu"
      transition="scale-transition"
      offset-y
      nudge-right="40"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <div style="height: 1px" v-on="on" />
      </template>

      <v-date-picker
        :min="min"
        :max="max"
        ref="picker"
        first-day-of-week="1"
        :value="getInputFormatted"
        @change="save"
      />
    </v-menu>
  </div>
</template>

<script>
import { utils } from "@ait/share2";
import Input from "../mixins/input";
import Editable from "../mixins/editable";

export default {
  mixins: [Input, Editable],
  props: {
    value: {
      type: [Date, String],
      default: null
    },
    activePicker: {
      type: String,
      default: "" // "YEAR"
    },
    max: {
      type: String
    },
    min: {
      type: String,
      default: "1700-01-01"
    },
    filled: {
      type: Boolean,
      default: true
    },
    outlined: {
      type: Boolean
      // default: true
    },
    solo: Boolean
  },
  data() {
    return {
      cInput: "",
      menu: false,
      mask: {
        date: true,
        delimiter: ".",
        datePattern: ["d", "m", "Y"]
      }
    };
  },
  watch: {
    menu(val) {
      if (val && this.activePicker) {
        this.$nextTick(
          () => (this.$refs.picker.activePicker = this.activePicker)
        );
      }
    },
    dateFormatted: {
      async handler(fmtVal) {
        this.cInput = fmtVal;
        if (this.input instanceof Date) {
          this.raiseUpdateFmt(fmtVal);
        }
      },
      immediate: true
    }
  },
  computed: {
    isDMY() {
      return this.mask.datePattern[0] === "d";
    },
    fmt() {
      return this.mask.datePattern
        .map(c => {
          switch (c) {
            case "d":
              return "dd";
            case "m":
              return "MM";
            case "Y":
              return "yyyy";
          }
        })
        .join(this.mask.delimiter);
    },
    getInputFormatted() {
      return utils.isDate(this.input)
        ? utils.formatDate(this.input)
        : new Date().toISOString().substr(0, 10);
    },
    dateFormatted() {
      if (!this.input) return "";
      return utils.formatDate(this.input, this.fmt) || "";
    }
  },

  methods: {
    focus() {
      this.$nextTick(() =>
        this.$refs.input.$el.getElementsByTagName("INPUT")[0].focus()
      );
    },

    save(date) {
      this.update(date);
      this.menu = false;
      this.focus();
    },
    onBlur(event) {
      // restore input
      this.restoreInput();
      this.$emit("blur", event);
    },
    onKeydown(event) {
      switch (event.code) {
        case "ArrowDown":
          this.menu = true;
          break;
        case "Escape":
          this.menu = false;
          this.restoreInput();
          break;
        default:
          this.menu = false;
          this.$emit("keydown", event);
          break;
      }
    },
    onIconClick($event) {
      this.menu = !this.menu;
      this.focus();
      this.$emit("click:append", $event);
    },
    onInput(val) {
      if (val?.length > 10) return;
      this.cInput = val;
      if (val !== this.dateFormatted) {
        this.raiseUpdateFmt(val);
      }
    },
    restoreInput() {
      if (this.cInput !== this.dateFormatted) {
        this.cInput = this.dateFormatted;
      }
    },
    raiseUpdateFmt(val) {
      if (!val && this.commonProps.clearable) {
        this.update("");
      } else if (this.isDMY) {
        if (utils.isValidDMY(val)) {
          const dmy = val.split(this.mask.delimiter);
          this.update(`${dmy[2]}-${dmy[1]}-${dmy[0]}`);
        }
      } else {
        if (utils.isValidYMD(val)) {
          this.update(val);
        }
      }
    }
  }
};
</script>

<style></style>
