<template>
  <div class="ait-date-range">
    <v-menu
      v-model="menu"
      ref="menu"
      :return-value.sync="range"
      :close-on-content-click="false"
      offset-y
      v-bind="menuProps"
      transition="scale-transition"
      min-width="auto"
      :disabled="disabled"
    >
      <template v-slot:activator="{ on, attrs }">
        <!--Проброс пришедших от меню attrs, on в parent компонент в кастомный шаблон активатора-->
        <slot
          name="activator"
          v-bind:attrs="attrs"
          v-bind:on="on"
          v-bind:range="exportSelectedRange"
        >
          <!-- <v-text-field
                        :value="inputSelectedRange"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :disabled="disabled"
                        prepend-icon="mdi-calendar-range-outline"
                        class="ait-date-range__input-field"
                    ></v-text-field> -->
          <v-text-field
            :filled="true"
            :hide-details="hideDetails"
            :clearable="clearable"
            :disabled="disabled"
            :value="inputSelectedRange"
            :placeholder="
              displayFormat === 'dd.MM.yyyy' ? 'дд.мм.гггг - дд.мм.гггг' : ''
            "
            readonly
            v-bind="attrs"
            v-on="on"
            append-icon="mdi-calendar-range-outline"
            class="ait-date-range__input-field"
            @click:append="onIconClick"
            @input="onInput"
          ></v-text-field>
        </slot>
      </template>
      <v-card class="ait-date-range__menu-content">
        <slot name="header" v-bind:range="exportSelectedRange">
          <div class="primary ait-date-range__header-slot">
            <!-- <h3>Calendar header</h3> -->
            <!-- <v-select
                            v-model="selectedYear" 
                            :items="years"
                            menu-props="auto"
                            label="Select"
                            hide-details
                            single-line
                            dense
                            class="ait-date-range__select"
                            @change="selectedYearChanged"
                        ></v-select> -->
            <slot name="headerText" v-bind:range="exportSelectedRange">
              <h3>
                {{ headerText || "Диапазон не выбран" }}
              </h3>
            </slot>
          </div>
        </slot>
        <v-card-text style="padding-bottom: 0px">
          <div class="ait-date-range__content">
            <v-list
              v-if="!noPresets"
              class="mr-4 ait-date-range__presets"
              dense
            >
              <v-list-item v-if="selectedYear">
                <!-- <v-subheader style="padding: 0 !important"> -->
                <v-select
                  v-model="selectedYear"
                  :items="years"
                  menu-props="auto"
                  label="Select"
                  hide-details
                  single-line
                  dense
                  class="ait-date-range__select"
                  @change="selectedYearChanged"
                ></v-select>
                <!-- </v-subheader> -->
              </v-list-item>
              <v-list-item
                v-for="(preset, index) in currentPresets"
                :key="index"
                @click="selectPreset(preset)"
                :class="{ active: preset.label === selectedPresetLabel }"
              >
                <v-list-item-content>
                  {{ preset.label }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
            <v-date-picker
              v-model="range"
              range
              scrollable
              no-title
              :picker-date.sync="pickerDate"
              :min="min"
              :max="max"
              @click:date="onDateClick"
              @change="onChange"
            ></v-date-picker>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="secondary" @click="menu = false"> ОТМЕНА </v-btn>
          <v-btn
            text
            color="primary"
            @click="applyRange"
            :disabled="!bothSelected && !allowNoEndDate_"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
import { format, parse, endOfQuarter } from "date-fns";
import Input from "../mixins/input";
import Editable from "../mixins/editable";

export const ISO_FORMAT = "yyyy-MM-dd";
export const DEFAULT_DATE = format(new Date(), ISO_FORMAT);

export default {
  inheritAttrs: false,
  mixins: [Input, Editable],
  name: "date-range-picker",
  props: {
    value: {
      type: Array,
      default: () => [DEFAULT_DATE, DEFAULT_DATE]
    },
    menuProps: {
      type: Object,
      default: () => {
        return {};
      }
    },
    displayFormat: {
      type: String,
      default: "dd.MM.yyyy"
    },
    separatorLabel: {
      type: String,
      default: "-"
    },
    emptyDateLabel: {
      type: String,
      default: "?"
    },
    disabled: {
      type: Boolean,
      default: false
    },
    allowNoEndDate: {
      type: Boolean,
      default: false
    },
    noPresets: {
      type: Boolean,
      default: false
    },
    presets: {
      type: Array,
      default: null
    },
    mode: {
      type: String,
      default: "future"
    },
    // Min selectable date.
    min: {
      type: String,
      default: undefined
    },
    // Max selectable date
    max: {
      type: String,
      default: undefined
    }
  },
  mounted() {
    if (!this.value?.length) {
      this.range = [DEFAULT_DATE, DEFAULT_DATE];
    }
    this.applyRange();
  },
  data() {
    return {
      range: this.value,
      selectedRange: null,
      menu: false,
      selectedYear: new Date().getFullYear(),
      pickerDate: null,
      selectedPreset: null,
      // mode
      mode_: this.mode || "",
      allowNoEndDate_: this.allowNoEndDate
    };
  },
  computed: {
    isFutureMode() {
      return this.mode_ === "future";
    },
    isClassicMode() {
      return this.mode_ === "classic";
    },
    isValueEmpty() {
      return !this.value?.length;
    },
    isRangeEmpty() {
      return !this.range?.length;
    },
    rangeFrom() {
      return this.range?.length > 0 ? this.range[0] : null;
    },
    rangeTo() {
      return this.range?.length > 1 ? this.range[1] : null;
    },
    valueFrom() {
      return this.value?.length > 0 ? this.value[0] : null;
    },
    valueTo() {
      return this.value?.length > 1 ? this.value[1] : null;
    },
    inputRange() {
      return this.formatRange(this.range);
      // if (this.isRangeEmpty) {
      //     return "";
      // }
      // const start = this.formatDate(this.rangeFrom, this.displayFormat);
      // const end = this.rangeTo && this.formatDate(this.rangeTo, this.displayFormat);
      // return `${start} ${this.separatorLabel} ${end || this.emptyDateLabel}`;
    },
    inputValue() {
      return this.formatRange(this.value);
      // if (this.isValueEmpty) {
      //     return "";
      // }
      // const start = this.formatDate(this.valueFrom, this.displayFormat);
      // const end = this.valueTo && this.formatDate(this.valueTo, this.displayFormat);
      // return `${start} ${this.separatorLabel} ${end || this.emptyDateLabel}`;
    },
    inputSelectedRange() {
      return this.selectedRange ? this.inputRange : this.inputValue;
    },
    exportSelectedRange() {
      return {
        range: this.range,
        selectedRange: this.selectedRange,
        rangeDisplay: this.formatRange(this.selectedRange),
        selectedYear: this.selectedYear,
        selectedPreset: this.selectedPreset,
        presetDisplay: this.headerText
      };
      // return this.selectedRange
      //     ? { range: this.range, display: this.inputRange, selectedYear: this.selectedYear, selectedPreset: this.selectedPreset, headerText: this.headerText }
      //     : { range: this.value, display: this.inputValue, selectedYear: this.selectedYear, selectedPreset: this.selectedPreset, headerText: this.headerText };
    },
    headerText() {
      if (!this.selectedPreset || this.selectedPreset.isRangeHeader)
        return this.inputRange;
      else
        return `${
          this.selectedPreset.hasOwnProperty("headerLabel")
            ? this.selectedPreset.headerLabel
            : this.selectedPreset.label
        } ${this.selectedYear} г.`;
      // return this.selectedPreset
      //     ? `${this.selectedPreset.noHeaderLabel ? "" : this.selectedPreset.headerLabel || this.selectedPreset.label} ${this.selectedYear} г.`
      //     : this.inputRange;
    },
    years() {
      let currentYear = new Date().getFullYear(),
        years = [];
      let startYear = this.min
        ? parse(this.min, ISO_FORMAT, new Date()).getFullYear()
        : currentYear - 10;
      let endYear = this.max
        ? parse(this.max, ISO_FORMAT, new Date()).getFullYear()
        : currentYear + 10;
      while (startYear < endYear) {
        years.push(startYear++);
      }
      return years;
    },
    bothSelected() {
      return this.rangeFrom && this.rangeTo;
    },
    currentPresets() {
      return (
        this.presets ||
        (this.isFutureMode ? this.defaultPresetsFuture : this.defaultPresets)
      );
    },
    defaultPresets() {
      return [
        {
          label: "За год",
          headerLabel: "",
          default: false,
          range: [
            new Date(this.selectedYear, 0, 1),
            new Date(this.selectedYear, 11, 31)
          ]
        },
        {
          label: "I квартал",
          default: false,
          range: [
            new Date(this.selectedYear, 0, 1),
            endOfQuarter(new Date(this.selectedYear, 0, 1))
          ]
        },
        {
          label: "II квартал",
          default: false,
          range: [
            new Date(this.selectedYear, 3, 1),
            endOfQuarter(new Date(this.selectedYear, 3, 1))
          ]
        },
        {
          label: "III квартал",
          default: false,
          range: [
            new Date(this.selectedYear, 6, 1),
            endOfQuarter(new Date(this.selectedYear, 6, 1))
          ]
        },
        {
          label: "IV квартал",
          default: false,
          range: [
            new Date(this.selectedYear, 9, 1),
            endOfQuarter(new Date(this.selectedYear, 9, 1))
          ]
        }
      ];
    },
    defaultPresetsFuture() {
      const today = format(new Date(), "dd.MM.yyyy");
      const year = new Date().getFullYear();
      return [
        {
          label: "За весь год",
          isRangeHeader: true,
          default: false,
          range: [
            new Date(this.selectedYear, 0, 1),
            new Date(this.selectedYear, 11, 31)
          ]
        },
        {
          // label: `За год с ${today}`,
          label: `До конца года`,
          isRangeHeader: true,
          default: false,
          range: [new Date().setHours(0, 0, 0, 0), new Date(year, 11, 31)]
        },
        {
          //label: `С ${today}`,
          label: `С текущей даты`,
          isRangeHeader: true,
          default: false,
          range: [new Date().setHours(0, 0, 0, 0)]
        }
      ];
    },
    selectedPresetLabel() {
      return this.selectedPreset?.label;
    }
  },
  methods: {
    formatDate(date, fmt) {
      //console.log(date, fmt);
      //console.log(parse(date, ISO_FORMAT, new Date()));
      return format(parse(date, ISO_FORMAT, new Date()), fmt || ISO_FORMAT);
    },
    selectedYearChanged() {
      this.unselectPreset();

      let pickerDate = new Date(this.pickerDate);
      pickerDate.setFullYear(this.selectedYear);
      this.pickerDate = format(pickerDate, ISO_FORMAT);
      // if (this.range?.length > 0) {
      //     let fromDate = new Date(this.range[0]);
      //     fromDate.setFullYear(this.selectedYear);
      //     this.range[0] = format(fromDate, ISO_FORMAT);
      // }
      // if (this.range?.length > 1) {
      //     let toDate = new Date(this.range[1]);
      //     toDate.setFullYear(this.selectedYear);
      //     this.range[1] = format(toDate, ISO_FORMAT);
      // }
    },
    applyRange() {
      //console.log("applyRange");
      this.update(this.range);
      this.selectedRange = this.range;
      this.$refs.menu.save(this.range);
      this.$emit("input", this.range);
      this.$emit("update:selectedPreset", this.selectedPreset);
      this.$emit("update:headerText", this.headerText);
    },
    selectPreset(preset) {
      this.selectedPreset = preset;
      let newRange = [format(preset.range[0], ISO_FORMAT)];
      if (preset.range.length > 1)
        newRange.push(format(preset.range[1], ISO_FORMAT)); // для пресета с пустой end date
      this.range = newRange;
      //this.range = [format(preset.range[0], ISO_FORMAT), format(preset.range[1], ISO_FORMAT)];
    },
    unselectPreset() {
      if (this.selectedPreset) {
        this.selectedPreset = null;
        this.range = [DEFAULT_DATE, DEFAULT_DATE];
      }
    },
    onDateClick() {
      this.unselectPreset(); // при клике на дне справа сбрасываем пресеты, тк начался ручной выбор
    },
    formatRange(range) {
      //console.log("formatRange", range, this.selectedRange);
      if (!range?.length) {
        return "";
      }
      const valueFrom = range?.length > 0 ? range[0] : null;
      const valueTo = range?.length > 1 ? range[1] : null;
      const start = this.formatDate(valueFrom, this.displayFormat);
      const end = valueTo && this.formatDate(valueTo, this.displayFormat);
      //console.log("formatRange res", `${start} ${this.separatorLabel} ${end || "?"}`);
      return `${start} ${this.separatorLabel} ${end || this.emptyDateLabel}`;
    },
    onChange() {
      if (this.isRangeEmpty || !this.rangeTo) return;
      const from = parse(this.rangeFrom, ISO_FORMAT, new Date());
      const to = parse(this.rangeTo, ISO_FORMAT, new Date());
      if (from > to) this.range = [this.range[1], this.range[0]];
    },
    onModes() {
      if (this.isFutureMode) {
        this.allowNoEndDate_ = true;
      }
    },
    onIconClick($event) {
      this.menu = !this.menu;
      this.focus();
      this.$emit("click:append", $event);
    },
    onInput(val) {
      if (!val) {
        this.unselectPreset(); // устанавливает default range!
        this.range = [];
        this.applyRange();
      }
      //this.cInput = val;
      //if (val !== this.dateFormatted) {
      //    this.raiseUpdateFmt(val);
      //}
    }
  },
  watch: {
    mode: {
      immediate: true,
      handler() {
        this.mode_ = this.mode || "";
        this.onModes();
      }
    }
    //     menu: function () {
    //         // do whatever you want
    //         console.log(this.menu);
    //         if (this.menu)
    //             this.openRange = this.inputSelectedRange; // фиксируем текущий range на момент открытия, для экспорта
    //     },
  }
};
</script>

<style>
.ait-date-range__header-slot {
  background-color: #aaa;
  padding: 1rem;
  color: white;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.ait-date-range__presets {
  padding-top: 2px;
  max-height: 290px;
  overflow-y: auto;
}
.ait-date-range__select {
  margin-top: 0;
}
.ait-date-range__select .v-select__selections {
  font-weight: bold;
  /* color: white !important; */
}
.ait-date-range__select .v-select__selections:hover {
  color: #82b1ff !important; /*todo: blue accent-1*/
}
.ait-date-range__select .v-select__selections input {
  display: none;
}
.ait-date-range__select.v-text-field
  > .v-input__control
  > .v-input__slot:before {
  border-style: none;
}
.ait-date-range__select.v-text-field
  > .v-input__control
  > .v-input__slot:after {
  border-style: none;
}
.ait-date-range__select.v-text-field
  > .v-input__control
  > .v-input__slot
  .v-input__icon {
  display: none;
}
.ait-date-range__content {
  display: flex;
}
.ait-date-range__content .ait-date-range__presets .v-list-item.active {
  color: #1976d2; /*todo: blue darken-2*/
}
</style>

<!--<style scoped>
::v-deep .ait-date-range__header-slot {
    background-color: #aaa;
    padding: 1rem;
    color: white;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}
::v-deep .ait-date-range__presets {
    padding-top: 2px;
    max-height: 290px;
    overflow-y: auto;
}
::v-deep .ait-date-range__select {
    margin-top: 0;
}
::v-deep .ait-date-range__select .v-select__selections {
    font-weight: bold;
    /* color: white !important; */
}
::v-deep .ait-date-range__select .v-select__selections:hover {
    color: #82b1ff !important; /*todo: blue accent-1*/
}
::v-deep .ait-date-range__select .v-select__selections input {
    display: none;
}
::v-deep .ait-date-range__select.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;
}
::v-deep .ait-date-range__select.v-text-field > .v-input__control > .v-input__slot:after {
    border-style: none;
}
::v-deep .ait-date-range__select.v-text-field > .v-input__control > .v-input__slot .v-input__icon {
    display: none;
}
::v-deep .ait-date-range__content {
    display: flex;
}
::v-deep .ait-date-range__content .ait-date-range__presets .v-list-item.active {
    color: #1976d2; /*todo: blue darken-2*/
}
</style>-->
