<template>
  <v-text-field
    ref="input"
    :value="cInput"
    v-bind="commonProps"
    :filled="filled"
    :outlined="outlined"
    :solo="solo"
    v-ait-cleave="mask"
    maxlength="16"
    @change="change"
    @input="update"
    @blur="onBlur"
  ></v-text-field>
</template>

<script>
import Input from "../mixins/input";
import Editable from "../mixins/editable";

function parseFloatFix(value, decimalScale = 0) {
  const t = parseFloat(value); //.toFixed(decimalScale);
  if (Number.isNaN(t)) return 0;
  const p = decimalScale ? Math.pow(10, parseInt(decimalScale)) : 1;
  return Math.floor(t * p) / p;
}

/**
 * Optimized for number editing. Just a type number input with step, min and max attribute behavior.
 */
export default {
  mixins: [Input, Editable],
  props: {
    /**
     * Number to be edited.
     * @model
     */
    value: {
      type: Number,
      default: null
    },
    /**
     * Use full filled background color style.
     */
    filled: {
      type: Boolean,
      default: true
    },
    outlined: {
      type: Boolean
    },
    decimalScale: {
      type: [Number, String],
      default: 0
    },
    positiveOnly: Boolean,
    solo: Boolean
  },
  data() {
    return {
      cInput: parseFloatFix(this.value, this.decimalScale) + "",
      mask: {
        numeral: true,
        numeralDecimalMark: ".",
        delimiter: "",
        numeralDecimalScale: this.decimalScale,
        numeralPositiveOnly: this.positiveOnly,
        rawValueTrimPrefix: true
        // _backfix: true,
      }
    };
  },
  methods: {
    change(value) {
      this.cInput = value;
      value = parseFloatFix(value, this.decimalScale);
      this.input = value + "";
      /**
       * Triggered on any user input interaction.
       */
      this.$emit("change", value);
    },
    update(value) {
      this.cInput = value;
      value = parseFloatFix(value, this.decimalScale);
      this.input = value + "";

      /**
       * Update model in the injected form if available.
       */
      if (this.formState) {
        this.formState.update({
          source: this.uniqueFormId,
          value
        });
      }

      // /**
      //  * Set value into input.
      //  */
      this.cInput = this.input;

      /**
       * Triggered if value updated.
       */
      this.$emit("input", value);
    },
    focus() {
      this.$nextTick(() =>
        this.$refs.input.$el.getElementsByTagName("INPUT")[0].focus()
      );
    },
    onBlur() {
      if (this.cInput != this.input) {
        console.log(this.cInput, this.input);
        this.cInput = this.input;
      }
    }
  }
};
</script>
