<template>
  <v-text-field
    v-bind="commonProps"
    :filled="filled"
    :outlined="outlined"
    :solo="solo"
    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
    :type="show ? 'text' : 'password'"
    @click:append="show = !show"
    @change="change"
    @input="update"
    autocomplete="off"
  ></v-text-field>
</template>

<script>
import Input from "../mixins/input";
import Editable from "../mixins/editable";
/**
 * Use it for password. No value accepted. Has show/hide behavior for current input.
 */
export default {
  mixins: [Input, Editable],
  props: {
    /**
     * Use full filled background color style.
     */
    filled: {
      type: Boolean,
      default: true
    },
    outlined: {
      type: Boolean
      // default: true
    },
    solo: Boolean
  },
  data() {
    return {
      show: false,
      acceptValue: false
    };
  }
};
</script>
