<template>
  <v-text-field
    v-bind="commonProps"
    :filled="filled"
    :outlined="outlined"
    :solo="solo"
    v-ait-cleave="mask"
    maxlength="18"
    @change="change"
    @input="update"
  ></v-text-field>
</template>

<script>
import Input from "../mixins/input";
import Editable from "../mixins/editable";

/**
 * Optimized for number editing. Just a type number input with step, min and max attribute behavior.
 */
export default {
  mixins: [Input, Editable],
  props: {
    /**
     * Number to be edited.
     * @model
     */
    value: {
      type: Number,
      default: null
    },
    /**
     * Use full filled background color style.
     */
    filled: {
      type: Boolean,
      default: true
    },
    outlined: {
      type: Boolean
    },

    solo: Boolean
  },
  data() {
    return {
      mask: {
        //  +7 929 637-97-87
        prefix: "+",
        rawValueTrimPrefix: true,
        numericOnly: true,
        delimiters: [" (", ") ", "-", "-"],
        blocks: [2, 3, 3, 2, 2],
        _backfix: true
      }
    };
  },
  methods: {
    change(value) {
      /**
       * Triggered on any user input interaction.
       */
      this.$emit("change", value);
    },
    update(value) {
      // if (value === "+" || !value) value = undefined;
      /**
       * Update model in the injected form if available.
       */
      if (this.formState) {
        this.formState.update({
          source: this.uniqueFormId,
          value
        });
      }

      /**
       * Set value into input.
       */
      this.input = value;

      /**
       * Triggered if value updated.
       */
      this.$emit("input", value);
    }
  }
};
</script>
