<template>
  <v-radio-group
    v-bind="commonProps"
    :column="column"
    :row="row"
    @change="update"
  >
    <v-radio v-if="clearable" label="не выбрано"></v-radio>
    <v-radio
      v-for="(c, i) in items"
      :key="i"
      :label="getItemText(c)"
      :value="getItemValue(c)"
    ></v-radio>

    <!-- <v-radio
			v-for="(c, i) in items"
			:key="i"
			:label="c[getItemText]"
			:value="c[getItemValue]"
		></v-radio> -->
  </v-radio-group>
</template>

<script>
import Input from "../mixins/input";
import get from "lodash/get";

export default {
  mixins: [Input],
  props: {
    /**
     * Show radios as a column.
     */
    column: Boolean,
    /**
     * Show radios as a row.
     */
    row: Boolean,

    itemText: {
      type: String
    },
    /**
     * Attribute where taking the id value for link building.
     */
    itemValue: {
      type: String,
      default: "id"
    },
    items: Array
  },
  methods: {
    getItemText(c) {
      if (this.itemText) {
        return get(c, this.itemText);
      }
      return c;
    },
    getItemValue(c) {
      if (this.itemValue) {
        return get(c, this.itemValue);
      }
      return c;
    }
  }
};
</script>
