<template>
  <v-menu
    v-model="isMenu"
    :close-on-content-click="false"
    nudge-bottom="58px"
    bottom
    left
  >
    <template v-slot:activator="{ on }">
      <!-- {{ solo }} -->
      <v-combobox
        class="ait-ref-input"
        :class="class_"
        ref="input"
        v-bind="commonProps"
        v-on="on"
        :label="getLabel"
        autocomplete="off"
        :source="source"
        :reference="reference"
        :loading="loading"
        :value="cInput"
        readonly
        :filled="!solo"
        :solo="solo"
        @input="onInput"
        @click:append="onBtnMenuDown"
        @keydown.native="onKeydown"
        append-icon="mdi-menu-down"
      >
        <template v-slot:selection="{ attrs, item, select, selected }">
          <div class="ait-ref-input--input-item">
            <slot
              v-if="recordItem"
              v-bind="{
                attrs,
                item: recordItem,
                text: item,
                select,
                selected
              }"
              >{{ item }}</slot
            >
          </div>
        </template>
      </v-combobox>
    </template>
    <v-card flat class="noselect" v-if="isMenu">
      <ait-simple-list
        ref="menulist"
        :class="class_"
        :filters="filters"
        :filter="filter"
        :get-list="getList"
        :items-per-page="itemsPerPage"
        :divided="divided"
        :height-list="heightList"
        :item-text="itemText"
        :show-search="!disableSearch"
        :show-refresh="!disableRefresh"
        :show-create="showCreate"
        :show-toolbar="!isToolbarHidden"
        :search-label="searchLabel"
        @action="onAction"
      >
        <!--
          https://stackoverflow.com/questions/50891858/vue-how-to-pass-down-slots-inside-wrapper-component
           https://gist.github.com/loilo/73c55ed04917ecf5d682ec70a2a1b8e2 -->
        <template
          v-for="(_, scopedSlotName) in $scopedSlots"
          v-slot:[scopedSlotName]="slotData"
        >
          <slot :name="scopedSlotName" v-bind="slotData" />
        </template>

        <template v-for="(_, slotName) in $slots" v-slot:[slotName]>
          <slot :name="slotName" />
        </template>
      </ait-simple-list>
    </v-card>
  </v-menu>
</template>

<script>
import get from "lodash/get";
import Input from "../mixins/input";
import LookupInput from "../mixins/lookup-input";
import InputWrapper from "../mixins/input-wrapper";

export default {
  inheritAttrs: false,
  mixins: [Input, LookupInput, InputWrapper],
  inject: ["form"],
  props: {
    class_: {
      type: [Object, String]
    },
    /**
     * Exposed filters, editable through advanced filter form, update URL query string if not disabled.
     * Sent to your data provider inside `filter` params.
     * Use specific `alwaysOn` property for each filter you want to be visible and not removable.
     * Valid properties are `source`, `type`, `label`, `alwaysOn`, `attributes`.
     */
    filters: {
      type: Array,
      default: () => []
    },
    /**
     * Internal active filter.
     * Sent to your data provider inside `filter` params.
     */
    filter: {
      type: Object,
      default: () => {}
    },
    clearable: Boolean,
    itemText: {
      type: [String, Array, Function],
      default: "_display"
    },
    divided: Boolean,
    itemsPerPage: {
      type: Number,
      default: 20
    },
    showCreate: Boolean,
    disableSearch: Boolean,
    disableRefresh: Boolean,
    isToolbarHidden: Boolean,
    heightList: {
      type: [Number, String],
      default: 340
    },
    searchLabel: String
  },
  mounted() {
    const el = this.$refs.input.$el;
    el.addEventListener("click", this.onClick, false);
  },
  beforeDestroy() {
    const el = this.$refs.input.$el;
    el.removeEventListener("click", this.onClick, false);
  },
  data() {
    return {
      cItem: "",
      isMenu: null
    };
  },
  computed: {
    recordItem() {
      return (this.referenceItem && this.referenceItem.record) || null;
    }
  },
  watch: {
    isMenu(v) {
      if (v) {
        setTimeout(() => this.$refs?.menulist?.focus(), 500);
      } else {
        this.$nextTick(this.focus);
      }
    },
    getText: {
      async handler(fmtVal) {
        this.cInput = fmtVal;
      },
      immediate: true
    },
    // все так работает
    recordItem(newVal) {
      this.$emit("update:recordItem", newVal);
    }
  },
  methods: {
    onClick() {
      this.onBtnMenuDown();
    },
    onBtnMenuDown() {
      this.isMenu = !this.form?.disabled && !this.disabled && !this.isMenu;
    },
    focus() {
      this.$refs?.input?.focus();
    },
    onInput(val) {
      this.cInput = val;
      if (!this.cInput && this.commonProps.clearable) {
        this.update("");
      }
    },
    async getList(p) {
      const data = await this.lookup.search(this.reference, p);
      return {
        data
      };
    },
    onAction(e) {
      if (e.action === "enter:item") {
        this.setItem(e.item);
      }
      this.$emit("action", e);
    },
    setItem(item) {
      if (item) {
        const id = get(item, this.itemValue);
        if (id) {
          this.referenceItem = { id, record: item };
          this.update(id);
          this.isMenu = false;
        } else {
          console.error(`id not found - ${this.itemValue}`);
        }
      }
    },
    onKeydown(e) {
      switch (e.code) {
        case "ArrowDown":
        case "Enter":
        case "Space":
          this.isMenu = !this.form?.disabled && !this.disabled;
          e.preventDefault();
          break;
      }
    }
  }
};
</script>

<style>
.ait-ref-input .v-select__selections input {
  height: 0px;
  margin: 0;
  padding: 0;
  width: 0;
}

.ait-ref-input .v-select__selections > div > div {
  width: 100%;
}

.ait-list--menu-row-item {
  position: relative;
  padding: 6px;
}

.ait-list--menu-row-item .col > .v-list-item {
  position: relative;
  margin: -6px;
}

.divided .ait-list--menu-row-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.ait-list--menu-row-item:before {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.ait-list--menu-row-item:hover:before {
  opacity: 0.04;
  background-color: currentColor;
}

.ait-ref-input--input-item {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 8px 0;
  min-height: 36px;
}

.ait-ref-input--list-item {
  min-height: 30px;
  display: flex;
  align-items: center;
}

.ait-ref-input--input-item > div.v-list-item {
  margin: -16px 0;
  padding-left: 0;
}

.ait-ref-input--input-item > div.v-list-item.v-list-item--two-line,
.ait-ref-input--input-item > div.v-list-item.v-list-item--three-line {
  margin: -8px 0;
  padding-left: 0;
}
</style>
