<template>
  <v-text-field
    ref="input"
    hide-details
    prepend-inner-icon="mdi-magnify"
    single-line
    @input="debounceSearch"
    clearable
    v-bind="$attrs"
    v-bind:value="searchQuery"
    :filled="filled"
    :solo="solo"
    :outlined="outlined"
    :dense="dense"
    autocomplete="off"
  ></v-text-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    search: String,
    tooggle: Boolean,
    filled: {
      type: Boolean,
      default: false
    },
    outlined: {
      type: Boolean
      // default: true
    },
    solo: {
      type: Boolean,
      default: true
    },
    dense: Boolean
  },
  data() {
    return {
      searchQuery: this.search || "",
      debounce: null,
      typing: false
    };
  },
  methods: {
    focus: function() {
      this.$refs.input.focus();
    },
    // clear() {
    //   this.searchQuery = "";
    //   this.$nextTick(() => {
    //     this.$emit("typing", searchQuery, false);
    //     this.$emit("input", this.searchQuery);
    //     this.focus();
    //   });
    // },
    debounceSearch(event) {
      const searchQuery = event;
      this.typing = true;
      this.$emit("change", searchQuery);
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.typing = false;
        this.searchQuery = event;
        this.$emit("change", searchQuery);
        this.$emit("input", this.searchQuery);
      }, 600);
    }
  },
  destroyed() {
    clearTimeout(this.debounce);
  }
};
</script>

<style></style>
