<template>
  <div>
    <!-- i:{{ input }}<br />
    fmt:{{ timeFormatted }}<br />
    c:{{ cInput }}<br />
    {{ commonProps }} -->
    <v-text-field
      ref="input"
      v-bind="commonProps"
      :value="cInput"
      append-icon="mdi-clock-time-four-outline"
      :filled="filled"
      :solo="solo"
      :outlined="outlined"
      placeholder="чч:мм"
      maxlength="5"
      v-ait-cleave="mask"
      @click:append="onIconClick"
      @keydown="onKeydown"
      @blur="onBlur"
      @input="onInput"
    />

    <v-menu
      ref="menu"
      :close-on-content-click="false"
      v-model="menu"
      transition="scale-transition"
      offset-y
      nudge-right="40"
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <div style="height: 1px" v-on="on" />
      </template>

      <v-time-picker
        ref="picker"
        format="24hr"
        :min="min"
        :max="max"
        :value="value"
        @change="save"
      />
    </v-menu>
  </div>
</template>

<script>
const reTIME = /^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/;

import Input from "../mixins/input";
import Editable from "../mixins/editable";

export default {
  mixins: [Input, Editable],
  props: {
    value: {
      type: [Date, String],
      default: null
    },
    filled: {
      type: Boolean,
      default: true
    },
    outlined: {
      type: Boolean
    },
    solo: Boolean,
    max: {
      type: String
    },
    min: {
      type: String
    }
  },
  data() {
    return {
      cInput: "",
      menu: false,
      mask: {
        time: true,
        timePattern: ["h", "m"]
      }
    };
  },
  watch: {
    timeFormatted: {
      handler(fmtVal) {
        this.cInput = fmtVal;
      },
      immediate: true
    }
  },
  computed: {
    timeFormatted() {
      if (!this.input) return "";

      if (reTIME.test(this.input)) {
        return this.input;
      }

      return "";
    }
  },

  methods: {
    focus() {
      this.$nextTick(() =>
        this.$refs.input.$el.getElementsByTagName("INPUT")[0].focus()
      );
    },

    save(val) {
      this.update(val);
      this.menu = false;
      this.focus();
    },
    onBlur(event) {
      // restore input
      this.restoreInput();
      this.$emit("blur", event);
    },
    onKeydown(event) {
      switch (event.code) {
        case "ArrowDown":
          this.menu = true;
          break;
        case "Escape":
          this.menu = false;
          this.restoreInput();
          break;
        default:
          this.menu = false;
          this.$emit("keydown", event);
          break;
      }
    },
    onIconClick($event) {
      this.menu = !this.menu;
      this.focus();
      this.$emit("click:append", $event);
    },
    onInput(val) {
      if (val?.length > 5) return;
      this.cInput = val;
      if (val !== this.timeFormatted) {
        this.raiseUpdateFmt(val);
      }
    },
    restoreInput() {
      if (this.cInput !== this.timeFormatted) {
        this.cInput = this.timeFormatted;
      }
    },
    raiseUpdateFmt(val) {
      if (!val && this.commonProps.clearable) {
        this.update("");
      } else {
        if (reTIME.test(val)) this.update(val);
      }
    }
  }
};
</script>

<style></style>
