<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Actions.vue"
      >
        Actions.vue
      </a>
    </template>

    <v-card flat class="pa-5">
      <div class="d-flex">
        <ait-form>
          <v-switch v-model="hidden" label=":hiddens='myactions'" />
          <v-switch
            v-model="disableds"
            label=":disableds='disableds,clone,edit'"
          />
          <v-switch v-model="icon" label=":icon" />
          <v-switch v-model="horizontal" label=":horizontal" />
        </ait-form>
        <v-spacer />

        <ait-action-list
          :items="items"
          :horizontal="horizontal"
          :icon="icon"
          value="some value"
          @select:item="onAction"
          :disableds="disabledsActions"
          :hiddens="hiddenActions"
        />
      </div>
    </v-card>
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      hidden: false,
      disableds: false,
      hiddenActions: "",
      disabledsActions: "",
      horizontal: false,
      icon: false,
      items: [
        {
          text: "User action",
          action: "myaction",
          icon: "mdi-account-cowboy-hat",
          disabled: false,
          hidden: false
        },
        "refresh",
        "-",
        "back",
        "list",
        "apps",
        "tools",
        "dashboard",
        "home",
        "-",
        "create",
        "save",
        "edit",
        "delete",
        "-",
        "search",
        "sort",
        "undo",
        "clone",
        "show",
        "print",
        "export",
        "filter",
        "-",

        "close"
      ]
    };
  },
  methods: {
    onAction(action) {
      console.log(action);
      this.$aitify.toast.success(action);
    },
    preAction(action, n) {
      // if (action === "print") {
      //   console.log("preAction print!", action)
      //   // this.$aitify.toast.error("Хренушки");
      //   // n.next = false;
      // }
    }
  },
  watch: {
    hidden(v) {
      this.hiddenActions = v ? "myaction" : "";
    },
    disableds(v) {
      this.disabledsActions = v ? "refresh,clone,edit" : "";
    }
  }
};
</script>

<style></style>
