<template>
  <h1>
    {{ item.id }}
  </h1>
</template>

<script>
import Vue from "vue";
const Comp = {
  props: {
    item: Object
  }
};

Vue.component("ait-myid-field", Comp);

export default Comp;
</script>

<style></style>
