<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Avatar.vue"
      >
        Avatar.vue
      </a>
    </template>
    <v-container>
      <v-row>
        <v-col cols="1">
          <ait-ava username="A I T" />
        </v-col>
        <v-col cols="4">
          <span v-pre>
            <textarea style="width: 100%">
<ait-ava username="A I T" /></textarea
            >
          </span>
        </v-col>
        <v-col cols="4">
          <ait-tag value="VIP">VIP</ait-tag>
          <ait-tag value="ADMIM">ADMIM</ait-tag>
          <ait-tag value="PATIENT">PATIENT</ait-tag>
          <ait-tag value="SYSADMIN">SYSADMIN</ait-tag>
          <ait-tag value="SYSTEM"></ait-tag>
          <ait-tag value="EMPLOYEE"></ait-tag>
          <ait-tag value="USER">USER</ait-tag>
          <ait-tag value="ANONYM"></ait-tag>
        </v-col>
        <v-col>
          <span v-pre>
            <textarea style="width: 100%" rows="3">
<ait-tag>VIP</ait-tag>
<ait-tag value="card"></ait-tag>
        </textarea
            >
          </span>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2">
          <ait-avatar icon="mdi-account"> mdi-account </ait-avatar>
        </v-col>
        <v-col cols="2">
          <ait-avatar icon="mdi-account" column> mdi-account </ait-avatar>
        </v-col>
        <v-col cols="2">
          <ait-avatar src="https://cdn.vuetifyjs.com/images/lists/1.jpg">
            jpg
          </ait-avatar>
        </v-col>
        <v-col>
          <span v-pre>
            <textarea style="width: 100%" rows="3">
<ait-avatar icon="mdi-account"> mdi-account </ait-avatar>
<ait-avatar icon="mdi-account" column> mdi-account </ait-avatar>
<ait-avatar src="https://cdn.vuetifyjs.com/images/lists/1.jpg">jpg</ait-avatar>
          </textarea
            >
          </span>
        </v-col>
      </v-row>
    </v-container>
  </ait-wg-layout>
</template>

<script>
export default {};
</script>

<style></style>
