<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Bread.vue"
      >
        Bread.vue
      </a>
    </template>
    <div class="pa-5">
      <v-btn x-small @click="appBreadcrumbs.visible = !appBreadcrumbs.visible">
        toogle breadcrumb </v-btn
      >&nbsp; <v-btn x-small @click="click">Add item</v-btn>&nbsp;
      <v-btn x-small @click="appBreadcrumbs.clear()">cler</v-btn>
    </div>
  </ait-wg-layout>
</template>
<script>
export default {
  inject: {
    appBreadcrumbs: { default: undefined }
  },
  methods: {
    click() {
      this.appBreadcrumbs.push({
        text: "breadcrumb",
        disabled: true,
        href: ""
      });
    }
  }
};
</script>

<style></style>
