<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Cfg.vue"
      >
        Cfg.vue
      </a>
    </template>
    <div class="pa-5">
      <div class="ma-2 pa-2">
        <h4>$aitify.cfg</h4>
        <code class="ma-2 pa-2">{{ $aitify.cfg }}</code>
      </div>

      <div class="ma-2 pa-2">
        <h4>Token</h4>
        <code class="ma-2 pa-2 token">Bearer {{ token }}</code>
      </div>
      <h4>
        <a href="https://www.npmjs.com/package/vue-auth-href"
          >v-ait-auth-href</a
        >
      </h4>

      <div class="ma-2 pa-2">
        <div>
          <a v-ait-auth-href :href="fileHref" :download="`some1.pdf`"
            >Your File</a
          ><br />
          <code>
            {{ code }}
          </code>
        </div>

        <br />
        <div class="ma-2 pa-2">
          <v-btn v-ait-auth-href download="hi.pdf" text :href="fileHref">
            <span class="mr-2">Загрузить</span>
            <v-icon>mdi-download</v-icon>
          </v-btn>
        </div>
      </div>
      <div class="ma-2 pa-2">
        <h4>$aitify.options</h4>
        <code class="ma-2 pa-2 token">{{ $aitify.options }}</code>
      </div>
    </div>
  </ait-wg-layout>
</template>

<script>
import { lcStorage } from "../../../clients/lc.storage";

const code = `<a v-ait-auth-href href="https://medportal-demo.ru/fserv/api/download_file?fileName=6c99d840-5767-4d4b-869f-765027a5a2a6" :download="'some1.pd'">Your File</a>`;
export default {
  data() {
    return {
      filename: "6c99d840-5767-4d4b-869f-765027a5a2a6",
      code
    };
  },
  computed: {
    token() {
      return lcStorage.getItem("auth2/token")?.accessToken;
    },
    fileHref() {
      return (
        "https://medportal-demo.ru/fserv/api/download_file?fileName=" +
        this.filename
      );
    }
  }
};
</script>

<style scoped>
.token {
  display: flex;
  overflow: auto;
  width: 90%;
  line-break: anywhere;
}
</style>
