<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Cursor.vue"
      >
        Cursor.vue
      </a>
    </template>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <ait-app-bar-content-portal :disabled="true">
              <ait-toolbar :title="'v-row: ' + index" icon="">
                <ait-search-input
                  style="max-width: 250px"
                  ref="searchInput"
                  id="searchInput"
                  placeholder="Найти"
                  v-model="searchQuery"
                  class="mr-2"
                  dense
                />
                <v-btn @click="index = index - 1">Up</v-btn>
                <v-btn @click="index = index + 1">Down</v-btn>

                <v-btn @click="h = h ? 0 : 300">Win/Cont</v-btn>
              </ait-toolbar>
            </ait-app-bar-content-portal>
            <ait-cursor-man
              :index.sync="index"
              :height="h"
              input-holder="#searchInput"
            >
              <v-container>
                <template v-for="n in 300">
                  <ait-cursor :position="n" :key="n" tag="v-row">
                    <v-col>{{ n }}</v-col>
                    <v-col>index {{ n - 1 }}</v-col>
                  </ait-cursor>
                </template>
              </v-container>
            </ait-cursor-man>
          </v-card>
        </v-col>
        <v-col>
          <v-card>
            <v-card-title>v-list (actions)</v-card-title>
            <ait-cursor-man :height="300" @action="onAction">
              <v-container>
                <v-container>
                  <v-list dense flat>
                    <template v-for="n in 10">
                      <ait-cursor
                        :position="n"
                        :item="'item' + n"
                        :key="n"
                        tag="v-list-item"
                      >
                        <v-list-item-content>
                          <v-list-item-title>item {{ n }}</v-list-item-title>
                          <v-list-item-subtitle
                            >index {{ n - 1 }}</v-list-item-subtitle
                          >
                        </v-list-item-content>
                      </ait-cursor>
                    </template>
                  </v-list>
                </v-container>
              </v-container>
            </ait-cursor-man>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      index: 1,
      h: 300,
      searchQuery: ""
    };
  },
  methods: {
    onAction(e) {
      this.$aitify.toast.success(e);
    }
  }
};
</script>

<style></style>
