<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Date.vue"
      >
        Date.vue
      </a>
    </template>

    <v-card flat class="pa-5">
      <ait-form :item="item" v-model="editItem">
        <div class="d-flex justify-space-between">
          <ait-date-input source="date" :clearable="editItem.clearable" />
          <v-spacer />
          <ait-date-field
            source="date"
            :item="editItem"
            :reverse="editItem.reverse"
            :age="editItem.age"
            :ageOnly="editItem.ageOnly"
          />
        </div>
        <v-switch v-model="editItem.reverse" label="reverse" />
        <v-switch v-model="editItem.age" label="age" />
        <v-switch v-model="editItem.ageOnly" label="ageOnly" />
        <v-switch v-model="editItem.clearable" label="clearable" />
      </ait-form>
    </v-card>
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      item: {
        date: "1988-06-18",
        age: true,
        ageOnly: false,
        reverse: false,
        clearable: true
      },
      editItem: {
        date: "1988-06-18",
        age: true,
        ageOnly: false,
        reverse: false,
        clearable: true
      }
    };
  }
};
</script>

<style></style>
