<template>
  <v-row justify="center" sm="12">
    <v-col v-if="isEdit" cols="12">
      <ait-toolbar-panel is-toolbar-app title="Edit" @action="onAction">
        <template v-slot:actions>
          <ait-menu-button>
            <ait-action-list @action="onAction" :items="['edit', 'show']" />
          </ait-menu-button>
        </template>
        <v-container fluid :class="editMt">
          <v-row justify="center">
            <v-col :cols="item.editCols">
              <ait-form
                :class="editPt"
                :item="item"
                v-model="editItem"
                :save-data="saveData"
                :valid.sync="valid"
                @saved="onSaved"
              >
                <ait-text-input source="title" label="Name" required />
                <ait-ref-dict
                  source="sexId"
                  label="пол"
                  reftype="gender"
                  clearable
                />
                <ait-text-input source="roCols" multiline label="Значение" />

                <ait-save-button color="primary" large />
              </ait-form>
            </v-col>
          </v-row>
        </v-container>
      </ait-toolbar-panel>
      <v-slider
        v-model="item.editCols"
        thumb-label="always"
        max="12"
        min="1"
      ></v-slider>

      <v-slider
        v-model="item.editPt"
        thumb-label="always"
        max="16"
        min="0"
      ></v-slider>

      <v-slider
        v-model="item.editMt"
        thumb-label="always"
        max="16"
        min="0"
      ></v-slider>
    </v-col>
    <!-- RO  -->
    <v-col v-else cols="12">
      <ait-toolbar-panel is-toolbar-app title="Show" @action="onAction">
        <ait-action-panel
          :actions="actions"
          @action="onAction"
          is-asidebar-app
          is-actions
          :class="roMt"
        >
          <v-container fluid>
            <v-row justify="center">
              <v-col :cols="item.roCols">
                <ait-form :class="roPt" :item="item" v-model="editItem">
                  <ait-field source="title" label="Name" />
                  <ait-field
                    label="Пол"
                    type="ref"
                    source="sexId"
                    reference="dict2.gender"
                    itemValue="genderId"
                  />
                  <ait-field source="roCols" label="Значение" multiline />
                </ait-form>
              </v-col>
            </v-row>
          </v-container>
        </ait-action-panel>
      </ait-toolbar-panel>
      <v-slider
        v-model="item.roCols"
        thumb-label="always"
        max="12"
        min="1"
      ></v-slider>
      <v-slider
        v-model="item.roPt"
        thumb-label="always"
        max="16"
        min="0"
      ></v-slider>
      <v-slider
        v-model="item.roMt"
        thumb-label="always"
        max="16"
        min="0"
      ></v-slider>
      <v-text-field v-model="item.title" solo />
    </v-col>
  </v-row>
</template>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

export default {
  data() {
    return {
      actions: ["edit", "show"],
      valid: false,

      editItem: null,
      isEdit: !true,
      item: {
        roCols: 10,
        editCols: 10,
        roPt: 0,
        editPt: 0,
        roMt: 0,
        editMt: 0,
        title:
          "Общая задержка в ожидании подтверждения незавершенной фиксации для всех текущих транзакций в миллисекундах. Разделите на значение Зеркальная запись",
        body: "Value ...",
        sexId: "00000000-0000-0000-0006-000000000001"
      }
    };
  },
  computed: {
    roPt() {
      return `pt-${this.item.roPt}`;
    },
    editPt() {
      return `pt-${this.item.editPt}`;
    },
    roMt() {
      return `mt-${this.item.roMt}`;
    },
    editMt() {
      return `mt-${this.item.editMt}`;
    }
  },
  methods: {
    onAction(e) {
      this.isEdit = !this.isEdit;
      console.log(e);
    },
    async saveData(e) {
      await sleep(1000);
      this.onAction(e);
      // return await api(data); TODO...
    },
    onSaved(e) {
      this.$aitify.toast.success("Изменения были успешно сохранены");
    }
  }
};
</script>

<style></style>
