<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Form.vue"
      >
        Form.vue
      </a>
    </template>
    <v-container>
      <v-row justify="center" sm="12">
        <v-col>
          <ait-toolbar-panel title="Edit" @action="onAction">
            <template v-slot:actions>
              <ait-menu-button>
                <ait-action-list
                  @action="onAction"
                  :items="['list', 'edit', '-', 'delete']"
                />
              </ait-menu-button>
            </template>

            <ait-form
              diff
              ref="formEdit"
              :disabled="disabled"
              :item="item"
              v-model="editItem"
              class="pa-5"
              resource="Demo"
              :save-data="saveData"
              :valid.sync="valid"
              @saved="onSaved"
            >
              <ait-text-input source="title" label="Name" required />
              <ait-ref-dict
                source="sexId"
                label="пол"
                reftype="gender"
                show-create
                @action="onAction"
                clearable
              />
              <ait-text-input source="body" multiline label="Значение" />

              <ait-save-button
                :check-changes="checkChanges"
                color="primary"
                large
              />
            </ait-form>
            <div class="d-flex">
              <v-switch v-model="disabled" label="disabled"></v-switch>
              &nbsp;
              <v-switch v-model="required" label="required"></v-switch>
              &nbsp;
              <v-switch v-model="checkChanges" label="check-changes"></v-switch>
            </div>
          </ait-toolbar-panel>
          <small>
            Valid: {{ valid }}<br />
            required:{{ required }}<br />
            editItem: {{ editItem }}<br />
            item:{{ item }}
          </small>
        </v-col>
        <v-col>
          <ait-toolbar-panel title="Create" @action="onAction">
            <template v-slot:title>
              <div class="d-flex flex-row">
                (Create: &nbsp;
                <ait-ref-dict-field
                  :item="item"
                  source="sexId"
                  reftype="gender"
                />
                )
              </div>
            </template>

            <ait-form
              :item="item"
              class="pa-5"
              resource="Foo"
              @saved="onSaved"
              :save-data="saveData"
            >
              <ait-text-input source="title" label="Name" />
              <ait-ref-dict
                source="sexId"
                label="пол"
                reftype="gender"
                clearable
              />
              <ait-text-input source="body" label="Значение" multiline />

              <ait-save-button color="success" large />
            </ait-form>
          </ait-toolbar-panel>
        </v-col>
        <v-col>
          <ait-toolbar-panel
            title="Show"
            :item="item"
            @action="onAction"
            :toolbar-menu-actions="['list', 'edit', '-', 'delete']"
          >
            <ait-action-panel
              class="pa-5"
              :item="item"
              :actions="['list', 'edit', '-', 'delete']"
              is-actions
              @action="onAction"
            >
              <ait-show :item="item">
                <ait-field source="title" label="Name" />
                <ait-field
                  label="Пол"
                  type="ref"
                  source="sexId"
                  reference="dict2.gender"
                  itemValue="genderId"
                />
                <ait-field source="body" label="Значение" multiline />
                <ait-field label="Период">
                  <ait-date-field source="d1" /> -
                  <ait-date-field source="d2" />
                </ait-field>
              </ait-show>
            </ait-action-panel>
          </ait-toolbar-panel>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <ait-toolbar-panel title="type-input & field & type-field" outlined>
            <ait-form :item="item" class="pa-5">
              <v-container fluid>
                <v-row>
                  <v-col>
                    <ait-ref-input
                      source="sexId"
                      label="ait-ref-input"
                      reference="dict2.gender"
                      itemValue="genderId"
                      clearable
                    />
                  </v-col>
                  <v-col>
                    <ait-date-input
                      source="d1"
                      label="ait-date-input"
                      clearable
                    />
                  </v-col>
                  <v-col>
                    <ait-text-input
                      source="title"
                      label="ait-text-input"
                      clearable
                    />
                  </v-col>
                  <v-col>
                    <ait-boolean-input
                      source="flag"
                      label="ait-boolean-input"
                    />
                  </v-col>
                  <v-col>
                    <ait-number-input
                      source="num"
                      decimal-scale="3"
                      label="ait-number-input"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <ait-field
                      label="ait-field"
                      type="ait-ref-dict-field"
                      source="sexId"
                      reftype="gender"
                      view="list"
                    />
                  </v-col>
                  <v-col>
                    <ait-field label="ait-field" type="date" source="d1" />
                  </v-col>
                  <v-col>
                    <ait-field label="ait-field" type="text" source="title" />
                  </v-col>
                  <v-col>
                    <ait-field label="ait-field" type="boolean" source="flag" />
                  </v-col>
                  <v-col>
                    <ait-field
                      label="ait-field"
                      type="number"
                      decimal-scale="3"
                      source="num"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <ait-ref-field
                      type="ref"
                      source="sexId"
                      reference="dict2.gender"
                      itemValue="genderId"
                      title="ait-ref-field"
                    />
                  </v-col>
                  <v-col>
                    <ait-date-field source="d1" title="ait-date-field" />
                  </v-col>
                  <v-col>
                    <ait-text-field source="title" title="ait-text-field" />
                  </v-col>
                  <v-col>
                    <ait-boolean-field source="flag" />
                  </v-col>
                  <v-col>
                    <ait-number-field
                      source="num"
                      decimal-scale="3"
                      title="ait-number-field"
                    />
                  </v-col>
                  <v-col cols="12">
                    <v-alert
                      border="top"
                      colored-border
                      type="info"
                      elevation="2"
                    >
                      ait-***-field as is (padding:0; margin:0)
                    </v-alert>
                  </v-col>
                </v-row>
              </v-container>
            </ait-form>
          </ait-toolbar-panel>
        </v-col>
      </v-row>
    </v-container>
  </ait-wg-layout>
</template>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

export default {
  data() {
    return {
      disabled: false,
      required: false,
      checkChanges: true,
      valid: false,
      editItem: null,

      item: {
        id: "3333",
        title: "Наименование",
        body: "Value ...",
        num: 1245.785449,
        flag: true,
        users: [{ userId: "2" }],
        d1: "2020-02-23",
        d2: "2020-03-25",
        sexId: "00000000-0000-0000-0006-000000000001"
      }
    };
  },
  watch: {
    "editItem.sexId"(sexId) {
      if (sexId === "00000000-0000-0000-0006-000000000002") {
        this.editItem = {
          // копируем св-ва
          ...this.editItem,
          // изменяем св-ва
          title: "Ольга",
          body: "Привет!"
        };
      } else if (!sexId) {
        this.editItem = {
          ...this.editItem,
          title: "???",
          body: "Ты кто?!"
        };
      }
    },
    required() {
      this.validate();
    }
  },
  methods: {
    requiredName(v) {
      return this.required && !v ? "This field is required" : "";
    },
    validate() {
      this.$refs.formEdit.validate();
    },
    onAction(e) {
      this.$aitify.toast.success(e);
      console.log("event", e);
    },
    async saveData(e) {
      console.log("saveData", e);
      await sleep(1000);
      // return await api(data); TODO...
    },
    onSaved(e) {
      this.$aitify.toast.success("Изменения были успешно сохранены");
    }
  }
};
</script>
