<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Icons.vue"
      >
        Icons.vue
      </a>
    </template>

    <ait-list-icons :items="items" @on-selected-item="select" />
  </ait-wg-layout>
</template>

<script>
import { ACTION } from "../../../components/actions/constants";
export default {
  methods: {
    async select(item) {
      this.$aitify.toast.success(item.icon);
    }
  },
  data() {
    return {
      items
    };
  }
};

const items = [
  {
    title: "Приложения",
    visible: true,
    icons: [
      // {
      // 	icon: "mdi-pill",
      // 	title: "Медицинское обслуживание",
      // 	color: "",
      // 	active: false,
      // 	visible: true,
      // },
      {
        icon: "mdi-cash-multiple",
        title: "Финансы и услуги",
        color: "",
        active: false,
        visible: true
      },
      {
        icon: "mdi-archive",
        title: "Архив",
        color: "",
        active: false,
        visible: true
      },
      {
        icon: "mdi-monitor",
        title: "Монитор"
      },
      {
        icon: "mdi-home-account",
        title: "Личный кабинет пациента"
      },
      {
        icon: "mdi-account-tie",
        title: "Сотрудники"
      },

      {
        icon: "mdi-domain",
        title: "Организация"
      }
    ]
  },
  {
    title: "Обозначения",
    visible: true,
    icons: [
      {
        icon: "mdi-cog",
        title: "Настройка",
        color: "",
        active: false,
        visible: true
      },
      {
        icon: "mdi-card-account-details",
        title: "Медкарты"
      }
    ]
  },
  {
    title: "Действия",
    visible: true,
    icons: [
      ...Object.keys(ACTION).map(c => ({
        icon: ACTION[c].icon,
        title: ACTION[c].text
      }))
    ]
  }
];
</script>

<style></style>
