<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Inputs.vue"
      >
        Inputs.vue
      </a>
    </template>
    <v-card flat class="pa-5">
      <v-row>
        <v-col cols="12">
          <div>
            <small>
              <strong>
                original:
                <br />
              </strong>
              {{ item }}
              <br />
              <strong>
                editable:
                <br />
              </strong>
              {{ mitem }}
            </small>
          </div>
        </v-col>
        <v-col md="1"></v-col>
        <v-col md="10">
          <ait-toolbar-panel title="ait-inputs" outlined>
            <ait-form class="pa-5" v-model="mitem" :item="item">
              <ait-radio-group-input
                source="radio"
                :items="radioItems"
                item-text="text"
                item-value="id"
              />

              <ait-text-input
                label="ait-text-input"
                source="foo"
                persistent-hint
                hint="hint"
              />

              <ait-number-input
                label="ait-number-input"
                source="num1"
                decimal-scale="4"
                positive-only
              />
              <ait-phone-input label="ait-phone-input" source="phone" />
              <ait-date-input
                source="date"
                label="ait-date-input"
                :clearable="clearable"
              />
              <ait-time-input
                source="time"
                label="ait-time-input"
                :clearable="clearable"
              />
              <ait-date-range-picker
                source="range"
                clearable
              ></ait-date-range-picker>
              <ait-password-input
                source="psw"
                label="ait-password-input"
                counter="6"
                :rules="[rules.password, rules.length(6)]"
              />

              <ait-boolean-input label="ait-boolean-input" source="flag" />

              <br /><br />
              ait-ref-input
              <ait-ref-input
                source="userId"
                label="user"
                reference="demo2.user"
                itemText="firstName"
                :clearable="clearable"
              />
              <ait-ref-input
                source="postId"
                label="Должность"
                reference="dict2.post"
                itemValue="postId"
                itemText="name"
                :clearable="clearable"
              />
              <ait-ref-input
                source="postId2"
                label="Должность 2"
                reference="dict2.post"
                itemValue="postId"
                itemText="name"
                :clearable="clearable"
              />
              <ait-ref-input
                source="sexId"
                label="sex"
                reference="dict2.gender"
                itemValue="genderId"
                itemText="name"
                :clearable="clearable"
              />

              <ait-ref-input
                source="sexId"
                label="sex with filter"
                reference="dict2.gender"
                itemValue="genderId"
                itemText="name"
                :filter="{
                  name: { equals: 'мужской' },
                  OR: [
                    {
                      sourceId: {
                        equals: '00000000-0000-0000-0006-000000000000'
                      }
                    }
                  ]
                }"
                :clearable="clearable"
              />
            </ait-form>
          </ait-toolbar-panel>
        </v-col>
      </v-row>
    </v-card>
  </ait-wg-layout>
</template>

<script>
import { register, registerSearch } from "../../../lookup";
import { getUSER_IDS, getUSER_LIST } from "./data";

export default {
  data() {
    return {
      clearable: true,
      item: {
        userId: "1",
        foo: "bar",
        date: new Date(),
        sexId: "00000000-0000-0000-0006-000000000001",
        postId: null,
        postId2: null,
        flag: true,
        time: "00:02",
        personDocTypeId: "00000000-0000-0000-0013-000000000002",
        personDocKindId: null,
        date2: "2021-03-02T11:23:06.000Z",
        id: "",
        num1: 125.5897,
        phone: "",
        range: [],
        radio: "2"
      },
      radioItems: [
        { id: "1", text: "val 1" },
        { id: "2", text: "val 2" },
        { id: "3", text: "val 2" }
      ],
      mitem: null,
      editable: true,
      personDocKindFilters: [], // [{ source: "personDocTypeId" }],
      rules: {
        email: v => !!(v || "").match(/@/) || "Please enter a valid email",
        length: len => v =>
          (v || "").length >= len ||
          `Недопустимая длина, поле обязательно ${len}`,
        password: v =>
          !!(v || "").match(
            /^(?=.*[a-zа-я])(?=.*[A-ZА-Я])(?=.*\d)(?=.*(_|[^\w])).+$/
          ) ||
          "Пароль должен содержать заглавную букву, числовой символ и специальный символ",
        required: v => !!v || "This field is required"
      }
    };
  },
  computed: {
    personDocTypeFilterId() {
      return this.mitem?.personDocTypeId;
    },
    personDocKindFilter() {
      return { personDocTypeId: this.personDocTypeFilterId };
    }
  },
  methods: {}
};

register("demo2", async keys => ({
  user: await getUSER_IDS(keys["user"])
}));

registerSearch("demo2", {
  user: getUSER_LIST
});
</script>

<style></style>
