<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Layouts.vue"
      >
        Layouts.vue
      </a>
    </template>
    <v-container>
      <v-row>
        <v-col>
          <h3>ait-toolbar-panel</h3>
          <ait-toolbar-panel
            class="ma-5"
            title="Title"
            :icon="isEmptyIcon ? '' : undefined"
            :flat="flat"
            :is-toolbar-hidden="isToolbarHidden"
            :outlined="outlined"
            :is-toolbar-app="isToolbarApp"
          >
            <template v-slot:actions>
              <v-btn icon @click="isToolbarApp = !isToolbarApp">
                <v-icon>mdi-arrow-top-right</v-icon>
              </v-btn>

              <ait-menu-button>
                <ait-action-list :items="actions" />
              </ait-menu-button>
            </template>
            <v-skeleton-loader class="mx-auto pa-5" type="image" />
          </ait-toolbar-panel>
        </v-col>
        <v-col>
          <v-switch v-model="isToolbarApp" label="is-toolbar-app" />
          <v-switch v-model="isEmptyIcon" label="icon=''" />
          <v-switch v-model="isToolbarHidden" label="is-toolbar-hidden" />
          <v-switch v-model="flat" label="flat" />
          <v-switch v-model="outlined" label="outlined" />
        </v-col>
      </v-row>
      <v-row>
        <v-divider class="ma-4" />
      </v-row>

      <v-row>
        <v-col>
          <h3>ait-action-panel</h3>
          <ait-action-panel
            class="ma-5"
            :is-actions="isActions"
            :is-asidebar-app="isAsidebarApp"
            :actions="actions"
          >
            <v-skeleton-loader class="mx-auto pa-5" type="image" />
          </ait-action-panel>
        </v-col>
        <v-col>
          <v-switch v-model="isActions" label="is-actions" />
          <v-switch v-model="isAsidebarApp" label="is-asidebar-app" />
        </v-col>
      </v-row>
      <v-row>
        <v-divider class="ma-4" />
      </v-row>
      <v-row>
        <v-col>
          <ait-toolbar-panel
            title="toolbar + action"
            :icon="isEmptyIcon ? '' : undefined"
            :flat="flat"
            :is-toolbar-hidden="isToolbarHidden"
            :outlined="outlined"
            :toolbar-menu-actions="actions"
          >
            <ait-action-panel :is-actions="isActions" :actions="actions">
              <v-skeleton-loader class="mx-auto pa-5" type="image" />
            </ait-action-panel>
          </ait-toolbar-panel>
        </v-col>
      </v-row>
    </v-container>
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      isActions: true,
      isToolbarApp: false,
      isAsidebarApp: false,
      isEmptyIcon: false,
      isToolbarHidden: false,
      outlined: false,
      flat: true,
      actions: ["edit", "show", "print"]
    };
  }
};
</script>

<style></style>
