<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/List.vue"
      >
        List.vue
      </a>
    </template>

    <v-card flat>
      <v-card-text>
        <ait-list
          v-ait-autofocus
          :title="title"
          :filters="filters"
          :get-list="getList"
          :items-per-page="perPage"
          :disable-query-string="true"
          :disable-create="disableCreate"
          :disable-refresh="disableRefresh"
          :disable-global-search="disableGlobalSearch"
          :resource="resource"
          @action="onAction"
          :is-toolbar-hidden="isToolbarHidden"
          :is-toolbar-app="isToolbarApp"
          :refresh-data="refresh"
          :search-label="searchLabel"
        >
          <template v-slot:actions>
            <v-btn icon @click="isToolbarApp = !isToolbarApp">
              <v-icon>mdi-arrow-top-right</v-icon>
            </v-btn>
          </template>

          <template v-slot:title>
            <v-icon>mdi-view-list</v-icon>
            {{ title }}
          </template>

          <ait-cursor-man height="400">
            <ait-data-table
              :fields="fields"
              :dense="dense"
              :multi-sort="multiSort"
              :disable-actions="disableActions"
              :actions="['show', 'edit', '-', 'print', 'clone', '-', 'delete']"
            >
              <template v-slot:[`item.phone`]="{ item }">
                <em class="red--text">{{ item.phone }}</em>
              </template>
            </ait-data-table>
            <ait-loading-scroll />
          </ait-cursor-man>
        </ait-list>
        <v-row>
          <v-col>
            <v-switch
              v-model="disableGlobalSearch"
              :label="`disable-global-search: ${disableGlobalSearch}`"
            ></v-switch>
          </v-col>
          <v-col>
            <v-switch
              v-model="disableActions"
              :label="`disable-actions: ${disableActions}`"
            ></v-switch>
          </v-col>
          <v-col>
            <v-switch v-model="dense" :label="`dense: ${dense}`"></v-switch>
          </v-col>
          <v-col>
            <v-switch
              v-model="multiSort"
              :label="`multi-sort: ${multiSort}`"
            ></v-switch>
          </v-col>
          <v-col>
            <v-switch
              v-model="isToolbarHidden"
              :label="`is-toolbar-hidden: ${isToolbarHidden}`"
            ></v-switch>
          </v-col>
          <v-col>
            <v-switch
              v-model="disableRefresh"
              :label="`disable-refresh: ${disableRefresh}`"
            ></v-switch>
          </v-col>
          <v-col>
            <v-switch
              v-model="disableCreate"
              :label="`disable-create: ${disableCreate}`"
            ></v-switch>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="3">
            <v-text-field
              v-model="searchLabel"
              solo
              dense
              placeholder=":search-label='Найти'"
            />
          </v-col>
          <v-col>
            <v-btn @click="refresh = {}">Обновить</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </ait-wg-layout>
</template>

<script>
import { getUSER_LIST } from "./data";
import _ from "./AitMyidField.vue";

export default {
  data() {
    return {
      resource: "demo-list",
      title: "ait-list > ait-data-table ",
      isToolbarApp: false,
      isToolbarHidden: false,
      disableGlobalSearch: false,
      disableActions: false,
      dense: false,
      disableCreate: false,
      searchLabel: "",
      disableRefresh: false,
      multiSort: true,
      perPage: 5,
      filters: [
        {
          source: "sexId",
          type: "ref",
          label: "Пол",
          attributes: {
            reference: "dict2.gender",
            itemValue: "genderId",
            itemText: "name"
          }
          // alwaysOn: true,
        }
      ],
      fields: [
        {
          source: "id",
          type: "myid",
          sortable: true,
          width: "64px"

          // type: "reference",
          // attributes: { reference: "users", action: "edit", chip: true },
        },
        {
          source: "firstName",
          sortable: true,
          label: "firstName",
          width: "40%",
          class: "green--text text--lighten-1",
          cellClass: "purple--text text--darken-4"
        },
        "email",
        { source: "phone" },
        {
          source: "sexId",
          label: "sex",
          type: "ait-ref-dict-field",
          attributes: {
            reftype: "gender",
            class: "font-weight-bold"
          }
        }
      ],

      refresh: null
    };
  },

  methods: {
    onAction(e) {
      this.$aitify.toast.success(e);
    },
    getList: async p => {
      console.log("getDATA", p);
      const data = await getUSER_LIST(p);
      return {
        data,
        total: 50
      };
    }
  }
};
</script>
