<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Loading.vue"
      >
        Loading.vue
      </a>
    </template>
    <v-container>
      <v-row justify="center">
        <v-col sm="3">
          type="line"
          <ait-loading type="line" />
        </v-col>
        <v-col sm="3">
          type="list" kind="1" rows="4"
          <ait-loading type="list" rows="4" kind="1" />
        </v-col>
        <v-col sm="3">
          type="list" kind="2" rows="5"
          <ait-loading type="list" rows="5" kind="2" />
        </v-col>
        <v-col sm="3">
          type="form"
          <ait-loading type="form" />
        </v-col>
      </v-row>
    </v-container>
  </ait-wg-layout>
</template>

<script>
export default {};
</script>

<style></style>
