<template>
  <ait-login @action="onAction" />
</template>

<script>
export default {
  methods: {
    onAction(e) {
      console.log("@@", e);
      if (e?.action === "logged-in") {
        window.document.location.reload();
      }
    }
  }
};
</script>
