<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Lookups.vue"
      >
        Lookups.vue
      </a>
    </template>
    <v-row justify="center" class="pa-5">
      <v-col>
        <v-text-field
          v-model="input"
          outlined
          placeholder="enter schema name"
        />
      </v-col>
      <v-col>
        <v-combobox
          label="dict2 type"
          v-model="selectType"
          :items="types"
          outlined
        />
      </v-col>
    </v-row>
    <v-row class="pa-5">
      <v-col>
        <div :key="i" v-for="(arr, i) in getLookups">
          <div class="title mt-6">{{ arr.c }}</div>
          <v-expansion-panels>
            <v-expansion-panel :key="index" v-for="(item, index) in arr.data">
              <v-expansion-panel-header>
                {{ item.type }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div>
                  <LookupExample :item="item" v-bind="item.data || {}" />
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </v-col>
    </v-row>
  </ait-wg-layout>
</template>

<script>
import LookupExample from "./components/LookupExample.vue";
import { gqlClient } from "../../../clients/gql.client";

const api = gqlClient.get("dict2");

async function load() {
  const r = await api.request(`query Query {getLookupTypes}`);
  return Object.keys(r.getLookupTypes).sort();
}

export default {
  components: {
    LookupExample
  },
  data() {
    return {
      test: "TEST",
      types: [],
      selectType: "gender",
      input: ""
    };
  },
  computed: {
    lookups() {
      return {
        dict2: [
          {
            type: "dict",
            data: {
              reftype: this.selectType || "gender",
              view: "list",
              label: this.selectType || "Пол"
              // filter: {
              // 	code: {
              // 		in: ["1", "2"],
              // 	},
              // },
            },
            views: ["list", "span", "short", "code", "icon", "ispan"],
            note: `<small>Справочники<br/>Фильтр по спискам(source): { sourceId:  "00000000-0000-0002-0063-000000000000"</small> }`
          },
          {
            type: "nobj",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Объекты нумерации.</b><br />
					            Фильтры:<br />
                      <b>Уровень:</b> { level: <значение 0..5> }<br />
                      <b>Id парента:</b> { parent_id: <значение> }</small>`
          },          
        ],
        monitor2: [
          { type: "user" },
          { type: "profile" },
          { type: "arm" },
          { type: "role", views: ["list", "span"] }
        ],
        org2: [
          {
            type: "org-unit",
            views: ["list", "span", "short"],
            data: { view: "list" },
            note: `<small><b>Структурные единицы</b><br />
					              Фильтры:<br />
					              <b>Тип:</b> { orgUnitTypeId: <значение> }</small>`
          }
        ],
        person2: [
          {
            type: "person",
            data: { view: "list" },
            views: ["list", "span", "fio"],
            note: `<small>Физическое лицо. Возвращает Id персоны.</small>`
          },
          {
            type: "person-doc",
            data: { view: "list" },
            views: ["list", "grid", "span", "fio", "doc", "doc2"],
            note: `<small><b>Документы ФЛ</b><br/><br />
                Фильтры:<br />
                <b>ФЛ:</b> { doc: { personId: <значение> } }<br />
                <b>Тип док-та:</b> { personDocTypeId: <значение> }<br />
                <b>Вид док-та:</b> { personDocKindId: <значение> }</small>`
          },
          {
            type: "contact",
            views: ["list", "span"],
            data: { view: "list", showCreate: true },
            note: `<small>Контакты ФЛ<br/>
					              <b>Фильтр по ФЛ:</b> { personId: <значение> }<br />
					              <b>Фильтр по типу связи:</b> { commTypeId: <значение> }</small>`
          }
        ],
        emp2: [
          {
            type: "emp-reg",
            data: {
              showPost: true,
              showOrgUnit: true,
              showDates: true,
              view: "list"
            },
            views: ["list", "span", "tbn"],
            note: `<small><b>Регданные сотрудников. Выводит данные "основного назначения". Возвращает Id ЛК сотрудника. Используется только для задачи ведения картотеки сотрудников</b><br />
					              Фильтры:<br />
					              <b>Подразделение:</b> { orgUnitId: <значение> }<br />
					              <b>Должность:</b> { postId: <значение> }</small>`
          },
          {
            type: "emp-assign",
            data: {
              showPost: true,
              showOrgUnit: true,
              showDates: true,
              view: "list"
            },
            views: [
              "list",
              "list2",
              "span",
              "assign",
              "author-list",
              "author-span"
            ],
            note: `<small><b>Назначения сотрудников</b><br />
					              Фильтры:<br />
					              <b>Подразделение:</b> { orgUnitId: <значение> }<br />
					              <b>Должность:</b> { postId: <значение> }<br />
					              <b>Вид назначения:</b> { assignTypeId: <значение> }<br />
                        <b>Id персоны:</b> { personId: <значение> }</small>`
          }
        ],
        common: [
          {
            type: "bank-detail",
            views: ["list", "span"],
            data: { view: "list" },
            note: `<small><b>Банковские реквизиты</b> - пример реализации<br />
						                   <b>Фильтр по идентификатору ЮЛ или ФЛ:</b> { corp_id: значение corp_id }</small>`
          },
          {
            type: "address",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Адреса</b> - пример реализации<br />
						          <b>Фильтр по типу адреса:</b> { address_source_id: значение address_source_id }</small>`
          }
        ],
        corp2: [
          {
            type: "company",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Юридическое лицо. </b>
					            Фильтры: {companyGroup:"&lt;группа ю/л&gt;", companyType:"&lt;вид ю/л&gt;", recordStatus:"&lt;статус записи&gt;"}</small>`
          },
          {
            type: "company-bank",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Банки ЮЛ. </b>Фильтр: {companyId:"&lt;юридическое лицо&gt;"}
					            <br>
					            <em>Примечание: Значения банковских реквизитов получены из сервиса "Common"</em> </small>`
          }
        ],
        contract2: [
          {
            type: "contract",
            views: ["list", "doc", "span"],
            data: { view: "list" },
            note: `<small><b>Договоры</b> - пример реализации<br />
                  <b>Фильтр по контрагенту-заказчику:</b> { payer_contragent_id: значение payer_contragent_id }<br />
                  <b>Фильтр по контрагенту-исполнителю:</b> { executor_contragent_id: значение executor_contragent_id }</small>`
          }
        ],
        fin2: [
          {
            type: "contragent",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Контрагенты</b> - пример реализации<br />
					            <b>Фильтр по типу контрагента</b> - contragentTypeId</small>`
          },
          {
            type: "delegate",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Представители</b> - пример реализации<br />
            <b>Фильтр по контрагенту-исполнителю</b> - contragentId</small>`
          }
        ],
        referral2: [
          {
            type: "referral",
            views: ["list", "list1", "span"],
            data: { view: "list" },
            note: `<small><b>Направление</b> - пример реализации<br>
										&nbsp; &nbsp;<b><i>list</i></b> - станартный вид list<br>
										&nbsp; &nbsp;<b><i>list1</i></b> - дополнительный вид list (добавлен пациент)<br>
										&nbsp; &nbsp;<b><i>span</i></b> - обычный span<br>
										<b>Фильтры:</b><br>
										&nbsp; &nbsp;<b><i>docNumber</i></b> - Номер направления<br>
										&nbsp; &nbsp;<b><i>refTypeId</i></b> - Тип направления ссылка на ait-ref-dict(reftype: "refType")<br>
										&nbsp; &nbsp;<b><i>refStatusId</i></b> - Статус ссылка на ait-ref-dict(reftype: "refStatus")<br>
										&nbsp; &nbsp;<b><i>patientId</i></b> - Пациент ссылка на ait-ref-med-card</small>`
          }
        ],
        specdoc2: [
          {
            type: "med-card",
            data: { view: "list", class_: "ait-demo" },
            views: ["list", "list1", "list2", "span"],
            note: `<small><b>Медкарты</b> - пример реализации<br />
					              <b>Фильтр по стационарным картам</b> - { medDoc: { medCard: { medCardTypeId: constants.dict2.med_card_type.stat } } }<br />
					              <b>Фильтр по амбулаторным картам</b> - { medDoc: { medCard: { medCardTypeId: constants.dict2.med_card_type.amb } } }</small>
	                <div style="font-size:80%">
	                  <b>style:</b>
	                  <ul>
	                    <li>.ait-specdoc2_doc-num </li>
	                    <li>.ait-specdoc2_doc-fio </li>
	                    <li>.ait-specdoc2_doc-birth-date</li>
	                    <li>.ait-specdoc2_gender</li>
	                    <li>.ait-specdoc2_med-card-type</li>
	                  </ul>
	                </div>


		               `
          }
        ],
        pricelist2: [
          {
            type: "service",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small><b>Услуга</b> - пример реализации</small>`
          }
        ],
        platform: [
          {
            type: "tenant",
            data: { view: "list" },
            views: ["list", "span"],
            note: `<small>Для отображения тенантов</small>`
          }
        ]
      };
    },
    getLookups() {
      return Object.keys(this.lookups)
        .filter(c => c.startsWith(this.input))
        .map(c => ({
          c,
          data: this.lookups[c]
        }));
    }
  },
  async mounted() {
    this.types = await load();
  }
};
</script>

<style>
.ait-demo .ait-specdoc2_doc-fio {
  font-weight: normal;
  color: red;
}
</style>
