<template>
  <ait-wg-layout
    toolbar
    toolbar-title="ww"
    outlined
    box
    asidebar
    :asidebar-actions="actions"
    @action="onAction"
  >
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Pages.vue"
      >
        Pages.vue
      </a>
    </template>

    <component :is="curPage" style="max-height:500px" />
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      pages: ["403", "500"],
      page: null
    };
  },
  computed: {
    curPage() {
      return this.page ? "ait-page" + this.page : "ait-page403";
    },
    actions() {
      return this.pages.map(c => ({
        icon: "mdi-application",
        text: "ait-page" + c,
        action: c
      }));
    }
  },
  methods: {
    onAction(e) {
      this.page = e.action;
    }
  }
};
</script>

<style></style>
