<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Portal.vue"
      >
        Portal.vue
      </a>
    </template>
    <div class="pa-5">
      <div style="color: green">
        SEARCH: <i>{{ searchQuery }}</i>
      </div>
      <v-btn x-small @click="tooggle = !tooggle">toogle comp</v-btn>

      <div v-if="!tooggle">
        <portal to="app-bar-content-portal" :order="1">
          <ait-search-input
            dense
            style="max-width:300px"
            placeholder="ait-search-input"
            v-model="searchQuery"
          />
        </portal>
      </div>
    </div>
  </ait-wg-layout>
</template>

<script>
export default {
  data() {
    return {
      searchQuery: this.search || "",
      tooggle: false
    };
  }
};
</script>

<style></style>
