<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Sidebar.vue"
      >
        Sidebar.vue
      </a>
    </template>
    <div class="pa-5">
      <v-btn x-small @click="click">toggle</v-btn>&nbsp;
      <v-btn x-small @click="addItem">add item</v-btn>&nbsp;
      <v-btn x-small @click="clear">clear</v-btn>&nbsp;
      <v-btn x-small @click="appSidebarMenu.mini = !appSidebarMenu.mini"
        >mini</v-btn
      >&nbsp;
      <v-btn x-small @click="appSidebarMenu.drawer = !appSidebarMenu.drawer"
        >drawer</v-btn
      >&nbsp;
      <v-btn x-small @click="appSidebarMenu.visible = !appSidebarMenu.visible"
        >visible</v-btn
      >&nbsp;
      <v-btn
        x-small
        @click="appSidebarMenu.hiddenRoot = !appSidebarMenu.hiddenRoot"
        >hiddenRoot</v-btn
      >&nbsp;
      <v-btn x-small @click="disabled = !disabled">disabled SubMenu</v-btn
      >&nbsp;
    </div>
    <pre style="font-size: 0.7em;height: 400px; overflow: auto;" class="pa-5">{{
      appSidebarMenu
    }}</pre>

    <ait-sidebar-menu :menu="nav" :disabled="disabled" />
  </ait-wg-layout>
</template>

<script>
export default {
  inject: {
    appSidebarMenu: { default: undefined }
  },
  data() {
    return {
      disabled: false,
      nav: [
        {
          heading: "Управление МВД"
        },
        {
          icon: "mdi-view-dashboard",
          text: "Словари",
          link: "/"
        },
        {
          icon: "mdi-file-tree",
          text: "Услуги",
          disabled: true,
          link: "/"
        },
        {
          icon: "mdi-cog",
          text: "group items",

          expanded: true,
          children: [
            {
              text: "sub item1"
            },
            {
              icon: "mdi-vuetify",
              text: "sub item2",
              href: "https://vuetifyjs.com/"
            }
          ]
        }
        // { divider: true },
      ]
    };
  },
  methods: {
    click() {
      if (!this.appSidebarMenu) return;
      this.appSidebarMenu.toggle();
    },
    addItem() {
      if (!this.appSidebarMenu) return;
      this.appSidebarMenu.items.push({
        icon: "mdi-folder",
        text: "folder",
        link: "/"
      });
    },
    clear() {
      this.appSidebarMenu.items = [];
    }
  }
};
</script>

<style></style>
