<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/SimpleList.vue"
      >
        SimpleList.vue
      </a>
    </template>

    <ait-simple-list
      show-toolbar
      show-search
      show-refresh
      divided
      :get-list="getList"
      :height-list="300"
    >
      <template #item="{ item }">
        <slot name="item" :item="item">
          <v-list-item>
            <v-list-item-avatar>
              <ait-ava :username="item.firstName" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>{{ item.firstName }}</v-list-item-title>

              <v-list-item-subtitle v-text="item.email"></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <small>
                <ait-ref-field
                  class="pl-3"
                  :item="item"
                  source="sexId"
                  reference="dict2.gender"
                  itemValue="genderId"
                />
              </small>
            </v-list-item-action>
          </v-list-item>
        </slot>
      </template>
    </ait-simple-list>
  </ait-wg-layout>
</template>

<script>
import { getUSER_LIST } from "./data";

export default {
  methods: {
    getList: async p => {
      console.log(p);
      const data = await getUSER_LIST(p);
      return {
        data,
        total: 50
      };
    }
  }
};
</script>

<style></style>
