<template>
  <ait-wg-layout toolbar toolbar-title="ww" outlined box>
    <template #toolbar-title>
      <a
        href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Toast.vue"
      >
        Toast.vue
      </a>
    </template>

    <ait-list-icons :items="items" @on-selected-item="select" />
  </ait-wg-layout>
</template>

<script>
export default {
  methods: {
    async select(item) {
      if (item.title === "error") {
        item.title = ".....ЖДУН.......";
        this.$aitify.toast.error(item.icon).then(() => (item.title = "error"));
      } else if (item.title === "confirm") {
        const flag = await this.$aitify.message.confirm({
          title: item.icon,
          message: item.title
        });

        if (flag) {
          this.$aitify.toast.success(flag);
        } else {
          this.$aitify.toast.error(flag.toString());
        }
      } else {
        this.$aitify.toast.success(item.icon);
      }
    }
  },
  data() {
    return {
      items
    };
  }
};

const items = [
  {
    title: "Всплывашки",
    visible: true,
    icons: [
      {
        icon: "mdi-check",
        title: "success",
        color: "success",
        active: false,
        visible: true
      },
      {
        icon: "mdi-file-document-multiple",
        title: "error",
        color: "red",
        active: false,
        visible: true
      },
      {
        icon: "mdi-comment-question",
        title: "confirm",
        active: false,
        visible: true
      }
    ]
  }
];
</script>

<style></style>
