<template>
  <div>
    <ait-wg-layout
      :outlined="editItem.outlined"
      :toolbar-app="editItem.toolbarApp"
      :toolbar="editItem.toolbar"
      :toolbar-icon="editItem.toolbarIcon"
      :toolbar-title="editItem.toolbarTitle"
      :toolbar-menu-actions="toolbar.menuactions"
      :toolbar-actions="toolbar.actions"
      :asidebar="editItem.asidebar"
      :asidebar-actions="asidebar.actions"
      :asidebar-app="editItem.asidebarApp"
      :action-disableds="editItem.actionDisableds ? ['edit', 'create'] : []"
      :action-hiddens="editItem.actionHiddens ? ['show'] : []"
      :item="editItem"
      :mode="mode"
      :box="editItem.box"
      @action="onAction"
    >
      <template #toolbar-title>
        {{ editItem.toolbarTitle }}
        <a
          class="ml-2"
          href="https://gitlab.com/ait-public/aitify2/-/blob/master/src/modules/aitify2/demo/Wg.vue"
        >
          Wg.vue
        </a>
      </template>

      <ait-form :item="item" v-model="editItem" :save-data="saveData">
        <v-card flat class="pa-5">
          <div class="d-flex justify-space-between">
            <ait-field source="mode" label="mode" class="h4">
              {{ item.mode || "??" }}
            </ait-field>

            <ait-boolean-input class="pa-2" source="box" label="box" />

            <ait-boolean-input
              class="pa-2"
              source="outlined"
              label="outlined"
            />
          </div>
          <v-divider />
          <div class="d-flex justify-space-between">
            <ait-boolean-input class="pa-2" source="toolbar" label="toolbar" />
            <ait-boolean-input
              class="pa-2"
              source="toolbarApp"
              label="toolbar-app"
            />

            <ait-text-input
              class="pa-2"
              source="toolbarIcon"
              label="toolbar-icon"
            />
            <ait-text-input
              class="pa-2"
              source="toolbarTitle"
              label="toolbar-title"
            />
          </div>
          <v-divider />
          <div class="d-flex">
            <ait-boolean-input
              class="pa-2"
              source="asidebar"
              label="asidebar"
            />
            <ait-boolean-input
              class="pa-2"
              source="asidebarApp"
              label="asidebar-app"
            />
          </div>
          <v-divider />
          <div class="d-flex">
            <ait-boolean-input
              class="pa-2"
              source="actionDisableds"
              label=":action-disableds=['edit','create']"
            />
            <ait-boolean-input
              class="pa-2"
              source="actionHiddens"
              label=":action-hiddens=['show']"
            />
          </div>

          <div class="d-flex mt-4">
            <ait-save-button label="Reset" x-large color="success" />
          </div>
        </v-card>
      </ait-form>
    </ait-wg-layout>

    <ait-wg-layout
      toolbar
      toolbar-title="list"
      :box="editItem.box"
      :outlined="editItem.outlined"
    >
      <template #toolbar-title>
        #toolbar-title
      </template>
      <template #toolbar-actions>
        #toolbar-actions
      </template>
      <p class="pa-5">#default</p>
    </ait-wg-layout>

    <!-- <ait-wg-layout
      toolbar
      toolbar-title="list"
      :box="editItem.box"
      :outlined="editItem.outlined"
    >
      <ait-simple-list
        show-toolbar
        show-search
        show-refresh
        divided
        :get-list="getList"
        :height-list="300"
      >
        <template #item="{ item }">
          <slot name="item" :item="item">
            <v-list-item>
              <v-list-item-avatar>
                <ait-ava :username="item.firstName" />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ item.firstName }}</v-list-item-title>

                <v-list-item-subtitle
                  v-text="item.email"
                ></v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <small>
                  <ait-ref-field
                    class="pl-3"
                    :item="item"
                    source="sexId"
                    reference="dict2.gender"
                    itemValue="genderId"
                  />
                </small>
              </v-list-item-action>
            </v-list-item>
          </slot>
        </template>
      </ait-simple-list>
    </ait-wg-layout> -->
  </div>
</template>

<script>
import { getUSER_LIST } from "./data";

const actUser = {
  text: "User action",
  action: "myaction",
  icon: "mdi-account-cowboy-hat",
  disabled: false,
  hidden: false
};

const actEraser = {
  text: "None",
  action: "none",
  icon: "mdi-eraser"
};

const actions = [actUser, "-", actEraser, "edit", "show", "list"];
const toolbar_actions = ["create", "edit", "-", "refresh"];

const defItem = {
  box: true,
  mode: "", // none|edit|list|show
  outlined: true,
  toolbarApp: false,
  toolbar: true,
  toolbarTitle: "ait-wg-layout",
  toolbarIcon: "mdi-arrow-left",
  asidebar: true,
  asidebarApp: false,
  actionDisableds: false,
  actionHiddens: false
};

export default {
  data() {
    return {
      toolbar: { menuactions: actions, actions: toolbar_actions },
      asidebar: { actions },
      mode: "",
      item: defItem,
      editItem: {}
    };
  },
  methods: {
    onAction(e) {
      if (e.action !== "mode") this.$aitify.toast.success(e);

      switch (e.action) {
        case "back":
          this.myaction();
          break;
        case "none":
        case "create":
        case "show":
        case "edit":
        case "list":
          // this.mode = e.action;
          break;
        case "myaction":
          this.myaction();
          break;
        // case "mode":
        //   const mode = e.mode || "";
        //   if (this.item?.mode !== mode) {
        //     this.item = {
        //       ...this.item,
        //       mode: this.mode,
        //       ...e.data
        //     };
        //   }
        //   break;
      }
    },
    async saveData({ data }) {
      this.myaction();
    },
    myaction() {
      this.mode = "";
      this.item = { ...defItem };
    },
    getList: async p => {
      const data = await getUSER_LIST(p);
      return {
        data,
        total: 50
      };
    }
  }
};
</script>

<style></style>
