<template>
  <component
    :is="vw"
    :item="item"
    v-bind="$attrs"
    v-on="$listeners"
    :show-post="false"
    :show-org-unit="false"
    :show-dates="false"
  />
</template>

<script>
import ListItem from "./view/EmpRegItem.list.vue";
import SpanItem from "./view/EmpRegItem.span.vue";
import TbnItem from "./view/EmpRegItem.tbn.vue";
//import List2Item from "../empAssign/view/EmpRegItem.list2.vue";
//import AssignItem from "./view/EmpRegItem.assign.vue";

export default {
  components: {
    ListItem,
    SpanItem,
    //List2Item,
    TbnItem
    //AssignItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    // showPost: {
    //   type: Boolean,
    //   default: false
    // },
    // showOrgUnit: {
    //   type: Boolean,
    //   default: false
    // },
    // showDates: {
    //   type: Boolean,
    //   default: false
    // },
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    vw() {
      return this.view + "-item";
    }
  }
};
</script>

<style></style>
