<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="emp2.edrViewActive"
    itemValue="regDocId"
    search-label="Найти по табельному номеру"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-emp-reg-item
          :item="item"
          :view="view"
          class="ait-ref-input--list-item"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-emp-reg-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Сотрудник"
    },
    // showPost: {
    //   type: Boolean,
    //   default: true
    // },
    // showOrgUnit: {
    //   type: Boolean,
    //   default: true
    // },
    // showDates: {
    //   type: Boolean,
    //   default: true
    // },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
