<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="emp2.edrViewActive"
    itemValue="regDocId"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-emp-reg-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    // showPost: {
    //   type: Boolean,
    //   default: true
    // },
    // showOrgUnit: {
    //   type: Boolean,
    //   default: true
    // },
    // showDates: {
    //   type: Boolean,
    //   default: true
    // },
    view: {
      type: String,
      default: "span"
    }
  }
};
</script>
