<template>
  <div>
    <confirm></confirm>
    <v-snackbar v-model="isToast" :color="type">
      {{ message }}
      <template v-slot:action="{ attrs }">
        <v-btn color="yellow" text v-bind="attrs" @click="reset">
          {{ $aitify.options.t["actions.close"] }}
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import Confirm from "../internal/Confirm";

export default {
  components: {
    Confirm
  },
  name: "ait-toast",
  props: {
    value: Object
  },
  data() {
    return {
      toast: { ...this.value },
      isToast: !!this.value
    };
  },
  watch: {
    value() {
      this.toast = { ...this.value };
      this.isToast = this.toast?.type;
    },
    isToast(e) {
      if (!e) {
        this.reset();
      }
    }
  },
  computed: {
    type() {
      return this.toast?.type || "";
    },
    message() {
      return this.toast?.message || "";
    }
  },

  methods: {
    reset() {
      this.toast = null;
      this.$emit("input", null);
    }
  }
};
</script>
