<template>
  <ait-app-layout @on-show-me="onShowMe">
    <template v-slot:title>
      <v-icon>mdi-image-filter-vintage</v-icon>
      &nbsp;{{ getTitle }}
    </template>
    <div class="d-flex flex-column fill-height">
      <v-container fluid v-if="isSelected">
        <v-row v-for="ui in selected" :key="ui">
          <v-col cols="12">
            <component :is="ui" />
          </v-col>
        </v-row>
      </v-container>

      <router-view></router-view>
    </div>

    <ait-sidebar-menu>
      <v-list dense>
        <v-subheader>COMPONENTS</v-subheader>
        <div class="pl-4">
          <v-checkbox
            style="height: 20px"
            dense
            v-for="i in items"
            :key="i"
            v-model="selected"
            :label="i"
            :value="i"
          ></v-checkbox>
        </div>
      </v-list>
    </ait-sidebar-menu>
    <ait-sidebar-menu :menu="menu" />
  </ait-app-layout>
</template>

<script>
import { lcStorage } from "../../clients/lc.storage";

import Form from "./demo/Form.vue";
import List from "./demo/List.vue";
import Bread from "./demo/Bread.vue";
import Icons from "./demo/Icons.vue";
import Portal from "./demo/Portal.vue";
import Cursor_ from "./demo/Cursor.vue";
import Sidebar from "./demo/Sidebar.vue";
import Inputs from "./demo/Inputs.vue";
import Lookups from "./demo/Lookups.vue";
import Loading from "./demo/Loading.vue";
import Cfg from "./demo/Cfg.vue";
import Avatar from "./demo/Avatar.vue";
import Login from "./demo/Login.vue";
import Layouts from "./demo/Layouts.vue";
import SimpleList from "./demo/SimpleList.vue";
import Actions from "./demo/Actions.vue";
import Toast from "./demo/Toast.vue";
import FormLayout from "./demo/FormLayout.vue";
import Pages from "./demo/Pages.vue";
import Wg from "./demo/Wg.vue";
import DateVue from "./demo/Date.vue";

export default {
  components: {
    Form,
    FormLayout,
    SimpleList,
    List,
    Bread,
    Icons,
    Portal,
    Cursor_,
    Sidebar,
    Inputs,
    Lookups,
    Loading,
    Avatar,
    Cfg,
    Login,
    Layouts,
    Actions,
    Pages,
    Toast,
    Wg,
    Date: DateVue
  },
  name: "ait-aitify",
  data() {
    return {
      selected: lcStorage.getItem("selected") || [],
      items: [
        "Wg",
        "List",
        "SimpleList",
        "Inputs",
        "Lookups",
        "Sidebar",
        "Bread",
        "Portal",
        "Icons",
        "Layouts",
        "Form",
        "Cursor_",
        "Loading",
        "Cfg",
        "Avatar",
        "Login",
        "Actions",
        "Pages",
        "Toast",
        "Date"
      ],
      menu: [
        {
          heading: "entity"
        },
        {
          icon: "mdi-rhombus-medium",
          text: "Foo",
          link: "/aitify2/foo"
        },
        {
          icon: "mdi-card-account-phone",
          text: "Bar",
          link: "/aitify2/bar"
        }
      ]
    };
  },
  watch: {
    selected(v) {
      lcStorage.setItem("selected", v);
      if (this.isSelected) {
        if (
          this.$route.path.includes("/foo") ||
          this.$route.path.includes("/bar")
        ) {
          this.$router.push("/aitify2");
        }
      }
    }
  },
  computed: {
    getTitle() {
      return `${this["$aitify"].cfg.SCHEMA} (${this["$aitify"].cfg.VERSION})`;
    },
    isSelected() {
      return this.selected && this.selected.length;
    }
  },
  methods: {
    onShowMe() {
      this.$aitify.toast.success("show profile");
    }
  }
};
</script>
