<template>
  <v-btn
    v-bind="$attrs"
    :icon="hideLabel"
    :text="text"
    :href="href"
    :target="target"
    :to="to"
    @click="onClick"
    :color="color"
    exact
    :type="type"
    :loading="loading"
    :disabled="disabled"
  >
    <!-- {{ xLarge }} {{ large }} {{ color }} -->
    <v-icon small>{{ icon }}</v-icon>
    <span v-if="!hideLabel" class="ml-2">{{ label }}</span>
  </v-btn>
</template>

<script>
import ActionButton from "../mixins/action-button";

/**
 * Component tu use for any custom action button. Can be used on data table rows or top header of create, show and edit pages.
 */
export default {
  mixins: [ActionButton],
  inheritAttrs: false,
  props: {
    /**
     * Set the button's type attribute.
     */
    type: {
      type: String,
      default: "button"
    },
    /**
     * Vue route to redirect on click.
     */
    to: [String, Object],
    /**
     * Turn button to anchor and use href.
     */
    href: [String, Object],
    /**
     * Anchor target if href used.
     */
    target: String,
    /**
     * Active a spinner if enabled.
     */
    loading: Boolean
  }
};
</script>
