<template>
  <ait-action-button
    :hide-label="icon"
    icon="mdi-link-plus"
    :color="color || 'success'"
    text
    type="submit"
    :large="large"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
// TODO:     :label="$t('va.actions.associate')"
import Button from "../mixins/button";

/**
 * Action button for resource association. Used on lists with association enabled.
 * Dumb component, just a submit button.
 */
export default {
  mixins: [Button]
};
</script>
