<template>
  <!-- v-if="item && canShow('create')" -->
  <ait-action-button
    v-if="item"
    :hide-label="icon"
    :label="$aitify.options.t['actions.clone']"
    icon="mdi-content-duplicate"
    :color="color"
    text
    exact
    :to="to"
    :large="large"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
import RedirectButton from "../mixins/redirect-button";

/**
 * Button for all clone resource action.
 * Redirect to create page by default with target ID of original resource to clone.
 */
export default {
  mixins: [RedirectButton]
};
</script>
