<template>
  <!-- v-if="canShow('create')" -->
  <ait-action-button
    :hide-label="icon"
    :label="$aitify.options.t['actions.create']"
    icon="mdi-plus"
    :color="color"
    text
    :to="to"
    :large="large"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
import Resource from "../mixins/resource";
import RedirectButton from "../mixins/redirect-button";

/**
 * Button for all create resource action. Redirect to create page by default.
 */
export default {
  mixins: [Resource, RedirectButton]
};
</script>
