<template>
  <!-- v-if="hasAction('delete')" -->
  <ait-action-button
    v-if="item"
    :hide-label="icon"
    :label="$aitify.options.t['actions.delete']"
    icon="mdi-trash-can"
    :color="color || 'red'"
    :large="large"
    text
    @click="onDelete"
  ></ait-action-button>
</template>

<script>
import Button from "../mixins/button";

/**
 * Button for all delete resource action. Comes with confirm dialog.
 * Auto hide if no delete action available unless show prop is active.
 */
export default {
  mixins: [Button],
  props: {
    confirm: {
      type: String,
      default() {
        return this.$aitify.options.t["confirm.canremove"];
      }
    }
  },
  methods: {
    async onDelete() {
      if (this.item) {
        const b =
          !confirm ||
          (await this.$aitify.message.confirm({
            title: this.confirm,
            message: this.item.name ?? this.item.value ?? this.item
          }));

        if (b) {
          this.$emit("delete", this.item);
        }
      }
    }
  }
};
</script>
