<template>
  <!-- v-if="item && canShow('edit')" -->
  <!-- :to="getRoute('edit', { params: { id: item.id } })" -->
  <ait-action-button
    v-if="item"
    :hide-label="icon"
    :label="$aitify.options.t['actions.edit']"
    icon="mdi-pencil"
    :color="color"
    text
    exact
    :to="to"
    :large="large"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
import RedirectButton from "../mixins/redirect-button";

/**
 * Button for all edit resource action. Redirect to edit page by default.
 */
export default {
  mixins: [RedirectButton]
};
</script>
