<template>
  <ait-action-button
    :hide-label="icon"
    :label="$aitify.options.t['actions.list']"
    icon="mdi-view-list"
    :color="color"
    text
    exact
    :to="to"
    :large="large"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
import RedirectButton from "../mixins/redirect-button";

/**
 * Button for all list resource action. Redirect to list page by default.
 * Shown on internal CRUD page at top header.
 */
export default {
  mixins: [RedirectButton]
};
</script>
