<template>
  <v-btn icon>
    <v-menu bottom left>
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>{{ icon }}</v-icon>
        </v-btn>
      </template>
      <slot />
    </v-menu>
  </v-btn>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: "mdi-dots-vertical"
    }
  }
};
</script>

<style></style>
