<template>
  <ait-profile-button
    :user="user"
    @on-logout="logout"
    @on-show-me="$emit('on-show-me')"
  />
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  computed: {
    ...mapState("auth2", ["user"])
  },
  methods: {
    ...mapActions("auth2", ["logout"]),
    onAction(e) {
      this.$emit("action", e);
    }
  }
};
</script>
