<template>
  <v-menu bottom left offset-y style="z-index: 10000;">
    <template v-slot:activator="{ on }">
      <v-btn text v-on="on" v-if="user">
        <slot>
          <span class="hidden-sm-and-down mr-2">{{ user.name }}</span>
        </slot>
        <ait-ava size="29" :username="user.name" :src="img" />
      </v-btn>
      <v-btn text v-on="on" v-else>
        <slot>
          <span class="hidden-sm-and-down mr-2"></span>
        </slot>
        <ait-ava size="29">
          <v-icon>mdi-help-circle-outline</v-icon>
        </ait-ava>
      </v-btn>
    </template>

    <v-card style="width: 550px">
      <ait-form>
        <slot name="menu"></slot>
        <ait-ref-tenant-field
          class="lpu"
          :item="tenantId"
          style="background:whitesmoke"
        />
        <!-- <v-divider /> -->
        <ait-user-item :item="user" style="background:whitesmoke" />
        <template v-if="user && user.profile && user.profile.length">
          <!-- <v-divider /> -->
          <v-list style="max-height:300px;display:block;overflow:auto;">
            <v-list-item-group
              v-model="profileSelectedId"
              mandatory
              color="primary"
            >
              <v-subheader>Профили</v-subheader>
              <ait-profile-item
                v-for="p in user.profile"
                :key="p.id"
                :value="p.id"
                :item="p"
              />
            </v-list-item-group>
          </v-list>
        </template>
        <v-divider />
        <v-card-actions>
          <v-btn depressed @click="showMe">Профиль</v-btn>
          <v-spacer />
          <v-btn text color="purple" @click="logout">Выйти</v-btn>
        </v-card-actions>
      </ait-form>
    </v-card>
  </v-menu>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  props: {
    img: String,
    user: Object
  },
  data() {
    return {
      isInit: false,
      profileSelectedId: this.profileId
    };
  },
  computed: {
    ...mapState("auth2", ["tenantId", "profileId"])
  },
  watch: {
    profileSelectedId(profileId) {
      this.chooseProfile(profileId);
    },
    profileId(profileId) {
      this.profileSelectedId = profileId;
      // TODO if arm old !== armNew then redirect to monitor2
      if (this.isInit) {
        // reload allowed apps
        window.location.href = `/monitor2#/monitor2`;
      }
      this.isInit = true;
    }
  },
  methods: {
    ...mapActions("auth2", ["chooseProfile"]),
    showMe() {
      this.$emit("on-show-me");
      switch (this.$aitify?.cfg.SCHEMA ?? "") {
        case "lk":
          this.$router.push({ name: "lk--account" });
          break;
        case "aitify2":
          this.$aitify.toast.success("profile...");
          break;
        default:
          window.location.href = `/monitor2#/monitor2/user/${this.user?.id}/info`;
      }
    },
    logout() {
      this.$emit("on-logout");
    }
  }
};
</script>
<style scoped></style>
