<template>
  <ait-action-button
    v-bind="$attrs"
    :label="label || $aitify.options.t['actions.save']"
    icon="mdi-floppy"
    :type="type"
    :loading="formLoading"
    :disabled="
      form.disabled ||
        disabled ||
        (formState && !formState.valid) ||
        disabledByChanges
    "
    :text="text"
    @click="onClick"
  />
</template>

<script>
import { utils } from "@ait/share2";
/**
 * Default saving button that can be used for VaForm component.
 * Dumb component, just a submit button, VaForm do the real work.
 */
export default {
  inheritAttrs: false,
  inject: {
    formState: { default: undefined },
    form: { default: {} }
  },
  props: {
    /**
     * Remove background button.
     */
    text: Boolean,
    /**
     * Override default label.
     */
    label: String,
    disabled: Boolean,

    checkChanges: Boolean,

    type: { type: String, default: () => "submit" }
  },
  computed: {
    formLoading() {
      return this.formState && this.formState.saving;
    },
    disabledByChanges() {
      if (!this.formState || !this.checkChanges || !this.formState.item)
        return false;

      const original = this.formState.item;
      const editing = this.formState.lastModel;

      const isEqual = utils.deepEqual(original, editing);
      return isEqual;
    }
  },
  methods: {
    onClick(e) {
      if (this.formState) {
        if (!this.formLoading) {
          if (this.type !== "submit")
            // Explicit submit call
            this.formState.submit();
        }
      } else {
        this.$emit("click", e);
      }
    }
  }
};
</script>
