<template>
  <ait-action-button
    v-if="item"
    :hide-label="icon"
    :label="$aitify.options.t['actions.show']"
    icon="mdi-eye"
    :color="color"
    text
    exact
    :large="large"
    :to="to"
    @click="onClick"
  ></ait-action-button>
</template>

<script>
import RedirectButton from "../mixins/redirect-button";

/**
 * Button for all show resource action. Redirect to show page by default.
 */
export default {
  mixins: [RedirectButton]
};
</script>
