<template>
  <ait-infinite-scroll v-bind="$props">
    <ait-loading v-bind="$attrs" />
  </ait-infinite-scroll>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    tag: {
      type: String,
      default: "div"
    },
    handler: {
      type: Function
      // required: true
    },
    shouldHandle: {
      type: [Boolean, String],
      default: true
    },
    threshold: {
      type: Number,
      default: 0
    },
    handleOnMount: {
      type: [Boolean, String],
      default: false
    },
    scrollContainer: {
      type: String
    },
    scrollWindow: {
      type: Boolean
    },
    parentScroll: {
      type: [Boolean, String],
      default: true
    },
    debounceTime: {
      type: Number,
      default: 350
    }
  }
};
</script>

<style></style>
