<template>
  <div class="d-inline-flex">
    <ait-ref-org-unit-field
      v-if="showOrgUnit"
      :item="item"
      source="orgUnitId"
      view="span"
    />

    <ait-ref-dict-field
      v-if="showPost"
      :item="item"
      source="postId"
      reftype="post"
    >
      <template #item="{item}">
        <div class="d-inline-flex">
          <span class="pl-2 pr-2" v-if="showOrgUnit">•</span
          ><span>{{ item.shortName || item.name }}</span>
        </div>
      </template>
    </ait-ref-dict-field>

    <div class="d-inline-flex ml-2" v-if="showDates">
      <span>с&nbsp;</span>
      <ait-date-field :item="item.assignDate" />
      <span v-if="item.assignDateTo"
        >&nbsp;по&nbsp;<ait-date-field :item="item.assignDateTo"
      /></span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style></style>
