<template>
  <div class="d-inline-flex flex-wrap align-center">
    <ait-ref-person-doc-field
      :item="item"
      source="identityDocId"
      class="text-truncate mr-4"
      view="fio"
    />

    <emp-tbn :tbn="item.tabelNum" />

    <EmpOrgUnit
      :item="item"
      :show-post="showPost"
      :show-org-unit="showOrgUnit"
      :show-dates="false"
      class="ml-2"
    />
    <!-- <div class="d-flex flex-wrap">
      <ait-ref-org-unit-field :item="item" source="orgUnitId" view="span" />

      <ait-ref-dict-field
        v-if="showPost"
        :item="item"
        source="postId"
        reftype="post"
      >
        <template #item="{item}">
          <div class="d-inline-flex">
            <span class="pl-2 pr-2" v-if="showOrgUnit">•</span
            ><span>{{ item.shortName || item.name }}</span>
          </div>
        </template>
      </ait-ref-dict-field>
    </div>
    <v-spacer />
    <small class="ml-2 text--secondary">[{{ item.tabelNum }}]</small> -->
  </div>
</template>

<script>
import EmpOrgUnit from "./EmpOrgUnit.vue";
import EmpTbn from "./EmpTbn.vue";

export default {
  components: {
    EmpOrgUnit,
    EmpTbn
  },
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style></style>
