<template>
  <div class="d-inline-flex flex-wrap">
    <ait-ref-person-doc-field
      :item="item"
      source="identityDocId"
      class="text-truncate"
      view="fio"
    />

    <div class="ml-2">[{{ item.tabelNum }}]</div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style></style>
