<template>
  <small>
    <small class="text--disabled">тбн. №</small>
    {{ tbn || tabelNum || item.tabelNum }}
  </small>
</template>

<script>
export default {
  props: {
    tbn: String,
    tabelNum: String,
    item: Object
  }
};
</script>

<style></style>
