<template>
  <!-- :def-view="`table`" -->

  <ait-entity
    v-bind="$attrs"
    :vmode="vmode"
    :id="id"
    :view="view"
    :big-boss="bigBoss"
    :skip-show="!bigBoss"
    :filter="filter"
    :route-path="routePath"
    reftype="skeleton.bar"
    @action="onAction_"
  >
    <template #list-plain="{ getList, onAction }">
      <ait-simple-list
        title="Список контактов"
        divided
        :icon="bigBoss ? `mdi-arrow-left` : ``"
        :is-toolbar-app="bigBoss"
        :get-list="getList"
        :filter="filter"
        :filters="filters"
        show-toolbar
        show-refresh
        show-create
        align-filter=""
        @action="onAction"
      >
        <template #item="{ item }">
          <ait-bar-item :item="item" view="list" />
        </template>
      </ait-simple-list>
    </template>

    <template #list-table="{ getList, onAction }">
      <ait-list
        v-bind="$attrs"
        :icon="bigBoss ? `mdi-arrow-left` : ``"
        title="Список контактов"
        :filters="filters"
        :get-list="getList"
        @action="onAction"
        :is-toolbar-app="bigBoss"
      >
        <template v-slot:actions>
          <v-btn icon @click="$emit('action', { action: 'big-boss' })">
            <v-icon>mdi-arrow-top-right</v-icon>
          </v-btn>
        </template>

        <!-- if not big boss then height = 400px  -->
        <ait-cursor-man :height="bigBoss ? undefined : 400">
          <ait-data-table :fields="fields" disable-actions> </ait-data-table>
          <ait-loading-scroll
            kind="1"
            rows="3"
            type="list"
            :scroll-window="bigBoss"
          />
        </ait-cursor-man>
      </ait-list>
    </template>

    <template #item-show="{ item, onAction }">
      <ait-wg-layout
        box
        toolbar
        :toolbar-app="bigBoss"
        toolbar-icon="mdi-arrow-left"
        toolbar-title="Контакт"
        :item="item"
        :scroll-window="bigBoss"
        :asidebar-app="bigBoss"
        :asidebar="bigBoss"
        :asidebar-actions="['back', 'edit', 'list', '-', 'delete']"
        :action-disableds="['delete']"
        :toolbar-actions="bigBoss ? ['refresh'] : ['edit', '-', 'refresh']"
        @action="onAction"
      >
        <ait-form :item="item" class="pa-5">
          <ait-form-title>{{ item.value }}</ait-form-title>
          <ait-field source="id" label="#id" />
          <ait-field
            source="commTypeId"
            type="ait-ref-dict-field"
            reftype="commType"
            view="span"
            label="Тип связи"
          />
        </ait-form>
      </ait-wg-layout>
    </template>

    <template #item-edit="{ item, onAction }">
      <ait-wg-layout
        mode="edit"
        :toolbar-app="bigBoss"
        toolbar-title="Контакт"
        :item="item"
        :toolbar-menu-actions="['back', 'list', 'show', '-', 'delete']"
        :action-disableds="['delete']"
        @action="onAction"
      >
        <ait-form
          diff
          :item="item"
          v-model="editItem"
          :save-data="saveEdit"
          @action="onAction"
        >
          <ait-form-title> Изменить </ait-form-title>

          <ait-text-input label="Значение" source="value" required />
          <ait-ref-dict
            source="commTypeId"
            reftype="commType"
            view="list"
            required
            label="commType"
            clearable
          />
          <ait-save-button check-changes color="primary" large />
        </ait-form>
      </ait-wg-layout>
    </template>

    <template #item-create="{ item, onAction }">
      <ait-wg-layout
        mode="edit"
        :toolbar-app="bigBoss"
        toolbar-title="Контакт"
        :item="item"
        :toolbar-menu-actions="['back', 'list']"
        @action="onAction"
      >
        <ait-form
          diff
          :item="item"
          v-model="editItem"
          :save-data="saveCreate"
          @action="onAction"
        >
          <ait-form-title> Создать </ait-form-title>
          <ait-text-input label="Значение" source="value" required />
          <ait-ref-dict
            source="commTypeId"
            reftype="commType"
            view="list"
            required
            label="commType"
            clearable
          />
          <ait-save-button check-changes color="success" large />
        </ait-form>
      </ait-wg-layout>
    </template>
  </ait-entity>
</template>

<script>
import * as api from "./api";
import { AitBarItem, AitFooItem } from "../../lookups";

export default {
  components: {
    AitBarItem,
    AitFooItem
  },
  props: {
    vmode: String,
    id: String,
    view: String,
    bigBoss: Boolean,
    // master Id
    fooId: String,
    routePath: {
      type: String,
      default: "bar"
    }
  },
  data() {
    return {
      editItem: null,
      filters: [
        {
          source: "commTypeId",
          type: "ait-ref-dict",
          label: "Тип связи",
          alwaysOn: true,
          attributes: {
            reftype: "commType"
          }
        }
      ],
      fields: [
        {
          source: "value",
          sortable: true,
          label: "Значение",
          width: "40%",
          cellClass: "font-weight-bold"
        },
        {
          source: "commTypeId",
          type: "ait-ref-dict-field",
          label: "Тип связи",
          attributes: {
            reftype: "commType"
          }
        }
      ]
    };
  },
  computed: {
    filter() {
      return { fooId: this.fooId };
    }
  },
  methods: {
    onAction_(e) {
      console.log("@@@@", e);
    },
    async saveEdit(e) {
      const input = { ...e.diff, id: e.original.id };
      return api.update({ input });
    },
    async saveCreate(e) {
      const input = { ...e.diff, fooId: this.fooId };
      return api.insert({ input });
    }
  }
};
</script>

<style></style>
