<template>
  <a :href="href" v-if="src">
    <img :src="src" :width="width" />
  </a>
</template>

<script>
export default {
  name: "logo",
  props: {
    src: {
      type: String
    },
    href: {
      type: String,
      default: ""
    },
    width: {
      type: [String, Number],
      default: 64
    }
  },
  data() {
    return {};
  }
};
</script>
