<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./view/PersonItem.list.vue";
import SpanItem from "./view/PersonItem.span.vue";
import FioItem from "./view/PersonItem.fio.vue";

export default {
  components: {
    ListItem,
    SpanItem,
    FioItem
  },
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>
