<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    :reference="reference"
    :itemValue="itemValue"
    divided
    ref="child"
    search-label="Найти по фамилии, имени или отчеству"
  >
    <!--input-->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-person-item :item="item" :view="view" />
      </slot>
    </template>
    <!--list-->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-person-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Физическое лицо"
    },
    reference: {
      type: String,
      default: () => "person2.personView"
    },
    itemValue: {
      type: String,
      default: () => "personId"
    },
    view: {
      type: String,
      default: "list"
    }
  }
  // mounted() {
  //   // https://stackoverflow.com/a/51225443
  //   this.$watch("$refs.child.recordItem", (newVal, oldVal) => {
  //     this.$emit("update:recordItem", newVal);
  //   });
  // },
};
</script>
