<template>
  <components
    v-bind="$attrs"
    v-on="$listeners"
    :id="id"
    :is="is_"
    :get-item="getItem"
    :create-item="createItem"
    :refresh-data="refreshData"
    class="ait--item"
  >
    <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </components>
</template>

<script>
import ItemId from "./$id/Id.vue";
import ItemCreate from "./create/Create.vue";

export default {
  inheritAttrs: false,
  components: {
    ItemId,
    ItemCreate
  },
  props: {
    id: String,
    idEmpty: String,
    getItem: Function,
    createItem: Function,
    refreshData: {
      type: [String, Object, Date, Number]
    }
  },
  computed: {
    isCreate() {
      return !this.id || this.id === this.idEmpty;
    },
    is_() {
      return this.isCreate ? ItemCreate : ItemId;
    }
  }
};
</script>

<style></style>
