<template>
  <ait-wg-layout :box="!bigBoss">
    <slot :name="`list-${view}`" :get-list="getList" :on-action="onAction">
      <ait-simple-list
        v-if="isPlain"
        v-bind="$attrs"
        v-on="$listeners"
        divided
        show-toolbar
        show-refresh
        :is-toolbar-app="bigBoss"
        :refresh-data="refreshData_"
        :get-list="getList"
        align-filter=""
      >
        <template #item="data">
          <slot name="list-plain--item" :item="data" :on-action="onAction">
            <component :is="lookupName" :item="data.item" view="list" />
          </slot>
        </template>
      </ait-simple-list>
      <h3 v-else>{{ view }}</h3>
    </slot>
  </ait-wg-layout>
</template>

<script>
const DEF = "plain";

export default {
  inheritAttrs: false,
  props: {
    getList: Function,
    view: {
      type: String,
      default: DEF
    },
    reftype: String,
    refreshData: {
      type: [String, Object, Date, Number]
    },
    bigBoss: Boolean
  },
  data() {
    return {
      refreshData_: this.refreshData
    };
  },
  computed: {
    isPlain() {
      return this.view !== "table";
    },
    lookupName() {
      const reftype = (this.reftype + "").split(".")[1];
      return `ait-${reftype}-item`;
    }
  },
  watch: {
    refreshData() {
      this.refresh();
    }
  },
  methods: {
    onAction(e) {
      this.$emit("action", e);
    },
    refresh() {
      this.refreshData_ = {};
    }
  }
};
</script>

<style></style>
