<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title>{{ item.value }}</v-list-item-title>
    </v-list-item-content>
    <v-list-item-action>
      <v-icon color="grey lighten-1"> mdi-star-outline </v-icon>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
// Item list view
export default {
  props: {
    item: Object
  },
  computed: {}
};
</script>
