<template>
  <div class="d-flex flex-wrap">
    <span class="pr-2">
      {{ item.value }}
    </span>
  </div>
</template>

<script>
// Item span view
export default {
  props: {
    item: Object
  }
};
</script>
