<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./AddressItem.list.vue";
import SpanItem from "./AddressItem.span.vue";

// Item by view - Переключатель видов для Item
export default {
  inheritAttrs: false,
  components: {
    ListItem,
    SpanItem
  },
  props: {
    item: Object,
    view: String
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>
