<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    search-label="Адрес"
    :label="label"
    item-value="id"
    reference="common.address"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-address-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ РИСУЕМ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-address-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// Input ref - Элемент ввода (выбора) состоит из выбранного значение + эл-тов списка выбора
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Адрес"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
