<template>
  <v-container fluid class="pa-0">
    <v-row no-gutters style="flex-wrap: nowrap">
      <v-col
        style="min-width: 100px; max-width: 100%"
        class="flex-grow-1 flex-shrink-0"
      >
        <slot :item="item" :resource="resource" :raise-action="raiseAction" />
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-0" v-if="isActions">
        <v-navigation-drawer width="100%" permanent right>
          <slot
            :item="item"
            :resource="resource"
            :actions="actions"
            :raise-action="raiseAction"
            name="actions"
          >
            <ait-app-asidebar-portal :disabled="!isAsidebarApp">
              <ait-action-list
                :items="actions"
                :value="item"
                :resource="resource"
                @action="onAction"
                :disableds="actionDisableds"
                :hiddens="actionHiddens"
                class="action-panel--ait-action-list-item"
              />
            </ait-app-asidebar-portal>
          </slot>
        </v-navigation-drawer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ItemResource from "../mixins/item-resource";

export default {
  mixins: [ItemResource],
  props: {
    actions: {
      type: [Array, String],
      default: () => []
    },
    isActions: Boolean,
    isAsidebarApp: Boolean,
    actionDisableds: {
      type: [Array, String, Object],
      default: () => []
    },
    actionHiddens: {
      type: [Array, String, Object],
      default: () => []
    }
  },
  methods: {
    onAction(action) {
      this.raiseAction(action.action);
    }
  }
};
</script>
<style scoped>
.action-panel--ait-action-list-item {
  padding: 16px;
  background: white;
}
</style>
