<template>
  <v-card class="mx-auto" :flat="flat" :outlined="outlined" :tile="tile">
    <ait-app-bar-content-portal :disabled="!isToolbarApp">
      <ait-toolbar
        :title="formTitle"
        :icon="icon"
        @on-icon-click="onIconToolbarClick"
        v-show="!isToolbarHidden"
      >
        <template slot="title">
          <slot name="title" />
        </template>

        <slot name="actions" />
        <ait-menu-button v-show="isMenu">
          <ait-action-list
            :items="actions"
            :value="item"
            :disableds="disableds"
            :hiddens="hiddens"
            @select:item="onAction"
          />
        </ait-menu-button>
      </ait-toolbar>
    </ait-app-bar-content-portal>

    <v-row no-gutters style="flex-wrap: nowrap">
      <v-col
        style="min-width: 100px; max-width: 100%"
        class="flex-grow-1 flex-shrink-0"
      >
        <slot></slot>
      </v-col>
      <v-col class="flex-grow-0 flex-shrink-0" v-if="isActionsPanel && isMenu">
        <ait-action-list
          :items="actions"
          :value="item"
          :disableds="disableds"
          :hiddens="hiddens"
          @select:item="onAction"
          class="ait-item-actions-menu-panel"
        />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import ItemForm from "../mixins/item-form";

/**
 * Main CRUD action page layout used for Show, Create end Edit views components.
 */
export default {
  mixins: [ItemForm],
  props: {
    actions: {
      type: [Array, String],
      default: () => []
    },
    /**
     * Move list actions to app portal
     */
    isToolbarApp: Boolean,
    isToolbarHidden: Boolean,
    outlined: Boolean,
    tile: Boolean,
    flat: {
      type: Boolean,
      default: false
    },
    isActionsPanel: Boolean,
    icon: String,
    disableds: {
      type: [Array, String, Object],
      default: () => []
    },
    hiddens: {
      type: [Array, String, Object],
      default: () => []
    }
  },
  mounted() {
    // console.log("WWW", this.$slots);
  },
  computed: {
    isMenu() {
      return this.actions?.length;
    }
  },
  methods: {
    onIconToolbarClick(icon) {
      this.raiseAction("back", icon);
    },
    onAction(action) {
      this.raiseAction(action);
    }
  }
};
</script>
<style scoped>
.ait-item-actions-menu-panel {
  border-left: 1px solid #e0e0e0;
  padding: 16px;
  background: white;
}
</style>
