<template>
  <!-- :clipped-right="$vuetify.breakpoint.lgAndUp" -->
  <v-app-bar
    class="v-bar--underline"
    app
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    clipped-right
    style="z-index: 5"
    flat
    :dark="dark"
    :color="color"
    :dense="dense"
  >
    <v-app-bar-nav-icon @click.stop="$emit('toggle')" />

    <v-toolbar-title
      class="ml-0 pl-4 hidden-md-and-down"
      style="min-width: 244px"
    >
      <slot name="title">
        <span>{{ title }}</span>
      </slot>
    </v-toolbar-title>

    <portal-target
      class="d-flex align-center app-bar-content-portal"
      style="width: 100%"
      name="app-bar-content-portal"
      multiple
    />
    <!-- <slot name="content">
      <v-row v-if="headerMenu.length && $vuetify.breakpoint.lgAndUp">
        <v-col
          v-for="(item, i) in headerMenu"
          :key="i"
          class="text-center mb-sm-0 mb-5"
          cols="auto"
        >
          <component
            :is="item.href ? 'a' : 'router-link'"
            :href="item.href"
            :to="item.link"
            class="px-3 link"
            :target="item.href ? '_blank' : '_self'"
            v-text="item.text"
          ></component>
        </v-col>
      </v-row>
		</slot>-->
    <!-- <v-spacer /> -->
    <slot name="actions"></slot>

    <v-divider vertical class="ml-2 mr-2" />

    <v-btn icon @click="onApps" v-if="!disableApps">
      <v-icon>mdi-apps</v-icon>
    </v-btn>
    <ait-profile-button-plug @on-show-me="$emit('on-show-me')" />

    <slot name="overflow-menu"></slot>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    title: String,
    /**
     * Header links visible on left side.
     */
    headerMenu: {
      type: Array,
      default: () => []
    },
    /**
     * Color for the VAppBar.
     */
    color: String,
    /**
     * Reduce height of VAppBar
     */
    dense: { type: Boolean, default: false },
    /**
     * Apply dark theme variant for VAppBar
     */
    dark: Boolean,
    /**
     * Disable reload state button.
     */
    disableReload: { type: Boolean, default: true },
    /**
     * Disable apps button.
     */
    disableApps: { type: Boolean }
  },
  methods: {
    onApps() {
      // this.$emit("on-apps");
      window.location.href = "/monitor2";
    }
  }
};
</script>
<style>
.v-bar--underline {
  border-width: 0 0 thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12) !important;
  background-color: white !important;
}
.app-bar-content-portal {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  overflow: hidden;
}
div.app-bar-content-portal > header {
  background-color: transparent;
}
</style>
