<template>
  <portal to="app-bar-content-portal" :order="1" :disabled="disabled">
    <slot />
  </portal>
</template>

<script>
export default {
  props: {
    disabled: Boolean
  }
};
</script>

<style></style>
