<template>
  <ait-fill-container>
    <!-- @slot Top app bar region, ideal place for VAppBar. -->
    <!-- <slot name="app-bar"> -->
    <ait-app-bar
      :disable-apps="disableBtnApps"
      @toggle="appSidebarMenu.toggle"
      @on-show-me="$emit('on-show-me')"
    >
      <template v-slot:title>
        <slot name="title">
          <span>{{ title || $aitify.options.t[`app.title`] }}</span>
        </slot>
      </template>
    </ait-app-bar>
    <!-- </slot> -->

    <slot name="sidebar" v-if="appSidebarMenu.visible">
      <ait-sidebar />
    </slot>

    <!-- @slot Right aside region, where you can put anything you need. -->
    <slot name="aside" v-if="appAsidebarMenu.visible">
      <ait-asidebar />
    </slot>

    <v-main>
      <ait-fill-container>
        <!-- @slot Content top header region, ideal place for VBreadcrumbs and/or additional custom messages or important notification as impersonation state, etc. -->
        <slot name="header">
          <v-breadcrumbs
            v-if="appBreadcrumbs.visible"
            class="white"
            :items="breadcrumbs"
          ></v-breadcrumbs>
        </slot>

        <v-container fluid class="flex" style="padding: 0">
          <slot>
            <!-- <component
                :is="'error'"
                v-if="$store.state.messages.error"
                :error="$store.state.messages.error"
							></component>-->
            <router-view />
          </slot>
        </v-container>
      </ait-fill-container>
    </v-main>
    <!-- @slot Footer region, put here some corporate information and links. -->
    <slot name="footer"></slot>
  </ait-fill-container>
</template>

<script>
import { cfg } from "../../cfg";
import { lcStorage } from "../../clients/lc.storage";

/**
 * Admin composable component layout with one slot for each region.
 */
export default {
  provide() {
    return {
      appBreadcrumbs: this.appBreadcrumbs,
      appSidebarMenu: this.appSidebarMenu,
      appAsidebarMenu: this.appAsidebarMenu
    };
  },
  props: {
    title: String,
    homeText: String,
    homeHref: String,
    homeDisabled: Boolean,
    isCrumbs: Boolean,
    crumbs: {
      type: Array,
      default: () => []
    },
    sidebarMenu: {
      type: Array,
      default: () => nav
    },
    /**
     * Disable apps button.
     */
    disableBtnApps: { type: Boolean }
  },
  data() {
    const init = () => [
      {
        text: this.homeText || this.$aitify.options.t["breadcrumbs.home"],
        disabled: this.homeDisabled,
        to: this.homeHref || "/"
      },
      ...this.crumbs
    ];

    return {
      appBreadcrumbs: {
        visible: this.isCrumbs,
        breadcrumbs: init(),
        push: item => {
          if (typeof item === "string") {
            item = {
              text: item,
              disabled: true,
              href: ""
            };
          }
          this.appBreadcrumbs.breadcrumbs.push(item);
        },
        clear: () => {
          this.appBreadcrumbs.breadcrumbs = init();
        }
      },
      appSidebarMenu: {
        drawer: null,
        /**
         * Minimize the sidebar and show only icons.
         */
        mini: false,
        visible: true,
        hiddenRoot: false,
        items: [],
        toggle: () => {
          this.$vuetify.breakpoint.lgAndUp
            ? (this.appSidebarMenu.mini = !this.appSidebarMenu.mini)
            : (this.appSidebarMenu.drawer = !this.appSidebarMenu.drawer);
        }
      },
      appAsidebarMenu: {
        drawer: null,
        visible: true,
        items: [],
        toggle: () => {
          // this.$vuetify.breakpoint.lgAndUp
          // 	? (this.appSidebarMenu.drawer = true)
          // 	: (this.appSidebarMenu.drawer = !this.appSidebarMenu.drawer);
        }
      }
    };
  },
  computed: {
    breadcrumbs() {
      return this.appBreadcrumbs.breadcrumbs;
    }
  },
  watch: {
    sidebarMenu: {
      immediate: true,
      handler() {
        this.appSidebarMenu.items = [...this.sidebarMenu];
      }
    }
  }
};

const token = lcStorage.getItem("auth2/token")?.accessToken ?? "";

const headers = JSON.stringify({
  authorization: "Bearer "
});

const graphqlUrl = `${cfg.GQL_URI}?headers=${encodeURIComponent(headers)}`;

const nav = [
  { divider: true },
  { heading: "DEV" },
  {
    icon: "mdi-home",
    text: "Домой",
    link: "/"
  },
  {
    icon: "mdi-graphql",
    text: "graphql",
    href: graphqlUrl
  },
  {
    icon: "mdi-gitlab",
    text: "gitlab.com",
    href: `https://gitlab.com/ait-everest2/next/${cfg.SCHEMA}`
  },
  {
    icon: "mdi-vuetify",
    text: "vuetifyjs.com",
    href: "https://vuetifyjs.com/"
  },
  {
    icon: "mdi-vector-square",
    text: "materialdesignicons.com",
    href: "https://materialdesignicons.com/"
  },
  {
    icon: "mdi-skull",
    text: "skeleton",
    href: "https://medportal-demo.ru/skeleton"
  },
  {
    icon: "mdi-google-drive",
    text: "Документы",
    href:
      "https://drive.google.com/drive/u/0/folders/10gTrpBH_foPKc3XPtGt3BZP37uXaPO_L?ths=true"
  },
  {
    icon: "mdi-file-table",
    text: "Схема интерфейсов",
    href:
      "https://docs.google.com/spreadsheets/d/1n-sxzmEE6kCcUqry2kgPuKDtKKRFYuQcK3IWnUC5Yd8/edit#gid=1438434839"
  },
  {
    icon: "mdi-file-question",
    text: "FAQ",
    href:
      "https://docs.google.com/document/d/1dqgleE10ltqfZ4h9b32HmV4EJMZ8LIiEd5QN1R7SkGQ/edit#heading=h.63zvx3fjx7ix"
  },
  {
    icon: "mdi-gauge",
    text: "Grafana",
    href: "http://62.109.19.154:30090"
  },
  {
    icon: "mdi-kubernetes",
    text: "kubernetes",
    href:
      "http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy"
  },
  { divider: true },
  { heading: "UPGRADE" },
  {
    icon: "mdi-tag-plus",
    text: "version",
    href: "https://gitlab.com/ait-everest2/version/-/tags"
  },

  {
    icon: "mdi-update",
    text: "update",
    href:
      "http://localhost:8001/api/v1/namespaces/everest2/services/everest2verupd-service:80/proxy/update"
  },

  { divider: true },
  { heading: "https://medportal-demo.ru" },
  {
    icon: "mdi-monitor",
    text: "monitor",
    href: "https://medportal-demo.ru/monitor2"
  },
  {
    icon: "mdi-kubernetes",
    text: "kubernetes",
    href:
      "https://62.109.19.154:6443/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy"
  }
  // { heading: "https://moniki.everest2.ru" },
  // {
  //   icon: "mdi-monitor",
  //   text: "monitor",
  //   href: "https://moniki.everest2.ru/lk"
  // },
  // { heading: "http://lira.ait.ru:4080" },
  // {
  //   icon: "mdi-monitor",
  //   text: "monitor",
  //   href: "http://lira.ait.ru:4080/monitor2"
  // }
];
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
