<template>
  <v-navigation-drawer
    clipped
    :value="appAsidebarMenu.drawer"
    app
    right
    disable-route-watcher
    stateless
    @input="v => $emit('input', v)"
  >
    <!-- stateless -->
    <!-- disable-resize-watcher -->
    <!-- :clipped="$vuetify.breakpoint.lgAndUp" -->
    <portal-target
      class="app-asidebar-content-portal"
      style="width: 100%"
      name="app-asidebar-content-portal"
      @change="portalUpdate"
      multiple
    />
  </v-navigation-drawer>
</template>

<script>
export default {
  inject: {
    appAsidebarMenu: {
      default: () => ({
        drawer: null,
        items: []
      })
    }
  },
  data() {
    return {
      hasContent: false
    };
  },
  methods: {
    portalUpdate(newContent, oldContent) {
      this.appAsidebarMenu.drawer = newContent;
    }
  }
};
</script>

<style>
.app-asidebar-content-portal {
  display: flex;
  flex-direction: column;
}
</style>
