<template>
  <ait-action-form-page
    class="ait-edit-form-layout"
    :title="title"
    :flat="flat"
    :outlined="outlined"
    :tile="tile"
    :icon="icon"
    :actions="actions"
    :disableds="disableds"
    :hiddens="hiddens"
    :is-toolbar-app="isToolbarApp"
    :is-toolbar-hidden="isToolbarHidden"
    :resource="resource"
    :is-actions-panel="isActionsPanel"
    @action="e => $emit('action', e)"
  >
    <template slot="title">
      <slot name="title" />
    </template>

    <template slot="actions">
      <slot name="actions" />
    </template>
    <template v-slot:menus>
      <slot name="menus" />
    </template>
    <!-- @slot Page content placeholder. -->
    <slot v-if="item"></slot>
  </ait-action-form-page>
</template>

<script>
import ItemForm from "../mixins/item-form";

/**
 * ItemForm layout for resource creation.
 */
export default {
  mixins: [ItemForm],
  props: {
    actions: {
      type: [Array, String],
      default: () => ["show", "list", "-", "delete"]
    },
    disableds: {
      type: [Array, String, Object],
      default: () => []
    },
    hiddens: {
      type: [Array, String, Object],
      default: () => []
    },
    isToolbarApp: Boolean,
    isToolbarHidden: Boolean,
    outlined: Boolean,
    tile: Boolean,
    flat: Boolean,
    isActionsPanel: { type: Boolean, default: false },
    icon: String
  }
};
</script>
