<template>
  <ait-nav-list :menu="menu" :mini-variant="miniVariant" />
</template>

<script>
/**
 * Default customizable admin VNavigationDrawer with full hierarchical menu and minimize variant.
 */
export default {
  inject: {
    appSidebarMenu: { default: undefined }
  },
  props: {
    /**
     * Main place for side menu, support hierarchical structure, MDI icons, heading and dividers.
     */
    menu: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    /**
     * Minimize the sidebar and show only icons.
     */
    miniVariant() {
      return !!this?.appSidebarMenu.mini;
    }
  }
};
</script>
