<template>
  <ait-action-form-page
    class="ait-show-form-layout"
    :class="mobile"
    :title="title"
    :flat="flat"
    :outlined="outlined"
    :tile="tile"
    :icon="icon"
    :actions="actions"
    :disableds="disableds"
    :hiddens="hiddens"
    :is-toolbar-app="isToolbarApp"
    :is-toolbar-hidden="isToolbarHidden"
    :resource="resource"
    :is-actions-panel="isActionsPanel"
    @action="e => $emit('action', e)"
  >
    <template slot="title">
      <slot name="title" />
    </template>
    <template slot="actions">
      <slot name="actions" />
    </template>
    <template v-slot:menus>
      <slot name="menus" />
    </template>
    <!-- @slot Page content placeholder. -->
    <slot v-if="item"></slot>
  </ait-action-form-page>
</template>
<script>
import ItemForm from "../mixins/item-form";
/**
 * Page layout for resource detail showing. It's the better place for made heavy usage of any VA fields.
 * Contain specific related action as deleting, cloning, editing as well as translation action.
 */
export default {
  mixins: [ItemForm],
  props: {
    actions: {
      type: [Array, String],
      default: () => ["back", "list", "edit", "-", "delete"]
    },
    disableds: {
      type: [Array, String, Object],
      default: () => []
    },
    hiddens: {
      type: [Array, String, Object],
      default: () => []
    },
    isToolbarApp: Boolean,
    isToolbarHidden: Boolean,
    outlined: Boolean,
    tile: Boolean,
    flat: {
      type: Boolean
    },
    isActionsPanel: { type: Boolean, default: true },
    icon: String
  },
  computed: {
    mobile() {
      if (this.$vuetify.breakpoint.name === "xs") {
        return "ait-show-form-layout--mobile";
      }
    }
  }
};
</script>

<style>
.ait-show-form-layout--mobile .ait-nav-list--content {
  display: none;
}
</style>
