<template>
  <!--
    Toggle sidebar.
    @event input
	-->
  <v-navigation-drawer
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
    :dark="dark"
    width="300"
    :color="color"
    :mini-variant="appSidebarMenu.mini"
    :value="appSidebarMenu.drawer"
    @input="v => $emit('input', v)"
  >
    <template v-slot:img="props">
      <!-- @slot Image background. -->
      <slot name="img" v-bind="props"></slot>
    </template>

    <portal-target
      class="app-sidebar-menu-portall"
      style="width: 100%"
      name="app-sidebar-menu-portal"
      multiple
    />

    <ait-nav-menu
      v-if="!appSidebarMenu.hiddenRoot"
      :menu="appSidebarMenu.items"
    />
  </v-navigation-drawer>
</template>

<script>
/**
 * Default customizable admin VNavigationDrawer with full hierarchical menu and minimize variant.
 */
export default {
  inject: {
    appSidebarMenu: {
      default: () => ({
        drawer: null,
        /**
         * Minimize the sidebar and show only icons.
         */
        mini: false,
        items: [],
        hiddenRoot: false
      })
    }
  },
  props: {
    /**
     * Main color of VNavigationDrawer.
     */
    color: {
      type: String,
      default: "white"
    },
    /**
     * Apply dark theme variant for VNavigationDrawer
     */
    dark: Boolean
  }
};
</script>
<style>
.app-sidebar-menu-portal {
  display: flex;
  flex-direction: column;
}
</style>
