<template>
  <portal to="app-sidebar-menu-portal" :order="order" :disabled="disabled">
    <slot name="header"> </slot>
    <slot>
      <ait-nav-menu :menu="menu" />
    </slot>
  </portal>
</template>

<script>
export default {
  props: {
    /**
     * Portal app sidebar used
     */
    disabled: Boolean,
    /**
     * Main place for side menu, support hierarchical structure, MDI icons, heading and dividers.
     */
    menu: {
      type: Array,
      default: () => []
    },

    order: {
      type: Number,
      default: 1
    }
  }
};
</script>

<style></style>
