<template>
  <ait-form class="ait-system-layout--container" style="min-width:320px">
    <v-col xl="4" lg="5" md="6" sm="10" cols="12">
      <v-card
        flat
        class="pl-2 pr-2 pt-2 pb-2 pt-sm-4 pb-sm-4 pt-md-8 pb-md-8 pl-sm-8 pr-sm-8 pl-md-8 pr-md-8"
      >
        <v-row no-gutters>
          <v-col>
            <ait-ref-tenant-field source="tenantId" :item="tenant">
              <template v-slot:action="{ item }">
                <slot name="action" :item="item">
                  <v-list-item-action>
                    <v-btn icon @click="close">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </slot>
              </template>
            </ait-ref-tenant-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <slot name="title">
              <h4 class="text-h6 text-xs-h7 text-center font-weight-light">
                <span v-html="title" />
              </h4>
            </slot>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <slot />
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </ait-form>
</template>

<script>
export default {
  props: {
    maxWidth: [String, Number],
    title: { type: String, default: "Вход в Эверест-2" },
    isLoading: Boolean,
    tenantId: {
      type: String,
      default: ""
    }
  },
  computed: {
    tenant() {
      return { tenantId: this.tenantId };
    }
  },
  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>

<style>
.ait-system-layout--container {
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}
</style>
