<template>
  <div class="ait-system-header">
    <v-skeleton-loader
      v-if="isLoading"
      width="100%"
      type="list-item-avatar-three-line"
      boilerplate
    />
    <div v-else class="ait-system-header--logo">
      <ait-logo
        v-if="logoSrc"
        :width="logoWidth"
        :src="logoSrc"
        :href="logoHref"
        style="margin-right: 25px;"
      />
      <h1 class="ait-system-header-name text-md-h5 text-h6 font-weight-medium">
        <slot>
          <span v-html="title" />
        </slot>
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    logoSrc: String,
    logoHref: String,
    logoWidth: [String, Number],
    title: String,
    isLoading: Boolean
  }
};
</script>

<style>
.ait-system-header--logo {
  /* padding: 0px 0 38px; */
  display: flex;
  flex-direction: row;
}

.ait-system-header-name {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
</style>
