<template>
  <v-card
    class="ait-toolbar-panel"
    :flat="flat"
    :outlined="outlined"
    :tile="tile"
  >
    <ait-app-bar-content-portal
      :disabled="!isToolbarApp"
      class="ait-toolbar-panel--title"
    >
      <ait-toolbar
        :title="title"
        :icon="icon"
        @on-icon-click="onIconToolbarClick"
        v-show="!isToolbarHidden"
      >
        <template
          #title
          :item="item"
          :resource="resource"
          :raise-action="raiseAction"
        >
          <slot name="title" />
        </template>

        <slot
          name="actions"
          :item="item"
          :resource="resource"
          :raise-action="raiseAction"
        >
          <ait-menu-button v-show="isMenu">
            <ait-action-list
              :items="toolbarMenuActions"
              :value="item"
              @select:item="onAction"
              :disableds="actionDisableds"
              :hiddens="actionHiddens"
            />
          </ait-menu-button>
        </slot>
      </ait-toolbar>
    </ait-app-bar-content-portal>

    <slot />
  </v-card>
</template>

<script>
import ItemResource from "../mixins/item-resource";

export default {
  inheritAttrs: false,
  mixins: [ItemResource],
  props: {
    isToolbarApp: Boolean,
    isToolbarHidden: Boolean,
    outlined: Boolean,
    tile: Boolean,
    toolbarMenuActions: Array,
    flat: {
      type: Boolean,
      default: true
    },
    icon: String,
    title: String,
    actionDisableds: {
      type: [Array, String, Object],
      default: () => []
    },
    actionHiddens: {
      type: [Array, String, Object],
      default: () => []
    }
  },
  computed: {
    isMenu() {
      return (
        Array.isArray(this.toolbarMenuActions) && this.toolbarMenuActions.length
      );
    }
  },
  methods: {
    onIconToolbarClick(icon) {
      this.raiseAction("back", icon);
    },
    onAction(e) {
      this.raiseAction(e);
    }
  }
};
</script>
