<template>
  <v-toolbar :dense="dense" :flat="flat">
    <slot name="icon">
      <v-btn
        icon
        :to="to"
        v-if="icon"
        @click.stop="$emit('on-icon-click', icon)"
      >
        <v-icon>{{ icon }}</v-icon>
      </v-btn>
    </slot>

    <v-toolbar-title v-if="getTitle">
      <slot name="title">{{ getTitle }}</slot>
    </v-toolbar-title>

    <v-spacer v-if="!hideSpacer" />

    <slot />
  </v-toolbar>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    flat: { type: Boolean, default: true },
    title: String,
    icon: { type: String, default: () => "mdi-arrow-left" },
    to: String,
    dense: Boolean,
    isAppActions: Boolean,
    hideSpacer: Boolean
  },
  computed: {
    getTitle() {
      return this.title;
    }
  }
};
</script>

<style>
.app-bar-content-portal header.v-toolbar {
  background-color: transparent !important;
}
</style>
