<template>
  <v-container fluid class="ait-wg-layout" :class="{ 'ait--box': box_ }">
    <v-row justify="center">
      <v-col :cols="box_ ? 10 : 12">
        <ait-toolbar-panel
          v-bind="$attrs"
          :title="toolbarTitle"
          :outlined="outlined_"
          :icon="toolbarIcon_"
          :is-toolbar-app="toolbarApp_"
          :is-toolbar-hidden="!toolbar_"
          :toolbar-menu-actions="toolbarActions"
          @action="onAction"
          :item="item"
        >
          <template v-slot:title>
            <slot
              name="toolbar-title"
              :item="item"
              :resource="resource"
              :raise-action="raiseAction"
            >
              {{ toolbarTitle }}
            </slot>
          </template>

          <template v-slot:actions>
            <slot
              name="toolbar-actions"
              :item="item"
              :resource="resource"
              :raise-action="raiseAction"
            >
              <ait-action-list
                icon
                horizontal
                :items="toolbarActions"
                :value="item"
                :resource="resource"
                :disableds="actionDisableds"
                :hiddens="actionHiddens"
                @select:item="onActionList"
              />
            </slot>
            <ait-menu-button
              v-show="toolbarMenuActions && toolbarMenuActions.length"
            >
              <ait-action-list
                :items="toolbarMenuActions"
                :value="item"
                :resource="resource"
                :disableds="actionDisableds"
                :hiddens="actionHiddens"
                @select:item="onActionList"
              />
            </ait-menu-button>
          </template>

          <ait-action-panel
            :item="item"
            :is-actions="asidebar_"
            :is-asidebar-app="asidebarApp_"
            :actions="asidebarActions"
            @action="onAction"
            :action-disableds="actionDisableds"
            :action-hiddens="actionHiddens"
          >
            <slot />
          </ait-action-panel>
        </ait-toolbar-panel>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ItemResource from "../mixins/item-resource";

export default {
  inheritAttrs: false,
  mixins: [ItemResource],
  props: {
    item: Object,
    mode: String,
    box: Boolean,

    outlined: Boolean,

    toolbarIcon: {
      type: String,
      default: ""
    },
    toolbarTitle: String,
    toolbarApp: Boolean,
    toolbar: Boolean,
    toolbarActions: Array,
    toolbarMenuActions: Array,

    asidebar: Boolean,
    asidebarApp: Boolean,
    asidebarActions: Array,

    actionDisableds: {
      type: [Array, String, Object],
      default: () => []
    },
    actionHiddens: {
      type: [Array, String, Object],
      default: () => []
    }
  },
  data() {
    return {
      mode_: this.mode || "",
      outlined_: this.outlined,
      toolbarIcon_: this.toolbarIcon,
      toolbarApp_: this.toolbarApp,
      toolbar_: this.toolbar,
      asidebar_: this.asidebar,
      asidebarApp_: this.asidebarApp,
      box_: this.box
    };
  },
  computed: {
    modes_() {
      return {
        mode: this.mode || "",
        outlined: this.outlined,
        toolbarIcon: this.toolbarIcon,
        toolbarApp: this.toolbarApp,
        toolbar: this.toolbar,
        asidebar: this.asidebar,
        asidebarApp: this.asidebarApp,
        box: this.box
      };
    },
    isNone() {
      return this.mode_ === "none";
    },
    isShow() {
      return this.mode_ === "show";
    },
    isEdit() {
      return this.mode_ === "edit";
    },
    isList() {
      return this.mode_ === "list";
    },
    isCreate() {
      return this.mode_ === "create";
    },
    isCustom() {
      return !(this.isNone || this.isList || this.isShow || this.isEdit);
    }
  },
  watch: {
    mode: {
      immediate: true,
      handler() {
        this.mode_ = this.mode || "";
        this.onModes();
      }
    },
    modes_() {
      this.onModes();
    }
  },
  methods: {
    onAction(e) {
      this.$emit("action", e);
    },
    onActionList(e) {
      this.raiseAction(e);
    },
    onModes() {
      this.box_ = this.box;
      this.toolbarApp_ = this.toolbarApp;
      this.toolbar_ = this.toolbar;
      this.toolbarIcon_ = this.toolbarIcon;

      if (this.isCustom) {
        this.outlined_ = this.outlined;
        this.asidebar_ = this.asidebar;
        this.asidebarApp_ = this.asidebarApp;
      } else if (this.isNone) {
        this.outlined_ = false;
        this.toolbarApp_ = false;
        this.toolbar_ = false;
        this.asidebar_ = false;
        this.asidebarApp_ = false;
      } else if (this.isShow) {
        this.box_ = true;
        this.toolbar_ = true;
        this.outlined_ = false;
        this.asidebar_ = !!this.asidebarActions?.length;
        this.asidebarApp_ = this.toolbarApp;
        this.toolbarIcon_ = "mdi-arrow-left";
      } else if (this.isEdit) {
        this.box_ = true;
        this.toolbar_ = true;
        this.outlined_ = !this.toolbarApp;
        this.toolbarApp_ = this.toolbarApp;
        this.asidebar_ = false;
        this.asidebarApp_ = false;
        this.toolbarIcon_ = "mdi-arrow-left";
      } else if (this.isList) {
        this.box_ = false;
        this.toolbar_ = true;
        this.outlined_ = false;
        this.toolbarApp_ = this.toolbarApp;
        this.asidebar_ = false;
        this.asidebarApp_ = false;
        this.toolbarIcon_ = "mdi-arrow-left";
      } else if (this.isCreate) {
        this.box_ = true;
        this.toolbar_ = true;
        this.outlined_ = !this.toolbarApp;
        this.toolbarApp_ = this.toolbarApp;
        this.asidebar_ = false;
        this.asidebarApp_ = false;
        this.toolbarIcon_ = "mdi-arrow-left";
      }

      this.$emit("action", {
        action: "mode",
        mode: this.mode_,
        data: {
          outlined: this.outlined_,
          toolbarIcon: this.toolbarIcon_,
          toolbarApp: this.toolbarApp_,
          toolbar: this.toolbar_,
          asidebar: this.asidebar_,
          asidebarApp: this.asidebarApp_
        },
        item: this.item
      });
    }
  }
};
</script>

<style>
.ait-wg-layout.ait--box
  .ait-toolbar-panel--title
  > header.theme--light.v-toolbar.v-sheet,
.ait--box.big-boss--no .v-data-iterator > div > header {
  background: #eeeeee;
  /* rgb(245, 245, 245); */
}

.ait-wg-layout {
  padding: 12px 0 12px 0;
}
</style>
