<template>
  <div v-if="contragentTypeFL">
    <div class="d-flex flex-wrap">
      <span>
        <ait-ref-person-doc-field
          class_="ait-contragent"
          :item="item"
          source="personDocId"
          label="Физическое лицо"
          view="span"
        />
      </span>
      <span v-if="isPatient" class="pl-2 pr-2">•</span>
      <span v-if="isPatient">Пациент</span>
    </div>
  </div>
  <div v-else>
    <div class="d-flex flex-wrap">
      <span class="pr-2">
        <ait-ref-field
          :item="item"
          label="Юридическое лицо"
          source="contragentCorpId"
          reference="corp2.company"
          itemValue="id"
        ></ait-ref-field>
      </span>
      <span>
        <ait-ref-company-bank-field
          :item="item"
          source="bankDetailId"
          view="span"
        >
          <template v-slot:item="{ item: companyBank }">
            <ait-ref-bank-detail-field
              :item="companyBank"
              source="bankId"
              view="span"
            >
            </ait-ref-bank-detail-field>
          </template>
        </ait-ref-company-bank-field>
      </span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object
  },
  computed: {
    isPatient() {
      return !!this.item.isPatient;
    },
    contragentTypeFL() {
      if (
        this.item.contragentTypeId == "00000000-0000-0000-0039-000000000003"
      ) {
        return true;
      } else {
        return false;
      }
    },
    contragentTypeUL() {
      if (
        this.item.contragentTypeId != "00000000-0000-0000-0039-000000000003"
      ) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style>
.ait-contragent .ait-lookup-person2-fio {
  font-weight: normal;
}
</style>
