<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title v-if="contragentTypeFL">
        <ait-ref-person-doc-field
          :item="item"
          source="personDocId"
          label="Физическое лицо"
          view="list"
        />
      </v-list-item-title>
      <v-list-item-title v-else>
        <ait-ref-field
          :item="item"
          label="Юридическое лицо"
          source="contragentCorpId"
          reference="corp2.company"
          itemValue="id"
        ></ait-ref-field>
      </v-list-item-title>
      <v-list-item-subtitle v-if="contragentTypeUL">
        <ait-ref-company-bank-field
          :item="item"
          source="bankDetailId"
          view="list"
        >
          <template v-slot:item="{ item: companyBank }">
            <ait-ref-bank-detail-field
              :item="companyBank"
              source="bankId"
              view="list"
            >
            </ait-ref-bank-detail-field>
          </template>
        </ait-ref-company-bank-field>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <div v-if="contragentTypeFL">
        <span v-if="isPatient">Пациент</span>
      </div>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object
  },
  computed: {
    isPatient() {
      return !!this.item.isPatient;
    },
    contragentTypeFL() {
      if (
        this.item.contragentTypeId == "00000000-0000-0000-0039-000000000003"
      ) {
        return true;
      } else {
        return false;
      }
    },
    contragentTypeUL() {
      if (
        this.item.contragentTypeId != "00000000-0000-0000-0039-000000000003"
      ) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
