<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="card2.personWithCardView"
    itemValue="personId"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-person-with-card-item :item="item" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false
};
</script>
