<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        {{ item.companyName }}
      </v-list-item-title>
      <v-list-item-subtitle> </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <small>
        <ait-ref-dict-field
          :item="item"
          source="companyType"
          reftype="corpType"
          view="span"
        />
        <ait-ref-dict-field
          :item="item"
          source="recordStatus"
          reftype="docStatus"
          view="short"
        />
      </small>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
// Item list view
export default {
  props: {
    item: Object
  }
};
</script>
