<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <div>
          {{ item.medDoc.docNum }}
        </div>
        <ait-ref-person-field
          :item="item.medDoc.medCard"
          source="personId"
          label="Физическое лицо"
        >
          <template v-slot:item="{ item }">
            <div class="d-flex flex-wrap">
              <span class="pr-2">
                <strong>{{ fio(item) }}</strong>
              </span>
              <span class="pr-2">
                <ait-date-field :item="item.birthDate" age />
              </span>
              <span>
                <ait-ref-dict-field
                  :item="item"
                  source="genderId"
                  reftype="gender"
                  view="short"
                />
              </span>
            </div>
          </template>
        </ait-ref-person-field>
      </v-list-item-title>
    </v-list-item-content>
    <v-list-item-action>
      <ait-ref-dict-field
        :item="item.medDoc.medCard"
        source="medCardTypeId"
        reftype="medCardType"
        view="short"
      />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      fio: utils.fio
    };
  }
};
</script>
