<template>
  <v-list-item>
    <v-list-item-content>
      <div class="d-flex flex-wrap ait-specdoc2">
        <span class="pr-4 ait-specdoc2_doc-num">{{ item.medDoc.docNum }}</span>
        <span>
          <ait-ref-person-field :item="item.medDoc.medCard" source="personId">
            <template v-slot:item="{ item }">
              <div class="d-flex">
                <span class="pr-4 ait-specdoc2_doc-fio">{{ fio(item) }}</span>

                <small class="mt-1">
                  <ait-date-field
                    class="pr-2 text--secondary hidden-sm-and-down ait-specdoc2_doc-birth-date"
                    :item="item.birthDate"
                    age
                  />
                </small>

                <ait-ref-dict-field
                  class="hidden-sm-and-down ait-specdoc2_gender"
                  :item="item"
                  source="genderId"
                  reftype="gender"
                  view="icon"
                />
              </div>
            </template>
          </ait-ref-person-field>
        </span>
        <v-spacer />
        <span class="hidden-md-and-down ait-specdoc2_med-card-type">
          <ait-ref-dict-field
            class="text--secondary caption text-right"
            :item="item.medDoc.medCard"
            source="medCardTypeId"
            reftype="medCardType"
            view="short"
          />
        </span>
      </div>

      <!-- <v-container fluid style="padding-top: 0; padding-bottom: 0">
        <v-row no-gutters align="center" align-content="center">
          <v-col cols="2">{{ item.medDoc.docNum }}</v-col>
          <v-col cols="6">
            <ait-ref-person-field
              :item="item.medDoc.medCard"
              source="personId"
              label="Физическое лицо"
            >
              <template v-slot:item="{ item }">
                <div class="d-flex flex-wrap">
                  <span class="pr-2">
                    <strong>{{ fio(item) }}</strong>
                  </span>
                  <span class="pr-2">
                    <ait-date-field :item="item.birthDate" age />
                  </span>
                  <span>
                    <ait-ref-dict-field
                      :item="item"
                      source="genderId"
                      reftype="gender"
                      view="short"
                    />
                  </span>
                </div>
              </template>
            </ait-ref-person-field>
          </v-col>
        </v-row>
      </v-container> -->
    </v-list-item-content>
    <!-- <v-list-item-action>
			<ait-ref-dict-field
				:item="item.medDoc.medCard"
				source="medCardTypeId"
				reftype="medCardType"
				view="short"
			/>
		</v-list-item-action> -->
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate,
      fio: utils.fio
    };
  }
};
</script>

<style>
.ait-specdoc2_doc-num {
  width: 100px;
}
.ait-specdoc2_doc-fio {
  min-width: 250px;
  font-weight: 700;
}
/*
  .ait-specdoc2_gender {}
  .ait-specdoc2_med-card-type {}
  .ait-specdoc2_doc-birth-date {}
*/
</style>
