<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./MedCardItem.list.vue";
import List1Item from "./MedCardItem.list1.vue";
import List2Item from "./MedCardItem.list2.vue";
import SpanItem from "./MedCardItem.span.vue";

export default {
  components: {
    ListItem,
    List1Item,
    List2Item,
    SpanItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "list"
    }
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>

<style></style>
