<template>
  <div class="d-flex flex-wrap">
    <span class="pr-2">
      {{ item.medDoc.docNum }}
    </span>
    <span>
      <ait-ref-person-field
        :item="item.medDoc.medCard"
        source="personId"
        label="Физическое лицо"
      >
        <template v-slot:item="{ item }">
          <div class="d-flex flex-wrap">
            <span class="pr-2">
              <strong>{{ fio(item) }}</strong>
            </span>
            <span class="pr-2">
              <ait-date-field :item="item.birthDate" age />
            </span>
            <span>
              <ait-ref-dict-field
                :item="item"
                source="genderId"
                reftype="gender"
                view="short"
              />
            </span>
          </div>
        </template>
      </ait-ref-person-field>
    </span>
  </div>
</template>

<script>
import { utils, constants } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate,
      fio: utils.fio
    };
  }
};
</script>
