<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="specdoc2.medCardReg"
    itemValue="medCardId"
    divided
  >
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-med-card-item :view="view" :item="item" />
      </slot>
    </template>
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-med-card-item
          :view="view"
          class="ait-ref-input--list-item"
          :item="item"
        />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Карта"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
