<template>
  <div class="d-flex flex-wrap">
    <span class="pr-2">
      {{
        `№ ${item.document_number} от ${formatDate(
          item.date_document,
          "dd.MM.yyyy"
        )}`
      }}
    </span>
    <span class="pr-2">
      <ait-ref-field
        :item="item"
        source="contract_doc_vid_id"
        reference="dict2.contractDocVid"
        itemValue="contractDocVidId"
      >
      </ait-ref-field>
    </span>

    <span>
      {{
        `(${formatDate(item.date_begin, "dd.MM.yyyy")} - ${formatDate(
          item.date_end,
          "dd.MM.yyyy"
        )})`
      }}
    </span>
  </div>
</template>

<script>
import { utils, constants } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate
    };
  }
};
</script>
