<template>
  <v-list-item two-line>
    <v-list-item-content class="ml-4" style="min-width: 125px">
      <v-list-item-title>
        {{
          `№ ${item.document_number} от ${formatDate(
            item.date_document,
            "dd.MM.yyyy"
          )}`
        }}
      </v-list-item-title>
      <v-list-item-subtitle>
        <ait-ref-field
          :item="item"
          source="contract_doc_vid_id"
          reference="dict2.contractDocVid"
          itemValue="contractDocVidId"
        >
        </ait-ref-field>
        {{
          `Срок действия с ${formatDate(
            item.date_begin,
            "dd.MM.yyyy"
          )} по ${formatDate(item.date_end, "dd.MM.yyyy")}`
        }}
        <!-- <div class="d-flex flex-wrap">
        <span class="pr-1">Заказчик:</span><span><ait-ref-contragent-field :item="item" source="payer_contragent_id" view="span" /></span>  
        </div>  
        <div class="d-flex flex-wrap"> 
        <span class="pr-1">Исполнитель:</span><span><ait-ref-contragent-field :item="item" source="executor_contragent_id" view="span" /></span>
        </div> -->
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <small>
        <ait-ref-field
          :item="item"
          source="contract_doc_type_id"
          reference="dict2.contractDocType"
          itemValue="contractDocTypeId"
        ></ait-ref-field>
      </small>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils, constants } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate
    };
  }
};
</script>
