<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    search-label="Номер документа"
    reference="contract2.contract"
    itemValue="id"
    :filters="filters"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-contract-item
          :view="view"
          class="ait-ref-input--list-item"
          :item="item"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-contract-item :view="view" :item="item" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Договор на оказание услуг по прейскуранту"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "contract_doc_vid_id",
          type: "ref",
          label: "Вид документа",
          attributes: {
            reference: "dict2.contractDocVid",
            itemValue: "contractDocVidId",
            itemText: "name"
          }
        },
        {
          source: "payer_contragent_id",
          type: "ait-ref-contragent",
          label: "Заказчик",
          attributes: {
            view: "list"
          }
        },
        {
          source: "executor_contragent_id",
          type: "ait-ref-contragent",
          label: "Исполнитель",
          attributes: {
            view: "list"
          }
        }
      ]
    };
  }
};
</script>
