<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="contract2.contract"
    itemValue="id"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-contract-item :view="view" :item="item" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    view: {
      type: String,
      default: "span"
    }
  },
  methods: {}
};
</script>
