<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="platform.tenant"
    itemValue="id"
    divided
  >
    <!-- Элемент списка -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-tenant-item
          class="ait-ref-input--list-item"
          :item="item"
          :view="view"
        >
          <template v-slot:action="{ item }">
            <slot name="action" :item="item" />
          </template>
        </ait-tenant-item>
      </slot>
    </template>
    <!-- Элемент ввода -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-tenant-item :item="item" :view="view">
          <template v-slot:action="{ item }">
            <slot name="action" :item="item" />
          </template>
        </ait-tenant-item>
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Организация"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
