<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="platform.tenant"
    itemValue="id"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-tenant-item :item="item" :view="view">
          <template v-slot:action="{ item }">
            <slot name="action" :item="item"> </slot>
          </template>
        </ait-tenant-item>
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
