<template>
  <v-list-item two-line>
    <v-list-item-avatar style="height: 50px; min-width: 50px; width: 50px;">
      <ait-ava :username="item.shortname || item.name" :src="item.logo" />
    </v-list-item-avatar>
    <v-list-item-content>
      <v-list-item-title>
        <strong class="text-h5">{{ item.shortname }}</strong>
      </v-list-item-title>
      <v-list-item-subtitle>
        {{ item.name }}
      </v-list-item-subtitle>
    </v-list-item-content>

    <slot name="action" :item="item"> </slot>
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style></style>
