<template>
  <component :is="vw" :item="item" v-bind="$attrs" v-on="$listeners">
    <template v-slot:action="{ item }">
      <slot name="action" :item="item"> </slot>
    </template>
  </component>
</template>

<script>
import ListItem from "./Tenant.list.vue";
import SpanItem from "./Tenant.span.vue";

export default {
  components: {
    ListItem,
    SpanItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "list"
    }
  },
  computed: {
    vw() {
      return (this.view || "list") + "-item";
    }
  }
};
</script>

<style></style>
