<template>
  <component :is="vw" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./view/EmpAssignItem.list.vue";
import List2Item from "./view/EmpAssignItem.list2.vue";
import SpanItem from "../empReg/view/EmpRegItem.span.vue";
//import TbnItem from "../empReg/view/EmpRegItem.tbn.vue";
import AssignItem from "./view/EmpAssignItem.assign.vue";
import AuthorListItem from "./view/EmpAssignItem.author-list.vue";
import AuthorSpanItem from "./view/EmpAssignItem.author-span.vue";

export default {
  components: {
    ListItem,
    List2Item,
    SpanItem,
    //TbnItem,
    AssignItem,
    AuthorListItem,
    AuthorSpanItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: true
    },
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    vw() {
      return this.view + "-item";
    }
  }
};
</script>

<style></style>
