<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="emp2.empDocAssign"
    itemValue="empDocId"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-emp-assign-item
          :view="view"
          :item="item"
          :show-post="showPost"
          :show-org-unit="showOrgUnit"
          :show-dates="showDates"
        />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: true
    },
    view: {
      type: String,
      default: "span"
    }
  },
  methods: {}
};
</script>
