<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    :filters="filters"
    reference="emp2.empDocAssign"
    itemValue="empDocId"
    search-label="Найти по табельному номеру"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-emp-assign-item
          :view="view"
          class="ait-ref-input--list-item"
          :item="item"
          :show-post="showPost"
          :show-org-unit="showOrgUnit"
          :show-dates="showDates"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-emp-assign-item
          :view="view"
          :item="item"
          :show-post="showPost"
          :show-org-unit="showOrgUnit"
          :show-dates="showDates"
        />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Назначение"
    },
    showPost: {
      type: Boolean,
      default: true
    },
    showOrgUnit: {
      type: Boolean,
      default: true
    },
    showDates: {
      type: Boolean,
      default: true
    },
    view: {
      type: String,
      default: "list"
    }
  },
  methods: {},
  data() {
    return {
      filters: [
        {
          source: "orgUnitId",
          type: "ait-ref-org-unit",
          label: "Подразделение",
          alwaysOn: true,
          attributes: {
            reftype: "orgUnit"
          }
        },
        {
          source: "postId",
          type: "ait-ref-dict",
          label: "Должность",
          alwaysOn: true,
          attributes: {
            reftype: "post"
          }
        }
      ]
    };
  }
};
</script>
