<template>
  <v-list-item two-line v-bind="$attrs" v-on="$listeners">
    <div class="d-flex align-center" style="width: 80px">
      <ait-tag :value="shortName" />
    </div>

    <ait-ref-emp-assign-field
      v-if="item.empAssignId"
      source="empAssignId"
      style="display:flex; width: 100%"
      :item="item"
    >
      <template #item="{item}">
        <v-list-item-content class="ml-4">
          <v-list-item-title>
            <ait-ref-dict-field :item="item" source="postId" reftype="post" />
          </v-list-item-title>
          <v-list-item-subtitle>
            <ait-ref-org-unit-field
              :item="item"
              source="orgUnitId"
              view="span"
            />
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <ait-emp-tbn :item="item" />
          <!-- <emp-tbn :tbn="item.tabelNum" /> -->
        </v-list-item-action>
      </template>
    </ait-ref-emp-assign-field>

    <div style="width: 100%;" class="d-flex" v-else>
      <v-list-item-content class="ml-4">
        <v-list-item-title>{{ name }}</v-list-item-title>
        <v-list-item-subtitle> {{ note }}</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-action>
        <small class="overline text--secondary">
          <ait-rus-role :role="role" />
        </small>
      </v-list-item-action>
    </div>
  </v-list-item>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    item: Object
  },
  computed: {
    code() {
      return this.item?.code || this.item?.arm?.code;
    },
    shortName() {
      return (
        this.item?.shortName ||
        this.item?.arm?.shortName ||
        this.item?.arm?.code
      );
    },
    name() {
      return this.item?.name || this.item?.arm?.name;
    },
    note() {
      return this.item?.note || this.item?.arm?.note;
    },
    role() {
      return this.item?.arm?.role;
    }
  }
};
</script>
