<template>
  <ait-ref-field v-bind="$attrs" v-on="$listeners" reference="monitor2.profile">
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-profile-item :item="item" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false
};
</script>
