<template>
  <div>
    <v-btn
      @click="click"
      color="success"
      style="position: absolute; z-index: 10; top: 100px; left:5px"
      >bigBoss</v-btn
    >
    <v-btn
      @click="view = view == 'table' ? 'plain' : 'table'"
      color="success"
      style="position: absolute; z-index: 10; top: 150px; left:5px"
      >{{ view }}</v-btn
    >
    <ait-bar :big-boss="bigBoss" :view="view"> </ait-bar>
  </div>
</template>

<script>
import AitBar from "./module/bar/Bar.vue";

export default {
  components: {
    AitBar
  },
  data() {
    return {
      bigBoss: false,
      view: ""
    };
  },
  methods: {
    click() {
      this.bigBoss = !this.bigBoss;
    }
  }
};
</script>

<style></style>
