<template>
  <div>
    <v-btn
      @click="click"
      color="info"
      style="position: absolute; z-index: 10; top: 100px; left:5px"
      >bigBoss</v-btn
    >
    <ait-foo :big-boss="bigBoss"> </ait-foo>
  </div>
</template>

<script>
import AitFoo from "./module/foo/Foo.vue";

export default {
  components: {
    AitFoo
  },
  data() {
    return {
      bigBoss: false
    };
  },
  methods: {
    click() {
      this.bigBoss = !this.bigBoss;
    }
  }
};
</script>

<style></style>
