<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="org2.orgUnit"
    itemValue="orgUnitId"
    :filters="filters"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-org-unit-item
          class="ait-ref-input--list-item"
          :item="item"
          :view="view"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-org-unit-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Подразделение"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "orgUnitTypeId",
          type: "ait-ref-dict",
          label: "Тип",
          alwaysOn: true,
          attributes: {
            reftype: "orgUnitType"
          }
        }
      ]
    };
  }
};
</script>
