<template>
  <v-list-item two-line>
    <v-list-item-content class="ml-4" style="min-width: 125px">
      <v-list-item-subtitle>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.account">
            Р/C: {{ item.account }}
          </span>
        </div>

        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.corp_id">
            Банк:
          </span>

          <span v-show="item.corp_id">
            <ait-ref-company-field :item="item" source="corp_id" view="span" />
          </span>
        </div>

        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.inn_bank">
            ИНН: {{ item.inn_bank }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.bik"> БИК: {{ item.bik }} </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.correspond_account">
            К/C: {{ item.correspond_account }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.kpp_bank">
            КПП: {{ item.kpp_bank }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.kbk"> КБК: {{ item.kbk }} </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.ogrn_bank">
            ОГРН: {{ item.ogrn_bank }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.okato_bank">
            ОКАТО: {{ item.okato_bank }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.oktmo_bank">
            ОКТМО: {{ item.oktmo_bank }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.okpo"> ОКПО: {{ item.okpo }} </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.okpof">
            ОКОПФ: {{ item.okpof }}
          </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.okfc"> ОКФС: {{ item.okfc }} </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.okved">
            ОКВЭД: {{ item.okved }}
          </span>
        </div>
        <!-- <div class="d-flex flex-wrap">
           <span class="pr-2" v-show="item.doc_status_id">
            Статус записи:
          </span>
          <span class="pr-2" v-show="item.doc_status_id">
        <ait-ref-field
          :item="item"
          source="doc_status_id"
          reference="dict2.docStatus"
          itemValue="doc_status_id"
        />
        </span>
        </div>
        <div class="d-flex flex-wrap">
          <span class="pr-2" v-show="item.createdat">
            Дата создания:
          </span>
          <span v-show="item.createdat">
            <ait-date-field :item="item" source="createdat" />

          </span>
        </div> -->
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <small>
        {{ formatDate(item.createdat, "dd.MM.yyyy") }}
        <ait-ref-dict-field
          :item="item"
          source="doc_status_id"
          reftype="docStatus"
          view="short"
        />
      </small>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate
    };
  }
};
</script>
