<template>
  <div class="d-flex flex-wrap">
    <span class="pr-2"> Р/C: {{ item.account }} </span>
    <!-- <span class="pr-2">
      ИНН: {{ item.inn_bank }}
    </span>  
    <span class="pr-2">   
      БИК: {{ item.bik }}
    </span>  
    <span class="pr-2">  
      К/C: {{ item.correspond_account }}
    </span>  
    <span class="pr-2">    
      КПП: {{ item.kpp_bank }}
    </span> -->
    <span class="pr-1" v-show="item.corp_id">Банк:</span>
    <span v-show="item.corp_id"
      ><ait-ref-company-field :item="item" source="corp_id" view="span"
    /></span>
  </div>
</template>

<script>
// Item span view
export default {
  props: {
    item: Object
  }
};
</script>
