<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    search-label="Р/C или Банк"
    :label="label"
    item-value="id"
    reference="common.bankDetail"
    :filters="filters"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-bank-detail-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ РИСУЕМ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-bank-detail-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// Input ref - Элемент ввода (выбора) состоит из выбранного значение + эл-тов списка выбора
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Банковские реквизиты"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "account",
          label: "Р/С"
        },
        {
          label: "Банк",
          source: "corp_id",
          type: "ait-ref-company",

          attributes: {
            refType: "company",
            view: "span",
            filter: { companyType: "00000000-0000-0000-0099-000000000004" }
          }
        }
      ]
    };
  }
};
</script>
