<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="common.bankDetail"
    item-value="id"
  >
    <!-- Рисуем ref label -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-bank-detail-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
// Show ref - Элемент отображения label
export default {
  inheritAttrs: false,
  props: {
    view: {
      type: String,
      default: "span"
    }
  }
};
</script>
