<template>
  <div class="d-flex flex-wrap">
    <span>
      <ait-ref-person-doc-field
        :item="item"
        source="personDocId"
        view="span"
      ></ait-ref-person-doc-field>
    </span>
    <span v-if="proxyDetails" class="pl-2 pr-2">•</span>
    <span v-if="proxyDetails">
      {{ item.proxyDetails }}
    </span>
    <span v-if="isRightToSign" class="pl-2 pr-2">•</span>
    <span v-if="isRightToSign">Законный представитель</span>
    <span v-if="isEmployee" class="pl-2 pr-2">•</span>
    <span v-if="isEmployee">Сотрудник</span>
    <span v-if="isPatient" class="pl-2 pr-2">•</span>
    <span v-if="isPatient">Пациент</span>
  </div>
</template>

<script>
import { utils } from "@ait/share2";

// элемент списка
export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate
    };
  },
  computed: {
    isPatient() {
      return !!this.item.isPatient;
    },
    isRightToSign() {
      return !!this.item.isRightToSign;
    },
    isEmployee() {
      return !!this.item.isEmployee;
    }
  }
};
</script>
