<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <ait-ref-person-doc-field
          :item="item"
          source="personDocId"
          view="list"
        ></ait-ref-person-doc-field>
      </v-list-item-title>
      <v-list-item-subtitle>
        <div>
          {{ item.proxyDetails }}
        </div>
        <div>
          <span v-if="isRightToSign">Законный представитель</span>
          <span v-if="isRightToSign" class="pl-1 pr-1"></span>
          <span v-if="isEmployee">Сотрудник</span>
          <span v-if="isEmployee" class="pl-1 pr-1"></span>
          <span v-if="isPatient">Пациент</span>
          <span v-if="isPatient" class="pl-1 pr-1"></span>
        </div>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action> </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  data() {
    return {
      formatDate: utils.formatDate
    };
  },
  computed: {
    isPatient() {
      return !!this.item.isPatient;
    },
    isRightToSign() {
      return !!this.item.isRightToSign;
    },
    isEmployee() {
      return !!this.item.isEmployee;
    }
  }
};
</script>
