<template>
  <component :is="vw" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./DelegateItem.list.vue";
import SpanItem from "./DelegateItem.span.vue";

export default {
  components: {
    ListItem,
    SpanItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "list"
    }
  },
  computed: {
    vw() {
      return this.view + "-item";
    }
  }
};
</script>

<style></style>
