<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="fin2.contragentFl"
    itemValue="id"
    :filters="filters"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-delegate-item
          :view="view"
          class="ait-ref-input--list-item"
          :item="item"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-delegate-item :view="view" :item="item" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// элемент ввода
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Представитель"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "personDocId",
          type: "ait-ref-person-doc",
          label: "ФЛ"
          // attributes: {
          // 	view: "author-list",
          // }
        }
      ]
    };
  }
};
</script>
