<template>
  <v-expansion-panels>
    <v-expansion-panel>
      <v-expansion-panel-header> dict2 </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form v-model="mitem" :item="item" title="dict2">
          <ait-edit-form-layout flat>
            <v-card flat>
              <div>
                <ait-ref-input
                  source="personDocTypeId"
                  label="personDocType"
                  reference="dict2.personDocType"
                  itemValue="personDocTypeId"
                  itemText="name"
                  clearable
                />
                <ait-ref-input
                  source="personDocKindId"
                  label="personDocKind"
                  reference="dict2.personDocKind"
                  itemValue="personDocKindId"
                  itemText="name"
                  clearable
                  :filters="personDocKindFilters"
                  :filter="personDocKindFilter"
                />
                <div v-pre>
                  <textarea class="lookups-code" rows="19" disabled>
<ait-ref-input
    source="personDocTypeId"
    label="personDocType"
    reference="dict2.personDocType"
    itemValue="personDocTypeId"
    itemText="name"
    clearable
/>
<ait-ref-input
    source="personDocKindId"
    label="personDocKind"
    reference="dict2.personDocKind"
    itemValue="personDocKindId"
    itemText="name"
    clearable
    :filters="personDocKindFilters"
    :filter="personDocKindFilter"
/>
                            </textarea
                  >
                </div>
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-header>
        person2 master-detail
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form
          v-model="mitem"
          :item="item"
          title="person2 master-detail"
          class="mt-2"
        >
          <ait-edit-form-layout flat>
            <v-card flat>
              <div>
                <ait-ref-input
                  source="personId"
                  label="физлица - personId"
                  reference="person2.vperson"
                  itemValue="personId"
                  itemText="_display"
                  clearable
                  @input="onInput"
                >
                  <template v-slot:item="{ item }">
                    <v-container
                      fluid
                      style="padding-top: 0; padding-bottom: 0"
                    >
                      <v-row no-gutters>
                        <v-col cols="6" style="font-weight: bold">{{
                          `${fio(item)}`
                        }}</v-col>
                        <v-col style="color: LightSlateGray; font-size: 90%">{{
                          `${formatDate(item.birthDate, "dd.MM.yyyy")} (${age(
                            item.birthDate
                          )})`
                        }}</v-col>
                        <v-col style="color: LightSlateGray; font-size: 90%">
                          пол: {{ item.genderName }}
                        </v-col>
                      </v-row>
                      <v-row style="color: Gray; font-size: 85%" no-gutters>
                        <v-col>
                          {{
                            `${item.identityDocShortName ||
                              item.identityDocName} ${(
                              item.series || ""
                            ).replace(/\s/g, "") +
                              (item.number || "").replace(/\s/g, "")}`
                          }}
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                    </v-container>
                  </template>
                </ait-ref-input>
                <ait-ref-input
                  source="personDocId"
                  label="док-ты"
                  reference="person2.vpersondoc"
                  itemValue="docId"
                  itemText="_display"
                  clearable
                  :filter="personFilter"
                />
                <div v-pre>
                  <textarea class="lookups-code" rows="20" disabled>
<ait-ref-input
    source="personId"
    label="физлица - personId"
    reference="person2.vperson"
    itemValue="personId"
    itemText="_display"
    clearable
    @input="onInput"
>
    <template v-slot:item="{ item }">
        <v-container fluid style="padding-top:0;padding-bottom:0">
            <v-row no-gutters>
                <v-col cols="6" style="font-weight:bold">{{
                      `${fio(item)}`
                    }}</v-col>
                <v-col style="color:LightSlateGray;font-size:90%">{{
                      `${formatDate(item.birthDate, "dd.MM.yyyy")} (${age(
                        item.birthDate
                      )})`
                    }}</v-col>
                <v-col style="color:LightSlateGray;font-size:90%"> пол: {{
                      item.genderName
                    }} </v-col>
            </v-row>
            <v-row style="color:Gray;font-size:85%" no-gutters>
                <v-col>
                    {{
                      `${item.identityDocShortName || item.identityDocName} ${(
                        item.series || ""
                      ).replace(/\s/g, "") +
                        (item.number || "").replace(/\s/g, "")}`
                    }}
                </v-col>
            </v-row>
            <v-divider></v-divider>
        </v-container>
    </template>
</ait-ref-input>
<ait-ref-input
    source="personDocId"
    label="док-ты"
    reference="person2.vpersondoc"
    itemValue="docId"
    itemText="_display"
    clearable
    :filter="personFilter"
/>
</textarea
                  >
                </div>
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-header> person2 custom </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form
          v-model="mitem"
          :item="item"
          title="person2 custom"
          class="mt-2"
        >
          <ait-edit-form-layout flat>
            <v-card flat>
              <div>
                <ait-ref-input
                  source="docId"
                  label="физлица - docId"
                  reference="person2.vperson2"
                  itemValue="docId"
                  itemText="_display"
                  clearable
                >
                  <template v-slot:item="{ item }">
                    <v-container
                      fluid
                      style="padding-top: 0; padding-bottom: 0"
                    >
                      <v-row no-gutters>
                        <v-col cols="6" style="font-weight: bold">{{
                          `${fio(item)}`
                        }}</v-col>
                        <v-col style="color: LightSlateGray; font-size: 90%">{{
                          `${formatDate(item.birthDate, "dd.MM.yyyy")} (${age(
                            item.birthDate
                          )})`
                        }}</v-col>
                        <v-col style="color: LightSlateGray; font-size: 90%">
                          пол: {{ item.genderName }}
                        </v-col>
                      </v-row>
                      <v-row style="color: Gray; font-size: 85%" no-gutters>
                        <v-col>
                          {{
                            `${item.identityDocShortName ||
                              item.identityDocName} ${(
                              item.series || ""
                            ).replace(/\s/g, "") +
                              (item.number || "").replace(/\s/g, "")}`
                          }}
                        </v-col>
                      </v-row>
                      <v-divider></v-divider>
                    </v-container>
                  </template>
                </ait-ref-input>
                <div v-pre>
                  <textarea class="lookups-code" rows="20" disabled>
<ait-ref-input
    source="docId"
    label="физлица - docId"
    reference="person2.vperson2"
    itemValue="docId"
    itemText="_display"
    clearable
>
    <template v-slot:item="{ item }">
        <v-container fluid style="padding-top:0;padding-bottom:0">
            <v-row no-gutters>
                <v-col cols="6" style="font-weight:bold">{{
                      `${fio(item)}`
                    }}</v-col>
                <v-col style="color:LightSlateGray;font-size:90%">{{
                      `${formatDate(item.birthDate, "dd.MM.yyyy")} (${age(
                        item.birthDate
                      )})`
                    }}</v-col>
                <v-col style="color:LightSlateGray;font-size:90%"> пол: {{
                      item.genderName
                    }} </v-col>
            </v-row>
            <v-row style="color:Gray;font-size:85%" no-gutters>
                <v-col>
                    {{
                      `${item.identityDocShortName || item.identityDocName} ${(
                        item.series || ""
                      ).replace(/\s/g, "") +
                        (item.number || "").replace(/\s/g, "")}`
                    }}
                </v-col>
            </v-row>
            <v-divider></v-divider>
        </v-container>
    </template>
</ait-ref-input>
                            </textarea
                  >
                </div>
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <v-expansion-panel>
      <v-expansion-panel-header> person2 lookups </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form
          v-model="mitem"
          :item="item"
          title="person2 lookups"
          class="mt-2"
        >
          <ait-edit-form-layout flat>
            <v-card flat>
              <div>
                <ait-ref-person
                  source="personId"
                  label="физлица - personId (default)"
                  clearable
                />
                <ait-ref-person-field source="personId" :item="mitem" />
                <br />
                <div v-pre>
                  <textarea class="lookups-code" rows="2" disabled>
<ait-ref-person source="personId" label="физлица - personId default" clearable/>
                                </textarea
                  >
                </div>

                <!-- <ait-ref-person2
                  source="person2Id"
                  label="физлица - docId (default)"
                  clearable
                />
                <ait-ref-person-field2 source="person2Id" :item="mitem" />
                <br />
                <div v-pre>
                  <textarea class="lookups-code" rows="2" disabled>
<ait-ref-person2 source="person2Id" label="физлица - docId default" clearable/>
                                </textarea
                  >
                </div> -->

                <ait-ref-person
                  source="personId"
                  label="физлица - personId (custom template)"
                  clearable
                >
                  <template v-slot:item="{ item }">
                    {{ item }}
                  </template>
                </ait-ref-person>
                <div v-pre>
                  <textarea class="lookups-code" rows="6" disabled>
<ait-ref-person source="personId" label="физлица - personId custom" clearable>
    <template v-slot:item="{ item }">
        {{ item }}
    </template>
</ait-ref-person>

<ait-ref-person-field source="personId" :item="mitem"/>
<br/>
                                </textarea
                  >
                </div>

                <ait-ref-person-doc
                  source="personDocId"
                  label="док-ты персоны"
                  clearable
                />
                <div v-pre>
                  <textarea class="lookups-code" rows="6" disabled>
<ait-ref-person-doc
    source="personDocId"
    label="док-ты персоны"
    clearable
/>
                                </textarea
                  >
                </div>
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header> org2 lookups </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form
          v-model="mitem"
          :item="item"
          title="org22 lookups"
          class="mt-2"
        >
          <ait-edit-form-layout flat>
            <v-card flat>
              <ait-ref-org-unit
                source="orgUnitId"
                label="подразделения - orgUnitId (default)"
                clearable
              />
              <ait-ref-org-unit-field source="orgUnitId" :item="mitem" />
              <br />
              <div v-pre>
                <textarea class="lookups-code" rows="2" disabled>
<ait-ref-org-unit source="orgUnitId" label="подразделения - orgUnitId (default)" clearable/>
<ait-ref-org-unit-field source="orgUnitId"  />
                  </textarea
                >
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>

    <v-expansion-panel>
      <v-expansion-panel-header> card2 master-detail </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ait-form
          v-model="mitem"
          :item="item"
          title="card2 master-detail"
          class="mt-2"
        >
          <ait-edit-form-layout flat>
            <v-card flat>
              <div>
                <ait-ref-person-with-card
                  source="personWithCardId"
                  label="ФЛ имеющие МК"
                  clearable
                />

                <ait-ref-person-with-card-field source="personWithCardId" />

                <div v-pre>
                  <textarea class="lookups-code" rows="6" disabled>
<ait-ref-person-with-card
    source="personWithCardId"
    label="ФЛ имеющие МК"
    clearable
/>
                                </textarea
                  >
                </div>
                <ait-ref-card
                  source="cardId"
                  :filter="personWithCardFilter"
                  clearable
                />

                <ait-ref-card-field source="cardId" :item="mitem" />

                <div v-pre>
                  <textarea class="lookups-code" rows="6" disabled>
<ait-ref-card source="cardId" :filter="personWithCardFilter" clearable/>
<ait-ref-card-field source="cardId" :item="mitem"  class="mb-2"/>
              </textarea
                  >
                </div>
              </div>
            </v-card>
          </ait-edit-form-layout>
        </ait-form>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import { utils } from "@ait/share2";
import { register, registerSearch } from "../../../../lookup";
import { getUSER_IDS, getUSER_LIST } from "../data";

function addDays(date, days) {
  let result = new Date(date);
  result.setDate(result.getDate() + days);
  return result;
}

export default {
  data() {
    return {
      clearable: true,
      item: {
        userId: "1",
        foo: "bar",
        date: new Date(),
        sexId: "00000000-0000-0000-0006-000000000001",
        postId: "e9bfdd85-5ec9-44e4-bf78-08f9614cd60b",
        postId2: "0175fb59-7401-446c-90a4-81176b8b5ad5",
        flag: true,
        time: "00:02",
        personDocTypeId: "00000000-0000-0000-0013-000000000002",
        personDocKindId: "7922dc6a-5b3a-4e4d-9a37-8b45456d9434",
        date2: "2021-03-02T11:23:06.000Z"
      },
      mitem: null,
      editable: true,
      personDocKindFilters: [] // [{ source: "personDocTypeId" }],
    };
  },
  computed: {
    personDocTypeFilterId() {
      return this.mitem?.personDocTypeId;
    },
    personDocKindFilter() {
      return { personDocTypeId: this.personDocTypeFilterId };
    },
    personFilter() {
      return { personId: this.mitem?.personId };
    },
    personWithCardFilter() {
      return { personId: this.mitem?.personWithCardId };
    }
  },
  methods: {
    onAction(e) {
      // this.$aitify.toast.success(e);
      const userId = utils.getRandomInt(1, 299);
      const i = utils.getRandomInt(1, 4);
      const sexId = `00000000-0000-0000-0006-00000000000${i}`;
      const postId = utils.getRandomString(
        "e9bfdd85-5ec9-44e4-bf78-08f9614cd60b",
        "a6ce7acc-fb0b-49b2-9108-a8c4ce4740f2",
        "0175fb59-7401-446c-90a4-81176b8b5ad5",
        "bc7968ed-19d2-495d-82fc-8515b1d11005",
        "2a328869-8d6b-40d7-8e49-a3fdcdbe9b81"
      );
      const postId2 = utils.getRandomString(
        "e9bfdd85-5ec9-44e4-bf78-08f9614cd60b",
        "a6ce7acc-fb0b-49b2-9108-a8c4ce4740f2",
        "0175fb59-7401-446c-90a4-81176b8b5ad5",
        "bc7968ed-19d2-495d-82fc-8515b1d11005",
        "2a328869-8d6b-40d7-8e49-a3fdcdbe9b81"
      );

      this.item = {
        userId,
        date: addDays(new Date(), userId),
        sexId,
        postId,
        postId2,
        flag: !this.item.flag,
        time: utils.getRandomInt(10, 23) + ":" + utils.getRandomInt(10, 59)
      };

      console.log("event", e, userId);

      if (e.action === "close") {
        this.clearable = !this.clearable;
      }

      if (e.action === "edit" || e.action === "back") {
        this.editable = !this.editable;
      }
    },
    onInput(val) {
      console.log(val);
      this.mitem.personDocId = null;
    },
    age: utils.age,
    initialFio: utils.initialFio,
    fio: utils.fio,
    formatDate: utils.formatDate
  }
};

register("demo2", async keys => ({
  user: await getUSER_IDS(keys["user"])
}));

registerSearch("demo2", {
  user: getUSER_LIST
});
</script>

<style scoped>
.lookups-code {
  width: 100%;
  background: floralwhite;
}
</style>
