<template>
  <ait-form v-model="mitem" :item="dataitem" class="mt-2">
    <v-card flat>
      <slot v-bind:item="dataitem">
        <component
          :is="`ait-ref-${type}`"
          source="fooId"
          :record-item.sync="recordItem"
          clearable
          v-bind="data"
        />
        <div>
          <code>
            {{ sourceInpit }}
          </code>
        </div>
        <v-divider class="mt-1" />
        <div class="mt-3">
          <component
            :is="`ait-ref-${type}-field`"
            source="fooId"
            v-bind="data"
            :item="mitem"
          />
        </div>
        <div class="mt-3">
          <code>
            {{ sourceField }}
          </code>
        </div>
        <div v-if="views && views.length">
          <v-divider class="mt-1" />
          <small class="text-caption">view: {{ cview }}</small>

          <v-chip-group active-class="primary--text" column v-model="cview">
            <v-chip v-for="tag in views" :key="tag" :value="tag">
              {{ tag }}
            </v-chip>
          </v-chip-group>
        </div>
        <div v-if="note">
          <v-divider class="mt-1" />
          <small class="text-caption">note:</small>
          <div
            class="mt-3"
            v-html="note"
            style="background-color:cornsilk;padding: 8px;"
          ></div>
        </div>
        <v-divider class="mt-1" />
        <div class="mt-3">
          <h5>v-model</h5>
          {{ mitem }}
        </div>
        <v-divider class="mt-1" />
        <h5 class="mt-3">:record-item.sync</h5>
        <pre style="font-size: 0.7em;">{{ recordItemJson }}</pre>
      </slot>
    </v-card>
  </ait-form>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  data() {
    return {
      mitem: null,
      cview: this.item?.data?.view,
      recordItem: null,
      dataitem: {
        fooId: null
      }
    };
  },
  computed: {
    type() {
      return this.item.type;
    },
    note() {
      return this.item.note || "";
    },
    views() {
      return this.item.views || [];
    },
    data() {
      const d = this.item.data || {};
      const cview = this.cview;
      const data = { ...d };
      if (cview) data["view"] = cview;
      return data;
    },
    props() {
      const d = this.data;
      const keys = Object.keys(d);
      return keys
        .map(k => {
          const key = utils.kebab_case(k);
          const val = d[k];
          if (typeof val === "boolean") return key;

          return `${key}="${d[k]}"`;
        })
        .join(" ");
    },
    sourceInpit() {
      return `  <ait-ref-${this.type} source="fooId" ${this.props} clearable /> `;
    },
    sourceField() {
      return `  <ait-ref-${this.type}-field source="fooId" ${this.props} />`;
    },
    recordItemJson() {
      return JSON.stringify(this.recordItem, null, 2);
    }
  }
};
</script>

<style></style>
