<template>
  <v-list-item two-line>
    <v-list-item-content>
      <v-list-item-title>
        <!-- <ait-ref-field
          :item="item"
          source="bankId"
          reference="common.bank_requisites"
          itemValue="value"
        /> -->
        <ait-ref-bank-detail-field :item="item" source="bankId" view="span" />
      </v-list-item-title>
      <v-list-item-subtitle>
        <ait-text-field :item="item" source="bankName" />
        <slot name="item" :item="item">
          <small>
            <br />
            <ait-text-field :item="item" source="bankSubName" />
          </small>
        </slot>
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
// Item list view
export default {
  props: {
    item: Object
  }
};
</script>
