<template>
  <span>
    <!-- <ait-ref-field
      :item="item"
      source="bankId"
      reference="common.banDetail"
      itemValue="value"
    /> -->
    <ait-ref-bank-detail-field :item="item" source="bankId" view="span" />
  </span>
</template>

<script>
// Item span view
export default {
  props: {
    item: Object
  }
};
</script>
