<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title>
        <template v-for="n in item.level">&nbsp;&nbsp;</template>
        <span :class="{ 'font-weight-bold': !item.parentId }">{{ item.name }}</span>
      </v-list-item-title>
      <v-list-item-subtitle>
        <span v-if="item.level > 0" style="margin-left:2px">
          <template v-for="n in item.level">&nbsp;&nbsp;</template>
          <span>{{ item.docTypeName }}</span>
        </span>
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>
