<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners" />
</template>

<script>
import ListItem from "./NobjItem.list.vue";
import SpanItem from "./NobjItem.span.vue";

export default {
  components: {
    ListItem,
    SpanItem
  },
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>
