<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    :filters="filters"
    reference="dict2.nobj"
    itemValue="id"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-nobj-item
          class="ait-ref-input--list-item"
          :item="item"
          :view="view"
        />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-nobj-item
          class="ait-ref-input--list-item"
          :item="item"
          :view="view"
        />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Объект нумерации"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "docTypeId",
          type: "ref",
          label: "Тип документа",
          attributes: {
            reference: "dict2.docType",
            itemValue: "docTypeId",
            itemText: "name"
          }
        },
      ]
    };
  }
};
</script>
