<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title>
        {{ item.code }}
        <span v-html="delimiter" />{{ item.name }}
      </v-list-item-title>
    </v-list-item-content>
    <slot name="action" :item="item" />
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object,
    delimiter: {
      type: String,
      default: " - "
    }
  }
};
</script>

<style></style>
