<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners">
    <template v-slot:action="{ item }">
      <slot name="action" :item="item"> </slot>
    </template>
  </component>
</template>

<script>
import List from "./Dict.list.vue";
import Span from "./Dict.span.vue";
import Short from "./Dict.short.vue";
import CodeItem from "./Dict.code.vue";
import IconItem from "./Dict.icon.vue";
import IspanItem from "./Dict.ispan.vue";

export default {
  components: {
    listItem: List,
    spanItem: Span,
    shortItem: Short,
    CodeItem,
    IconItem,
    IspanItem
  },
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    getView() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>

<style></style>
