<template>
  <span class="d-flex align-center">
    <v-icon v-if="item.icon" dense :color="color(item.icon)">{{
      icon(item.icon)
    }}</v-icon>
    <span class="ml-1">{{ item.name }}</span>
  </span>
</template>

<script>
import { getIcon, getColor } from "./iconUtil";

export default {
  props: {
    item: Object
  },
  methods: {
    icon(icon) {
      return getIcon(icon);
    },
    color(icon) {
      return getColor(icon);
    }
  }
};
</script>

<style></style>
