<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    :reference="reference"
    :itemValue="itemValue"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-dict-item :item="item" :view="view">
          <template v-slot:action="{ item }">
            <slot name="action" :item="item"> </slot>
          </template>
        </ait-dict-item>
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    view: {
      type: String,
      default: "span"
    },
    reftype: {
      type: String,
      required: true
    }
  },
  computed: {
    reference() {
      return `dict2.${this.reftype}`;
    },
    itemValue() {
      return `${this.reftype}Id`;
    }
  }
};
</script>
