<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    :reference="reference"
    :itemValue="itemValue"
    divided
  >
    <!-- list or span for List item by view-->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-dict-item
          :item="item"
          :view="view"
          class="ait-ref-input--list-item"
        >
          <template v-slot:action="{ item }">
            <slot name="action" :item="item"> </slot>
          </template>
        </ait-dict-item>
      </slot>
    </template>
    <!-- span for Input -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-dict-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Справочник"
    },
    reftype: {
      type: String,
      required: true
    },
    view: {
      type: String,
      default: "list"
    }
  },
  computed: {
    reference() {
      return `dict2.${this.reftype}`;
    },
    itemValue() {
      return `${this.reftype}Id`;
    }
  }
};
</script>
