<template>
  <ait-ref-input
    v-bind="$attrs"
    :label="label"
    v-on="$listeners"
    reference="pricelist2.service"
    divided
  >
    <template v-slot="{ item }">
      <slot name="item" :item="item">
        <ait-service-item
          :item="item"
          :view="view"
          class="ait-ref-input--list-item"
        />
      </slot>
    </template>
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-service-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Услуга"
    },
    view: {
      type: String,
      default: () => "list"
    }
  }
};
</script>
