<template>
  <v-list-item two-lines>
    <v-list-item-content>
      <v-list-item-title>
        {{ codeNameText }}
      </v-list-item-title>
      <v-list-item-subtitle>
        <small>{{ periodText }}</small>
      </v-list-item-subtitle>
    </v-list-item-content>
    <slot name="action" :item="item" />
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object
  },
  computed: {
    codeNameText: function() {
      let result = `${this.item.code} - ${this.item.name}`;
      return result;
    },
    periodText: function() {
      let result = ``;
      if (this.item) {
        result = `Действует с ${new Date(
          this.item.startDate
        ).toLocaleDateString()}`;
        if (this.item.finishDate)
          result += ` по ${new Date(
            this.item.finishDate
          ).toLocaleDateString()}`;
      }
      return result;
    }
  }
};
</script>

<style></style>
