<template>
  <component :is="getView" :item="item" v-bind="$attrs" v-on="$listeners">
    <template v-slot:action="{ item }">
      <slot name="action" :item="item" />
    </template>
  </component>
</template>

<script>
import Span from "./Service.span.vue";
import List from "./Service.list.vue";

export default {
  components: {
    spanItem: Span,
    listItem: List
  },
  inheritAttrs: false,
  props: {
    item: Object,
    view: {
      type: String,
      default: "span"
    }
  },
  computed: {
    getView: function() {
      return (this.view || "span") + "-item";
    }
  }
};
</script>

<style></style>
