<template>
  <v-container fluid>
    <v-skeleton-loader
      class="mx-auto"
      tile
      type="card-heading, image"
    ></v-skeleton-loader>
    <v-skeleton-loader
      class="mx-auto mt-4"
      tile
      type="button"
    ></v-skeleton-loader>
  </v-container>
</template>

<script>
export default {};
</script>

<style></style>
