<template>
  <ait-loading type="form" v-if="loading" v-bind="$attrs" />
  <ait-page500 v-else-if="error" />
  <div v-else>
    <slot />
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    loading: Boolean,
    error: [String, Object, Boolean]
  },
  watch: {
    error: {
      immediate: true,
      handler(e) {
        if (e) console.error(e);
      }
    }
  }
};
</script>

<style></style>
