<template>
  <div>
    <v-skeleton-loader :type="getType" :key="n" v-for="n in getRows" />
  </div>
</template>

<script>
export default {
  props: {
    rows: {
      type: String | Number
    },
    kind: {
      type: String | Number
    }
  },
  computed: {
    getRows() {
      return parseInt(this.rows, 10) || 10;
    },
    getType() {
      const k = parseInt(this.kind, 10);
      switch (k) {
        case 1:
          return "list-item";
        case 2:
          return "list-item-two-line";
        case 3:
          return "list-item-three-line";
        case 11:
          return "list-item-avatar";
        case 12:
          return "list-item-avatar-two-line";
        case 13:
          return "list-item-avatar-three-line";
        default:
          return "list-item-two-line";
      }
    }
  }
};
</script>

<style></style>
