<template>
  <v-row>
    <v-col style="position: relative">
      <small
        v-once
        class="ait-loading--small font-weight-light grey--text text--darken-1"
        :style="getM"
      >
        {{ text }}
      </small>
      <component :is="floading" :rows="rows" :kind="kind" :cols="cols" />
    </v-col>
  </v-row>
</template>

<script>
import Form from "./Form.vue";
import Line from "./Line.vue";
import List from "./List.vue";

export default {
  components: {
    "list-loading": List,
    "form-loading": Form,
    "line-loading": Line
  },
  props: {
    type: {
      type: String,
      default: "line"
    },
    text: {
      type: String,
      default: "загрузка..."
    },
    rows: {
      type: String | Number
    },
    cols: {
      type: String | Number
    },
    kind: {
      type: String | Number
    }
  },
  computed: {
    floading() {
      return (this.type ?? "line") + "-loading";
    },
    getM() {
      return this.kind > 10 ? { "margin-left": "53px" } : null;
    }
  }
};
</script>

<style>
.ait-loading--small {
  left: 32px;
  z-index: 1;
  position: absolute;
}
</style>
