<template>
  <ait-entity
    v-bind="$attrs"
    :vmode="vmode"
    :id="id"
    :view="view"
    :big-boss="bigBoss"
    :skip-show="!bigBoss"
    :route-path="routePath"
    reftype="skeleton.foo"
    @action="onAction_"
  >
    <!-- LIST -->
    <template #list-plain="{ getList, onAction }">
      <ait-simple-list
        title="Список пользователей"
        divided
        :icon="bigBoss ? `mdi-arrow-left` : ``"
        :is-toolbar-app="bigBoss"
        :get-list="getList"
        show-toolbar
        show-refresh
        show-create
        show-search
        align-filter=""
        @action="onAction"
      >
        <template #item="{ item }">
          <ait-foo-item :item="item" view="list" />
        </template>
      </ait-simple-list>
    </template>

    <!-- SHOW -->
    <template #item-show="{ item, onAction }">
      <ait-wg-layout
        box
        toolbar
        :toolbar-app="bigBoss"
        toolbar-icon="mdi-arrow-left"
        toolbar-title="Пользователь"
        :item="item"
        :asidebar-app="bigBoss"
        :asidebar="bigBoss"
        :asidebar-actions="['back', 'edit', 'list', '-', 'delete']"
        :action-disableds="['delete']"
        :toolbar-actions="bigBoss ? ['refresh'] : ['edit', '-', 'refresh']"
        @action="onAction"
      >
        <ait-form :item="item" class="pa-5">
          <ait-form-title>{{ item.name }}</ait-form-title>
          <ait-field source="id" label="#id" />
          <ait-field source="name" label="Фамилия" />
        </ait-form>
      </ait-wg-layout>
      <!-- DETAIL ITEM VIEW - контакт -->
      <ait-bar id="2ed8f022-8450-11ec-9c81-c34f6f898623" vmode="item" />
      <!-- DETAIL LIST VIEW - контакты -->
      <ait-bar :fooId="item.id" />
      <!-- <ait-bar /> -->
    </template>

    <!-- EDIT -->
    <template #item-edit="{ item, onAction }">
      <ait-wg-layout
        mode="edit"
        :toolbar-app="bigBoss"
        toolbar-title="Пользователь"
        :item="item"
        :toolbar-menu-actions="['back', 'list', 'show', '-', 'delete']"
        :action-disableds="['delete']"
        @action="onAction"
      >
        <ait-form
          diff
          :item="item"
          v-model="editItem"
          :save-data="saveEdit"
          @action="onAction"
        >
          <ait-form-title> Изменить </ait-form-title>

          <ait-text-input label="ФИО" source="name" required />
          <ait-save-button check-changes color="primary" large />
        </ait-form>
      </ait-wg-layout>
    </template>

    <!-- CREATE -->
    <template #item-create="{ item, onAction }">
      <ait-wg-layout
        mode="edit"
        :toolbar-app="bigBoss"
        toolbar-title="Пользователь"
        :item="item"
        :toolbar-menu-actions="['back', 'list']"
        @action="onAction"
      >
        <ait-form
          diff
          :item="item"
          v-model="editItem"
          :save-data="saveCreate"
          @action="onAction"
        >
          <ait-form-title> Создать </ait-form-title>
          <ait-text-input label="ФИО" source="name" required />
          <ait-save-button check-changes color="success" large />
        </ait-form>
      </ait-wg-layout>
    </template>
  </ait-entity>
</template>

<script>
import * as api from "./api";
import AitBar from "../bar/Bar.vue";
import { AitBarItem, AitFooItem } from "../../lookups";

export default {
  components: {
    AitBar,
    AitBarItem,
    AitFooItem
  },
  props: {
    vmode: String,
    id: String,
    view: String,
    bigBoss: Boolean,
    filter: Object,
    routePath: {
      type: String,
      default: "foo"
    }
  },
  data() {
    return {
      editItem: null
    };
  },
  methods: {
    onAction_(e) {
      console.log("@@@@", e);
    },
    async saveEdit(e) {
      const input = { ...e.diff, id: e.original.id };
      return api.update({ input });
    },
    async saveCreate(e) {
      const input = { ...e.diff };
      return api.insert({ input });
    }
  }
};
</script>

<style></style>
