<template>
  <v-dialog v-bind="$attrs" v-model="dialog" max-width="600">
    <v-card>
      <v-card-title class="title">
        {{ title }}
      </v-card-title>
      <v-card-text>
        {{ message }}
      </v-card-text>
      <v-card-actions>
        <v-btn color="red darken-1" text @click.native="result = true">
          {{ $aitify.options.t["confirm.yes"] }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn text @click.native="result = false">
          {{ $aitify.options.t["confirm.no"] }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  inheritAttrs: false,
  data: () => ({
    dialog: false,
    title: null,
    message: null,
    result: { type: Boolean, deault: () => null }
  }),
  watch: {
    "$store.state.message.confirm"(newVal) {
      if (newVal) {
        this.dialog = true;
        this.title = newVal.title;
        this.message = newVal.message;
        return;
      }

      this.dialog = false;
    },
    result(v) {
      if (v === null) return;
      if (v) {
        this.$store.dispatch("message/agree");
      } else {
        this.$store.dispatch("message/cancel");
      }
    },
    dialog(v) {
      if (!v) {
        this.result = false;
      } else {
        this.result = null;
      }
    }
  }
};
</script>
<style>
/* .ait-dialog--confirm {
				  max-width: 600px;
				  min-width: 300px;
				} */

/* .v-dialog .ait-dialog--confirm {
			max-width: 600px;
		} */
</style>
