<template>
  <ait-form :style="{ 'flex-grow': grow }">
    <v-slide-group multiple show-arrows>
      <v-slide-item v-for="(item, index) in filters" :key="index">
        <v-col
          sm="auto"
          style="flex-grow:1"
          :class="item.source !== 'q' && 'ait-form-filter--input'"
        >
          <!-- {{item}} -->
          <div class="d-flex align-center">
            <v-btn
              small
              text
              icon
              class="mr-2"
              v-if="!item.alwaysOn"
              @click="remove(item)"
            >
              <v-icon>mdi-close-circle-outline</v-icon>
            </v-btn>
            <!-- <div
							style="display:flex;width:100%"
							class="ait-form-filter--input"
						> -->
            <slot
              :name="item.source"
              :source="item.source"
              :label="item.label"
              v-bind="item.attributes"
              :value="value[item.source]"
            >
              <input-filter
                :type="item.type"
                :source="item.source"
                :placeholder="item.label"
                :label="item.label"
                :class="item.class"
                v-bind="item.attributes"
                :value="value[item.source]"
                @input="val => update(item, val)"
              />
            </slot>
            <!-- </div> -->
          </div>
        </v-col>
      </v-slide-item>
    </v-slide-group>
  </ait-form>
</template>

<script>
import InputFilter from "./InputFilter";

export default {
  components: {
    InputFilter
  },
  props: {
    value: {
      type: Object,
      default: () => {}
    },
    filters: {
      type: Array,
      default: () => []
    },
    grow: {
      type: [String, Number],
      default: 2
    }
  },
  methods: {
    remove(filter) {
      let value = { ...this.value };
      delete value[filter.source];

      this.$emit("remove", filter);
      this.$emit("input", value);
    },
    update(item, value) {
      this.$emit("input", {
        ...this.value,
        [item.source]: value
      });
    }
  }
};
</script>
<style>
.ait-form-filter--input .v-input {
  max-width: 300px;
}
</style>
