<template>
  <component
    :is="getFilterInputName"
    :resource="resource"
    :source="source"
    :label="label"
    v-bind="$attrs"
    hide-details
    :filled="false"
    :outlined="false"
    small-chips
    clearable
    dense
    solo
    v-model="input"
  ></component>
</template>

<script>
import Source from "../mixins/source";
import debounce from "lodash/debounce";

export default {
  mixins: [Source],
  props: {
    value: {
      default: null
    },
    type: {
      type: String,
      required: true
      // validator: (v) =>
      // 	[
      // 		"text",
      // 		"number",
      // 		"boolean",
      // 		"date",
      // 		"rating",
      // 		"select",
      // 		"autocomplete",
      // 		"ref",
      // 	].includes(v),
    },
    /**
     * Override default label behavior.
     */
    label: String
  },
  data() {
    return {
      input: null
    };
  },
  watch: {
    value: {
      handler(val) {
        this.input = val;
      },
      immediate: true
    },
    input() {
      this.debounceInput();
    }
  },
  computed: {
    getFilterInputName() {
      if (this.type) {
        if (this.type.startsWith("ait")) return this.type;
        if (this.type.startsWith("#")) return this.type.replace("#", "");
      }
      return `ait-${this.type}-input`;
    }
  },
  methods: {
    debounceInput: debounce(function() {
      this.$emit("input", this.input);
    }, 200)
  }
};
</script>
