<template>
  <ait-le :loading="loading" :error="error">
    <slot name="item-create" :item="item" :on-action="onAction">
      <ait-wg-layout
        mode="create"
        :item="item"
        box
        toolbar
        toolbar-title="#item-create"
        toolbar-icon="mdi-arrow-left"
        :toolbar-menu-actions="['back', 'list']"
        @action="onAction"
      >
        <slot name="item-create--form" :item="item" :on-action="onAction">
          <ait-form :item="item">
            <ait-form-title>#item-create > #item-create--form</ait-form-title>
            {{ item }}
          </ait-form>
        </slot>
      </ait-wg-layout>
    </slot>
  </ait-le>
</template>

<script>
import raise from "../../raise.mixin";

export default {
  inheritAttrs: false,
  mixins: [raise],
  props: {
    createItem: Function
  },
  data() {
    return {
      item: {},
      loading: false,
      error: null
    };
  },
  mounted() {
    this.reload();
  },
  methods: {
    async reload() {
      if (!this.createItem) return;
      try {
        this.error = null;
        this.loading = true;
        const item = await this.createItem();
        this.item = item;
        this.loading = false;
        this.raiseUp("create-item", { item });
      } catch (e) {
        this.loading = false;
        const error = e?.message || "Ошибка";
        this.error = error;
        this.raiseUp("error", { error });
      }
    },
    onAction(e) {
      this.raiseUp(e);
    }
  }
};
</script>

<style></style>
