<template>
  <v-list-item>
    <v-list-item-icon>
      <v-icon color="indigo"> {{ mdiIcon }} </v-icon>
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>{{ item.value }}</v-list-item-title>

      <v-list-item-subtitle>
        <!-- БЫЛО
        {{ item.foo && item.foo.name }} -->
        <!-- cм. f-ию map в сервере Лукапа
         СТАЛО -->
        {{ item.fio }}
      </v-list-item-subtitle>
      <v-list-item-subtitle>
        <!-- lookup from dict2 as SPAN field -->
        <ait-ref-dict-field
          :item="item"
          source="commTypeId"
          reftype="commType"
          view="span"
        />
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <v-icon color="grey lighten-1"> mdi-star-outline </v-icon>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
// Item list view
export default {
  props: {
    item: Object
  },
  computed: {
    mdiIcon() {
      switch (this.item?.commTypeId) {
        case "00000000-0000-0000-0005-000000000004":
          return "mdi-phone";
        case "00000000-0000-0000-0005-000000000002":
          return "mdi-email";
        default:
          return "mdi-message-text";
      }
    }
  }
};
</script>
