<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    search-label="Телефон или Email"
    :item="item"
    :label="label"
    :filters="filters"
    item-value="id"
    reference="skeleton.bar"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-bar-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ РИСУЕМ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-bar-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// Input ref - Элемент ввода (выбора) состоит из выбранного значение + эл-тов списка выбора
export default {
  inheritAttrs: false,
  props: {
    item: Object,
    label: {
      type: String,
      default: () => "Контакт"
    },
    view: {
      type: String,
      default: "list"
    }
  },
  data() {
    return {
      filters: [
        {
          source: "commTypeId",
          type: "ait-ref-dict",
          label: "Тип связи",
          alwaysOn: true,
          attributes: {
            reftype: "commType"
          }
        }
      ]
    };
  }
};
</script>
