<template>
  <v-layout align-center :column="column" class="ait-avatar">
    <v-flex>
      <v-avatar v-if="hasIconSlot" :size="size" :tile="tile" :color="color_">
        <slot name="icon" />
      </v-avatar>
      <v-avatar v-else-if="src_" :size="size" :tile="tile" :color="color_">
        <img :src="src_" alt="Avatar" />
      </v-avatar>
      <v-icon v-else-if="icon_" :color="color_" :size="size">{{
        icon_
      }}</v-icon>
      <v-icon v-else :size="size" :color="color_">{{ deficon }}</v-icon>
    </v-flex>

    <!-- hidden-xs-only -->
    <v-flex
      xs12
      v-if="hasSlot"
      class="ait-avatar__name"
      :class="{
        'text-no-wrap': nowrap,
        'text-truncate': nowrap,
        'has-slot': hasSlot,
        horz: !column,
        vert: column,
        'primary--text': isActive
      }"
    >
      <slot></slot>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: "ait-avatar",
  props: {
    nowrap: Boolean,
    column: Boolean,
    tile: Boolean,
    color: String,
    icon: String,
    src: String,
    deficon: {
      type: String,
      default: "mdi-account-circle"
    },
    isActive: {
      default: false
    },
    minWidth: {
      type: [Number, String],
      default: 56
    },
    size: {
      type: [Number, String],
      default: 40
    },
    data: {
      type: Object,
      default: () => ({
        src: "",
        color: "",
        icon: ""
      })
    }
  },
  computed: {
    src_() {
      return this.src || this.data.src;
    },
    color_() {
      if (this.isActive) {
        return "primary";
      }
      return this.color || this.data.color;
    },
    icon_() {
      return this.icon || this.data.icon;
    },
    hasIconSlot() {
      return !!this.$slots.icon || !!this.$scopedSlots.icon;
    },
    hasSlot() {
      return !!this.$slots.default || !!this.$scopedSlots.default;
    },
    minWidth_() {
      return parseInt(this.minWidth, 10) + "px";
    }
  }
};
</script>
<style>
.ait-avatar__name.has-slot.vert {
  margin-top: 8px;
  text-align: center;
}

.ait-avatar__name.has-slot.horz {
  margin-left: 8px;
}
</style>
