<template>
  <v-chip
    v-bind="$attrs"
    v-on="$listeners"
    :color="background"
    :text-color="fontColor"
    class="ait-tag"
  >
    <slot>
      {{ txt || value }}
    </slot>
  </v-chip>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    value: String,
    txt: String,
    textColor: String,
    color: String,
    lighten: {
      type: Number,
      default: 90
    }
  },
  data() {
    return {
      backgroundColors: [
        "#F44336",
        "#FF4081",
        "#9C27B0",
        "#673AB7",
        "#3F51B5",
        "#2196F3",
        "#03A9F4",
        "#00BCD4",
        "#009688",
        "#4CAF50",
        "#8BC34A",
        "#CDDC39",
        "#FFC107",
        "#FF9800",
        "#FF5722",
        "#795548",
        "#9E9E9E",
        "#607D8B"
      ]
    };
  },
  computed: {
    background() {
      return (
        this.color ||
        this.randomBackgroundColor(
          this.txt?.length || this.value?.length || 0,
          this.backgroundColors
        )
      );
    },
    fontColor() {
      return this.textColor || this.lightenColor(this.background, this.lighten);
    }
  },
  methods: {
    randomBackgroundColor(seed, colors) {
      return colors[seed % colors.length];
    },
    lightenColor(hex, amt) {
      // From https://css-tricks.com/snippets/javascript/lighten-darken-color/
      let usePound = false;
      if (hex[0] === "#") {
        hex = hex.slice(1);
        usePound = true;
      }
      let num = parseInt(hex, 16);
      let r = (num >> 16) + amt;
      if (r > 255) r = 255;
      else if (r < 0) r = 0;
      let b = ((num >> 8) & 0x00ff) + amt;
      if (b > 255) b = 255;
      else if (b < 0) b = 0;
      let g = (num & 0x0000ff) + amt;
      if (g > 255) g = 255;
      else if (g < 0) g = 0;
      return (usePound ? "#" : "") + (g | (b << 8) | (r << 16)).toString(16);
    }
  }
};
</script>

<style>
.ait-tag > span {
  font-size: 85%;
}
</style>
