<template>
  <v-list-item two-line v-bind="$attrs" v-on="$listeners">
    <div class="d-flex align-center" style="width: 80px">
      <ait-tag :value="item.shortName || item.code" />
    </div>
    <v-list-item-content class="ml-4">
      <v-list-item-title>{{ item.name }}</v-list-item-title>
      <v-list-item-subtitle> {{ item.note }}</v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <ait-rus-role class="overline" :role="item && item.role" />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    item: Object
  }
};
</script>
