<template>
  <ait-ref-input
    v-bind="$attrs"
    :label="label"
    v-on="$listeners"
    reference="monitor2.arm"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-arm-item :item="item" />
      </slot>
    </template>
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-arm-item :item="item" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Арм"
    }
  }
};
</script>
