<template>
  <v-list-item>
    <v-list-item-content>
      <v-list-item-title>{{ item.contactValue }}</v-list-item-title>
      <v-list-item-subtitle>
        <ait-ref-dict-field
          :item="item"
          reftype="commType"
          source="commTypeId"
          view="span"
        />
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>
