<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    reference="person2.contact"
    itemValue="contactId"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-contact-item
          class="ait-ref-input--list-item"
          :item="item"
          :view="view"
        />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "Контакт"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
