<template>
  <v-list-item two-line v-bind="$attrs" v-on="$listeners">
    <v-list-item-avatar class="hidden-sm-and-down">
      <ait-ava :username="item.name || ''" />
    </v-list-item-avatar>
    <v-list-item-content class="ml-4" style="min-width: 125px">
      <v-list-item-title>
        {{ item.name }}
      </v-list-item-title>
      <v-list-item-title>
        <ait-ref-person-field
          :item="item"
          source="personId"
          class="ait-user-item--ref-person"
        >
          <template v-slot:item="p">
            {{ p.item.surname }} {{ p.item.firstname }}
            {{ p.item.patronymic }}
          </template>
        </ait-ref-person-field>
      </v-list-item-title>
    </v-list-item-content>
    <v-list-item-action class="hidden-sm-and-down">
      <v-list-item-subtitle style="color: LightSlateGray">{{
        item.email
      }}</v-list-item-subtitle>
    </v-list-item-action>
  </v-list-item>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  props: {
    item: Object
  },
  methods: {
    fio: utils.fio
  }
};
</script>

<style>
.ait-user-item--ref-person {
  flex: 1 1 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
</style>
