<template>
  <component
    :is="tag"
    @click="onclick"
    v-bind="$attrs"
    :class="{ 'ait-cursor--active': active }"
    tabindex="-1"
    :ripple="false"
  >
    <slot />
  </component>
</template>

<script>
export default {
  inject: {
    cursorMan: { default: undefined }
  },
  props: {
    position: { type: [Number, String], default: () => null },
    item: [Number, String, Object],
    tag: { type: [String, Object], default: "div" }
  },

  methods: {
    onclick() {
      if (this.cursorMan) {
        this.cursorMan.raiseAction("select:position", {
          position: this.position,
          item: this.item
        });
      } else {
        this.$emit("select:item", this.item);
      }
    }
  },

  computed: {
    active() {
      return this.position === this.cursorMan?.position;
    }
  },
  watch: {
    active() {
      if (this.active && this.cursorMan) {
        this.cursorMan.raiseAction("activated:cursor", {
          el: this.$el,
          item: this.item
        });
      }
    },
    position(newpos, oldpos) {
      if (this.cursorMan) {
        this.cursorMan.raiseAction("repos:cursor", {
          newpos,
          oldpos
        });
      }
    }
  },

  mounted() {
    if (this.cursorMan) {
      this.cursorMan.add(this.position);
    }
  },

  beforeDestroy() {
    if (this.cursorMan) {
      this.cursorMan.delete(this.position);
    }
  }
};
</script>

<style>
.ait-cursor--active {
  background-color: #e3edf8;
}

.ait-cursor--active:hover {
  background-color: #e3edf8 !important;
}

/* .ait-cursor--active::before {
                                                                                                                    content: "";
                                                                                                                    display: block !important;
                                                                                                                    width: 3px;
                                                                                                                    background: #1867c0;
                                                                                                                    margin: 0;
                                                                                                                  } */

/* .ait-cursor-blink {
                              display: none;
                              position: absolute;
                              width: 3px;
                              height: 100%;
                              background: #1867c0;
                            }

                            .ait-cursor--active > .ait-cursor-blink {
                              display: block;
                            } */

/* .v-list-item > .ait-cursor--active::before {
                                                                                                                    margin-left: -16px;
                                                                                                                  } */
</style>
