<template>
  <div :style="css">
    <slot><v-icon>mdi-alert</v-icon></slot>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: true
    },
    iterationCount: {
      type: [String, Number],
      default: "infinite"
    },
    duration: {
      type: Number,
      default: 1000
    }
  },
  computed: {
    css() {
      if (this.active)
        return {
          "animation-name": "cursorBlink",
          "animation-duration": "" + (this.duration || 1000) + "ms",
          "animation-iteration-count": "" + this.iterationCount
        };

      return "";
    }
  }
};
</script>

<style>
@keyframes cursorBlink {
  50% {
    opacity: 0;
  }
}
</style>
