<template>
  <component
    :is="tag"
    tabindex="-1"
    v-bind="$attrs"
    @keydown="onKeydown"
    @focus="onFocusList"
    @blur="onBlurList"
    :style="styleLayout"
    class="ait-cursor-man"
  >
    <slot />
  </component>
</template>

<script>
import createCursor from "./createCursor";
import { scrollToElm } from "../utils/scrollToElm";

function endsWithNumber(str) {
  return (
    str && str.length > 0 && str.charAt(str.length - 1).match(/[0-9A-Za-z]/)
  );
}

function getPx(h) {
  if (h == "0") return null;
  if (typeof h === "number") return h + "px";
  if (h && endsWithNumber(h)) return h + "px";
  return h;
}

export default {
  inject: {
    listState: { default: undefined }
  },
  provide() {
    return {
      cursorMan: this.cursorMan
    };
  },
  props: {
    isAround: Boolean,
    isFocus: Boolean,
    index: { type: Number, default: -1 },
    tag: { type: [String, Object], default: "div" },
    noBubble: Boolean,
    height: {
      type: [String, Number]
    },
    maxHeight: {
      type: [String, Number]
    },
    inputHolder: {
      type: [Object, String],
      default: () => null
    }
  },

  data() {
    const cursor = createCursor((...args) => this.raiseAction(...args));

    return {
      input: undefined,
      inFocusList: false,
      inFocusInput: false,
      cursor,
      debounce: null,

      cursorMan: {
        position: null,
        index: -1,
        item: null,
        add: pos => cursor.add(pos),
        delete: pos => cursor.remove(pos),
        raiseAction: (...args) => this.raiseAction(...args)
      },
      isMounted: Boolean,
      onInputFunc: {
        focus: e => this.onInputFocus(e),
        blur: e => this.onInputBlur(e),
        keydown: e => this.onKeydown(e)
      }
    };
  },

  computed: {
    heightLayout() {
      return getPx(this.height);
    },
    maxHeightLayout() {
      return getPx(this.maxHeight);
    },
    styleLayout() {
      let h = null;
      if (this.maxHeightLayout) {
        h = { "max-height": this.maxHeightLayout };
      } else if (this.heightLayout) {
        h = { height: this.heightLayout };
      }

      return (
        (h && {
          ...h,
          "overflow-x": "hidden",
          "overflow-y": "scroll"
        }) || {
          height: "auto",
          overflow: "visible"
        }
      );
    },

    inFocus() {
      return this.inFocusInput || this.inFocusList;
    }
  },

  watch: {
    index() {
      const idx = this.cursor.setIndex(this.index);
      if (this.index !== idx) {
        this.$emit("update:index", idx);
      }
    },
    input(v, old) {
      if (old) {
        this.unbindInput(old);
      }
      if (this.input) {
        this.bindInput();
      }
    },
    inFocusList() {
      if (this.input) {
        this.input.focus();
      }
    },
    isFocus() {
      if (this.isFocus) this.focus(); // setTimeout(() => this.focus(), 500);
    }
  },
  methods: {
    onKeydown: function(event) {
      if (event?.keyCode === 27) {
        this.emitAction(event);
      }
      this.cursor.onKeydown(event);
    },

    raiseAction(action, data) {
      switch (action) {
        case "activated:cursor":
          this.cursorMan.item = data.item;
          const cont = this.heightLayout ? this.$el : null;
          scrollToElm(data.el, cont);
          return;
        case "select:position": {
          this.cursor.setPosition(data.position);
          if (!this.inFocus) {
            this.focus();
          }
          break;
        }
        case "changed:cursor": {
          // sync cursor by mouse click
          this.cursorMan.position = data.position;
          this.cursorMan.index = data.index;
          const e = {
            action,
            item: this.cursorMan.item,
            index: data.index
          };

          this.debounceIndex();

          this.emitAction(e);
          break;
        }
        case "repos:cursor": {
          this.cursor.reposition(data);
          return;
        }
      }

      if (action === "enter:cursor" || action === "select:position") {
        const e = {
          action: "enter:item",
          item: action === "select:position" ? data.item : this.cursorMan.item,
          original: {
            action
          }
        };

        // console.log(e);

        this.emitAction(e);
        if (this.listState && !this.noBubble)
          this.listState.raiseAction(e.action, e.item);
      }
    },
    emitAction(e) {
      const next = { next: true };
      this.$emit("pre:action", e, next);
      if (next.next) this.$emit("action", e);
    },
    debounceIndex() {
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.$emit("update:index", this.cursorMan.index);
      }, 400);
    },
    async checkInput() {
      if (this.input || this.input === null) return;
      await this.$nextTick();
      let el = this.input ?? this.inputHolder;

      let elem = null;

      if (el && typeof el === "string") {
        elem = document.querySelector(el);
      } else if (this.listState) {
        elem = this.listState.getSearchInput();
      }

      this.input = elem?.parentNode ? elem : null;
    },

    focus() {
      if (!this.isDestroyed && this.isMounted) {
        this.$nextTick(() => {
          let el = this.input ?? this.$el;
          if (el?.focus) el.focus({ preventScroll: true });
        });
      }
    },
    unbindInput(inp) {
      inp = inp ?? this.input;
      if (inp) {
        inp.removeEventListener("focus", this.onInputFunc.focus);
        inp.removeEventListener("blur", this.onInputFunc.blur);
        inp.removeEventListener("keydown", this.onInputFunc.keydown);
      }
    },
    bindInput() {
      if (this.input) {
        const input = this.input;
        this.unbindInput(input);
        input.addEventListener("focus", this.onInputFunc.focus);
        input.addEventListener("blur", this.onInputFunc.blur);
        input.addEventListener("keydown", this.onInputFunc.keydown);
      }
    },

    onInputFocus() {
      this.inFocusInput = true;
    },
    onInputBlur() {
      this.inFocusInput = false;
    },

    onFocusList() {
      this.inFocusList = true;
    },
    onBlurList() {
      this.inFocusList = false;
    }
  },
  async mounted() {
    // this.cursor.mount(this.heightLayout ? this.$el : null);
    this.isMounted = true;
    await this.checkInput();
    if (this.isFocus) {
      this.focus();
    }
  },
  destroyed() {
    clearTimeout(this.debounce);
    this.isDestroyed = true;
    this.unbindInput();
    this.cursorMan.inputHolder = null;
    this.input = null;
    this.cursorMan.current = null;
    if (this.cursor) this.cursor.clear();
    this.cursor = null;
  }
};
</script>

<style>
*:focus {
  outline: none;
}
</style>
