<template>
  <!-- @pre:action="preAction" -->
  <ait-cursor-man @action="onAction" no-bubble>
    <ait-nav-list
      v-bind="$attrs"
      :horizontal="horizontal"
      :icon="icon"
      :menu="actions"
      :dense="dense"
    />
  </ait-cursor-man>
</template>

<script>
import ItemResource from "../mixins/item-resource";

import { utils } from "@ait/share2";
import { ACTION } from "./constants";

export default {
  inheritAttrs: false,
  mixins: [ItemResource],

  props: {
    // depecated
    value: [String, Object],
    items: {
      type: [Array, String],
      default: () => []
    },
    disableds: {
      type: [Array, String, Object],
      default: () => []
    },
    hiddens: {
      type: [Array, String, Object],
      default: () => []
    },
    propText: {
      type: [String, Function],
      default: null
    },
    dense: {
      type: Boolean,
      default: false
    },
    icon: Boolean,
    horizontal: Boolean,
    canremove: {
      type: String,
      default() {
        return this.$aitify.options.t["confirm.canremove"];
      }
    }
  },
  computed: {
    getDisableds() {
      if (Array.isArray(this.disableds)) return this.disableds;
      if (typeof this.disableds === "string")
        return this.disableds
          .split(",")
          .map(c => c.trim())
          .filter(c => !!c);

      if (typeof this.disableds === "object") {
        return Object.keys(this.disableds).filter(c => this.disableds[c]);
      }

      return [];
    },
    getHiddens() {
      if (Array.isArray(this.hiddens)) return this.hiddens;
      if (typeof this.hiddens === "string")
        return this.hiddens
          .split(",")
          .map(c => c.trim())
          .filter(c => !!c);
      if (typeof this.hiddens === "object") {
        return Object.keys(this.hiddens).filter(c => this.hiddens[c]);
      }
      return [];
    },
    actions() {
      const disableds_ = this.getDisableds || [];
      const hiddens_ = this.getHiddens || [];

      let items = [];

      if (Array.isArray(this.items)) items = this.items;
      else if (typeof this.items === "string")
        items = this.items
          .split(",")
          .map(c => c.trim())
          .filter(c => !!c);

      return items
        .map(c => {
          let citem = c;
          if (typeof c === "string") {
            citem = {
              action: c
            };
          }

          const action = citem?.action;
          if (action === "-") {
            citem = { divider: true };
          } else if (ACTION[action]) {
            citem = {
              ...ACTION[action],
              ...citem
            };
          } else {
            citem = {
              text: action,
              action: "mdi-folder",
              ...citem
            };
          }

          citem.disabled = citem.disabled || disableds_.includes(action);
          citem.hidden = citem.hidden || hiddens_.includes(action);

          return citem;
        })
        .filter(c => !c.hidden)
        .map((c, position) => {
          c.position = position;
          return c;
        });
    },
    valueName() {
      if (this.propText) {
        if (typeof this.propText === "function") {
          return this.propText(this.value);
        }
        return utils.getPropValue(this.value, this.propText);
      }

      return (
        this.value?.name ??
        this.value?.value ??
        this.value?.text ??
        this.value?.title ??
        this.value
      );
    }
  },
  methods: {
    raiseAct(action, data) {
      switch (action) {
        case "delete":
          this.$aitify.message
            .confirm({
              title: this.canremove,
              message: this.valueName
            })
            .then(r => {
              if (r) {
                this.$emit("select:item", "delete", data);
                this.$emit("action", { action, data });
              }
            });
          break;

        default: {
          this.$emit("select:item", action, data);
          this.$emit("action", { action, data });
        }
      }
    },
    onAction(e) {
      if (e?.item && e?.action === "enter:item" && !e?.item?.disabled) {
        this.raiseAct(e.item.action, this.value);
      }
    }
    // preAction(e, n) {
    //   if (e?.item) this.$emit("pre:select:item", e.item.action, n, this.value);
    // }
  }
};
</script>

<style></style>
