<template>
  <ait-ref-input
    v-bind="$attrs"
    v-on="$listeners"
    :label="label"
    :item="item"
    reference="skeleton.foo"
    divided
  >
    <!-- input #default - ТУТ ОТОБРАЖЕНИЕ ЭЛ-ТА ВВОДА (ВЫБРАННОГО ИЗ СПИСКА) -->
    <template v-slot="{ item }">
      <slot :item="item">
        <ait-foo-item :item="item" :view="view" />
      </slot>
    </template>
    <!-- list #item  ТУТ ЭЛ-Т СПИСКА !!! -->
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-foo-item :item="item" :view="view" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
// Input ref - Элемент ввода (выбора)
export default {
  inheritAttrs: false,
  props: {
    item: Object,
    label: {
      type: String,
      default: () => "Пользователь"
    },
    view: {
      type: String,
      default: "list"
    }
  }
};
</script>
