<template>
  <ait-form :item="item" v-model="editItem" @submit="onSubmit">
    <v-card flat>
      <!-- <v-card-text style="color: dimgray; margin-top:-20px;">
        Для входа в систему, выберите организацию и нажмите клавишу "Продолжить"
      </v-card-text> -->
      <ait-ref-tenant source="tenantId"> </ait-ref-tenant>

      <v-row class="mt-md-8 mt-5" no-gutters>
        <v-col>
          <v-btn
            :disabled="!curTenantId"
            class="btn"
            color="primary"
            type="submit"
            x-large
            tile
            style="width: 100%"
          >
            Продолжить
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </ait-form>
</template>

<script>
export default {
  props: {
    tenantId: String
  },
  data() {
    return {
      item: {
        tenantId: this.tenantId
      },
      editItem: null
    };
  },
  computed: {
    curTenantId() {
      return this.editItem?.tenantId || "";
    }
  },
  methods: {
    onSubmit(e) {
      this.$emit("on-tenant", this.curTenantId);
    }
  }
};
</script>

<style></style>
