<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onForget">
    <v-card flat>
      <v-card-text style="color:dimgray;margin-top:-20px;text-align:center;">
        Введите ваш email или логин<span class="hidden-xs-only"
          >, и мы вышлем вам <br />на email инструкцию для восстановления
          пароля</span
        >.
      </v-card-text>

      <v-text-field
        ref="name"
        label="Email или логин"
        v-model.trim="login"
        :rules="nameRules"
        @input="resetError"
        :disabled="isLoading"
        outlined
        required
        autocomplete="username"
      />

      <v-row class="mt-4" no-gutters>
        <v-col>
          <v-btn
            block
            color="primary"
            type="submit"
            x-large
            tile
            :loading="isLoading"
            :disabled="!(tenantId && valid) || isLoading"
          >
            Подтвердить
            <span slot="loader">Загрузка...</span>
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn class="mt-3 mt-md-6" text color="primary" @click="onBack">
            <v-icon left>mdi-arrow-left</v-icon>
            Назад
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </v-form>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    emailOrLogin: String,
    isLoading: Boolean
  },
  data() {
    return {
      login: this.loginOrEmail,
      nameRules: [v => !!v || "Не заполнен логин или email"],
      showPsw: false,
      valid: false
    };
  },
  computed: {
    ...mapState("auth2", ["tenantId"])
  },

  mounted() {
    this.focus();
  },

  methods: {
    focus() {
      this.$refs.name?.focus();
    },

    resetError() {},
    onBack() {
      this.$emit("on-back");
    },
    async onForget() {
      this.$emit("on-forget", {
        emailOrLogin: this.login,
        tenantId: this.tenantId
      });
    }
  }
};
</script>
