<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="doLogin"
    autocomplete="off"
  >
    <v-text-field
      ref="name"
      name="login"
      label="Введите логин"
      autocomplete="username"
      v-model.trim="login"
      :rules="nameRules"
      @input="resetError"
      :disabled="isLoading"
      outlined
      required
    />
    <v-text-field
      label="Введите пароль"
      name="password"
      v-model.trim="password"
      :rules="passwordRules"
      required
      outlined
      autocomplete="new-password"
      @input="resetError"
      :type="showPsw ? 'text' : 'password'"
      :append-icon="showPsw ? 'mdi-eye-off' : 'mdi-eye'"
      :disabled="isLoading"
      @click:append="showPsw = !showPsw"
    />

    <v-row v-if="!noForget">
      <v-col align="right">
        <v-btn
          text
          small
          color="primary"
          :disabled="isLoading"
          @click="onForgetPassword"
        >
          Забыли пароль?
        </v-btn>
      </v-col>
    </v-row>

    <v-row class="mt-md-8 mt-5" no-gutters>
      <v-col>
        <v-btn
          class="btn"
          color="primary"
          type="submit"
          x-large
          tile
          :loading="isLoading"
          :disabled="!valid || !password.length || isLoading"
        >
          Войти
          <span slot="loader">Загрузка...</span>
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  props: {
    isLoading: Boolean,
    noForget: Boolean
  },
  data() {
    return {
      login: "",
      password: "",
      nameRules: [v => !!v || "Не заполнен логин"],
      passwordRules: [v => !!v || "Не заполнен пароль"],
      showPsw: false,
      valid: false
    };
  },
  mounted() {
    this.focus();
  },
  methods: {
    focus() {
      this.$refs.name?.focus();
    },
    resetError() {},
    async doLogin() {
      this.$emit("on-login", {
        login: this.login,
        password: this.password
      });
    },
    onForgetPassword() {
      this.$emit("on-to-forget");
    }
  }
};
</script>

<style scoped>
.btn {
  width: 100%;
}
</style>
