<template>
  <v-container fluid style="padding-top: 0; padding-bottom: 0">
    <v-row no-gutters align="center" align-content="center">
      <v-col cols="1" class="light-blue--text text--darken-4">{{
        item.docNum
      }}</v-col>
      <v-col cols="6" style="font-weight: bold">{{ `${fio(item)}` }}</v-col>
      <v-col style="color: LightSlateGray; font-size: 90%">
        <ait-date-field :item="item.birthDate" age />
      </v-col>
      <v-col style="color: LightSlateGray; font-size: 90%">
        <ait-ref-field
          :item="item"
          source="genderId"
          reference="dict2.gender"
          itemValue="genderId"
        >
          <template v-slot:item="p">
            <v-chip
              x-small
              class="ma-2"
              :color="chipGenderColor(p.item.name || p.item.shortName)"
              :text-color="chipGenderTextColor(p.item.name || p.item.shortName)"
              :title="p.item.name || p.item.shortName"
              >{{ chipGenderText(p.item.name || p.item.shortName) }}
            </v-chip>
          </template>
        </ait-ref-field>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { utils } from "@ait/share2";

export default {
  inheritAttrs: false,
  props: {
    item: Object
  },
  methods: {
    chipGenderText(genderName) {
      return genderName && genderName[0].toUpperCase();
    },
    chipGenderColor(genderName) {
      if (genderName && genderName[0].toUpperCase() === "М")
        return "blue lighten-1";
      else if (genderName && genderName[0].toUpperCase() === "Ж")
        return "pink lighten-2";
      else return "default";
    },
    chipGenderTextColor(genderName) {
      return "white";
    },
    fio: utils.fio
  }
};
</script>
