<template>
  <ait-ref-input
    v-bind="$attrs"
    :label="label"
    v-on="$listeners"
    reference="card2.medCardListView"
    itemValue="docId"
    divided
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-card-item :item="item" />
      </slot>
    </template>
  </ait-ref-input>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: () => "MK"
    }
  }
};
</script>
