<template>
  <ait-ref-field
    v-bind="$attrs"
    v-on="$listeners"
    reference="card2.medCardListView"
    itemValue="docId"
  >
    <template v-slot:item="{ item }">
      <slot name="item" :item="item">
        <ait-card-item :item="item" />
      </slot>
    </template>
  </ait-ref-field>
</template>

<script>
export default {};
</script>
